// @file
// Form element styles.
$form-font-family: gesso-font-family(book) !default;
$form-label-font-family: gesso-font-family(condensedbook) !default;
$form-legend-font-family: gesso-font-family(book) !default;
$form-input-font-family: gesso-font-family(system) !default;
$form-description-color: gesso-grayscale(gray-5) !default;
$form-gap: gesso-spacing(xs);
form{
  font-family:$form-font-family;
  font-size: gesso-font-size(0);
  @include medium {
    font-size: gesso-font-size(-1);
  }
  font-weight:400;
}
[data-drupal-selector="edit-moderation-state-wrapper"],
[data-drupal-selector="content-moderation-entity-moderation-form"] .entity-moderation-form {
  background-color:#ffebc5;
  padding:1rem;
  .form-item-moderation-state-0-current{
    font-style:italic;
    label{
      font-size:gesso-font-size(0);
      font-style:normal;
      margin-bottom:0;
    }
  }
}
[data-drupal-selector="content-moderation-entity-moderation-form"] .entity-moderation-form {
  border: 0;
  margin-top: 0;
}

// Login screen making width 35rem.
.user-login-form{
  margin:0;
  max-width:35rem;

}
// Don’t style button elements, since they’re often styled as links for
// accessible widgets. Use the .button class in components/button.
button {
  overflow: visible;
}

// datalist {}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;

}

// form {}

// Don't style button, submit, or reset elements, since they're often styled as
// links for accessible widgets. Use the .button class in
// partials/components/button.
input {
  line-height: normal;

}

label,
.label,
.uw-label{
  display:block;
  font-family: $form-label-font-family;
  font-size: gesso-font-size(2);
  font-weight:  gesso-font-weight(regular);
  form &{
    margin-bottom: rem(gesso-spacing(xs));
  }
  abbr {
    display: inline;
    font-size: gesso-font-size(1);
  }

}

.desription,
.webform-element-description{
  color:$form-description-color;
  font-family: $form-font-family;
  font-size: gesso-font-size(-1);
  margin: .25rem 0;
}
// uw custon label css
.webform-client-form {
  margin-top: 0.75rem;
}

.form-required::after {
  color:#e00;
  content: "*";
  display:inline-block;
  font-family:gesso-font-family(system);
  font-size: gesso-font-size(2);
  font-weight:  gesso-font-weight(regular);
  margin-left:0.125rem;
}

.option {
  display: inline;
  font-family:gesso-font-family(book);
  font-size: gesso-font-size(0);
  font-weight:  gesso-font-weight(regular);
  letter-spacing:inherit;
  margin-left: 0.2rem;
  padding-left:0.25rem;
}
// meter {}

optgroup {
  font-weight: gesso-font-weight(bold);
}

// option {}

// output {}

// progress {}

// select {}

textarea {
  overflow: auto;
}


// Custom form layouts
.uw-site-container {
  // the bottom fixed admin tab with site container:
  .node-uw-ct-web-page-delete-form,
  .layout-region-node-footer__content,
  .node-layout-builder-form,
  .entity-view-display-layout-builder-form,
  .layout-builder-discard-changes,
  .node-confirm-form
  {
    .form-actions {
      background: gesso-color(ui, generic, background-lighter);
      border-top:1px solid gesso-color(ui, generic, background);
      bottom: 0;
      box-shadow: gesso-box-shadow(6);
      display:flex;
      height:auto;
      left: 0;
      margin: 0;
      padding: 0.5rem;
      position: fixed;
      width: 100%;
      z-index: gesso-z-index(overlay);
      [data-drupal-selector="edit-preview-toggle"]{
        order:10;
      }
      .button{
        margin:0.25rem 0;
        max-width:7rem;
      }
      @include medium {
        .button{
          margin-bottom:1rem ;
        }
        gap:$form-gap;
        height:4rem;
      }

      .form-item-toggle-content-preview {
        margin-top:1rem;
      }
      input [type='submit']{
        margin-top:0;
      }

      .form-wrapper input[type="submit"] {
        margin-top:0;
      }
    }
  }

  .webform-submission-form{
    .form-actions{
      display:flex;
      gap:1rem;
      margin:0.25rem 0;
      .button{
        @include button();
        height:inherit;
        margin:inherit;
      }
    }
  }
  // custom form actions
  .layout-region-node-footer__content .form-actions{
    .button[data-drupal-selector="edit-cancel"]{
      margin-left:0 !important;
    }
    @include medium {
      grid-template-columns:8rem 8rem 8rem 8rem;
      grid-template-rows:auto;
      row-gap: 1rem;
    }
  }
  // custom form actions
  .layout-builder-discard-changes .form-actions,
  .node-uw-ct-web-page-delete-form .form-actions{
    .button[data-drupal-selector="edit-cancel"]{
      margin-left:0 !important;
    }
    @include medium {
      grid-template-columns:8rem 8rem;
      grid-template-rows:auto;
      row-gap: 1rem;
    }
  }
  // custom form actions
  .entity-view-display-layout-builder-form .form-actions{
    .button[data-drupal-selector="edit-cancel"]{
      margin-left:0 !important;
    }
    @include medium {
      grid-template-columns:8rem 8rem 15rem;
      grid-template-rows:auto;
      row-gap: 1rem;
    }
  }
}
