{% set sitePath = url('<front>') %}
<form
    {%  if onsubmit %}
        onsubmit="{{ onsubmit }}"
    {% endif %}
    {%  if form_role %}
        role="{{ form_role }}"
    {% endif %}

    {% if form_action %}
        action="{{ form_action }}"
    {% endif %}

    {% if form_id %}
        id="{{ form_id}}"
    {% endif %}

    {% if form_method %}
        method="{{ form_method }}"
    {% endif %}

    {% if form_target %}
        target="{{ form_target }}"
    {% endif %}

    {% if form_autocomplete %}
        autocomplete="{{ form_autocomplete }}"
    {% endif %}

    {%  if form_rel %}
        rel="{{ form_rel }}"
    {% endif %}

    {%  if form_enctype %}
        enctype="{{ form_enctype }}"
    {% endif %}

    {%  if form_accept-charset %}
        accept-charset="{{ form_accept-charset }}"
    {% endif %}

    {%  if form_novalidate %}
        novalidate
    {% endif %}

    {%  if form_classes %}
        class="{{ form_classes }}"
    {% endif %}
>
    {%  if form_items  %}
        {% for form_item in form_items %}
            {%  if form_item.form_item_wrapper %}
                <div class="form-item form-item--{{ form_item.type }}">
            {% endif %}

          {%  if form_item.type == 'select' %}
            {%  if form_item.label %}
              <label for="{{ form_item.id }}" {%  if form_item.label.class %} class="{{ form_item.label.class }}" {% endif %}><span class="{{ form_item.label.class }}--labeltext">{{ form_item.label.text }}</span></label>
            {% endif %}

            {% include '@components/form-item/form-item--select/form-item--select.twig' with {
              'classes': form_item.classes,
              'id': form_item.id,
              'options': form_item.options,
            } %}
          {% else %}
          {% if form_item.is_button_tag %}
              {% include '@components/button/button.twig' with {
                  'is_button_tag': true,
                  'data_type_name' : form_item.data_type_name,
                  'data_type_value' : form_item.data_type_value,
                  'text': form_item.text,
                  'type': form_item.type,
                  'button_modifer_classes': item.button_modifer_classes,
                  'classes': form_item.classes,
                  'formaction': form_item.formaction,
                  'form': form_item.form,
                  'name':  form_item.name,
                  'formenctype': form_item.formenctype,
                  'value': form_item.value,
                  'formmethod': form_item.formmethod,
                  'formtarget': form_item.formtarget,
                  'btnclick': form_item.btnclick
              } %}
            {% else %}
                {%  if form_item.label %}
                    <label for="{{ form_item.id }}" {%  if form_item.label.class %} class="{{ form_item.label.class }}" {% endif %}><span class="{{ form_item.label.class }}--labeltext">{{ form_item.label.text }}</span></label>
                {% endif %}

                {% include '@base/02-html-elements/27-input/input.twig' with {
                    'classes': form_item.classes,
                    'default_value': form_item.default_value,
                    'id': form_item.id,
                    'name':  form_item.name,
                    'type': form_item.type,
                    'placeholder': form_item.placeholder,
                    'value': form_item.value,
                    'size': form_item.size,
                    'maxlength': form_item.maxlength
                } %}
            {% endif %}
          {% endif %}
            {% if form_item.form_item_wrapper %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% if fieldsets  %}
    {% for fieldset in fieldsets %}
        <fieldset {%  if fieldset.classes %} class="{{ fieldset.classes }}" {% endif %} {% if fieldset.id %} id=" {{ fieldset.id }}" {% endif %}>
        {% if fieldset.legend %}
            <legend {%  if fieldset.legend.classes %} class="{{ fieldset.legend.classes }}" {% endif %} {% if fieldset.legend.id %} id=" {{ fielset.legend.id }}" {% endif %}> {{ fieldset.legend.text }}</legend>
        {% endif %}
        {%  if fieldset.form_items  %}
            {% for fform_item in fieldset.form_items %}
                <!-- If you want the form-item wrapper divs
                Fuure work to call in the patterns per-->
                {%  if fform_item.form_item_wrapper %}
                <div class="form-item form-item--{{ fform_item.type }}">
                {% endif %}
                {%  if fform_item.label %}
                <label for="{{fform_item.id }}" {%  if fform_item.label.class %} class="{{ fform_item.label.class }}" {% endif %}><span class="uw-search--labeltext">{{ fform_item.label.text }}</span></label>
                {% endif %}
                {% include '@base/02-html-elements/27-input/input.twig' with {
                    'classes': fform_item.classes,
                    'default_value': fform_item.default_value,
                    'id': fform_item.id,
                    'name':  fform_item.name,
                    'type': fform_item.type,
                    'value': fform_item.value,
                    'placeholder': fform_item.placeholder,
                    'size': fform_item.size,
                    'maxlength': fform_item.maxlength
                } %}
                <!-- If you want the form-item wrapper divs -->
                {%  if fform_item.form_item_wrapper %}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </fieldset>
    {% endfor %}
{% endif %}


</form>
