// @file
// Ordered list styles.

ol {
  margin: 0 0 rem(gesso-spacing(sm));
  padding: 0 0 0 rem(gesso-spacing(md)); // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 rem(gesso-spacing(md)) 0 0;
    }
  }
  ol{
    list-style-type: lower-alpha;
    margin: rem(gesso-spacing(sm) / 2) 0 0;

    li  ol {
      list-style-type: lower-roman;
    }
  }
}


.lower-alpha {
  list-style-type: lower-alpha;
  li  ol {
    list-style-type: lower-alpha;
  }
}
.upper-alpha{
  list-style-type: upper-alpha;
  li  ol {
    list-style-type: upper-alpha;
  }
}
.lower-roman {
  list-style-type: lower-roman;
  li  ol {
    list-style-type: lower-roman;
  }
}
.upper-roman{
  list-style-type: upper-roman;
  li  ol {
    list-style-type: upper-roman;
  }
}
.decimal {
  list-style: decimal outside none;
  margin: 0;
  padding: 0 0 1rem 1rem;

  li {
    counter-increment: item;
    display: table;
    margin: 0.5rem 0;

    &::before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.6rem;
    }

    li {
      margin: 0.5rem 0;

      li::before {
        content: counters(item, ".") " ";
      }
    }

    ol {
      counter-reset: item;
      list-style: square outside none;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
