.uw-search-form {
  margin:0 0 gesso-spacing(sm) 0;
  .catalog-search-form,
  .service-search-form,
  .uw-project-search-form {
    display:grid;
    grid-template-columns: auto 3rem;
    padding:0;
    position: relative;
    .form-item{
      .description{
        margin:gesso-spacing(xs) 0;
      }
    }
    .form-text {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      width: 100%;
    }
    // the search button icon using the svg background function the svg
    .button{
      &[aria-label="search"]{
        @include svg-background(search_2-white);
        background-color:gesso-grayscale(gray-5);
        background-position: 50% 50%;
        background-repeat:no-repeat;
        background-size:50%;
        border:1px solid gesso-grayscale(gray-3);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 3px;
        height:2.39rem;
        margin:0;
        max-width:inherit;
        padding:0;
        transition: background-color 200ms cubic-bezier(0.4, 0, 1, 1);
        vertical-align: top;
        white-space: normal;
        width:inherit;
        &:hover,
        &:focus{
          @include svg-background(search_2);
          background-color:gesso-grayscale(white);
          background-position: 50% 50%;
        }
      }
    }
  }
}
