<div class="uw-form-search">
  {% if pattern_lab %}
    <div class="uw-form-search">
      <form class="form-search-form" data-drupal-selector="form-search-all-form" action="/catalogs" method="post" id="form-search-form" accept-charset="UTF-8" data-drupal-form-fields="edit-search-input,edit-submit">
        <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-search-input form-item-search-input form-no-label">
          <input data-drupal-selector="edit-search-input" type="text" id="edit-search-input" name="search_input" value="" size="60" maxlength="128" placeholder="Search within all catalogs" class="form-text required" required="required" aria-required="true">

        </div>
        <input aria-label="search" class="form-search-submit button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="">
        <input autocomplete="off" data-drupal-selector="form-sxccibplaegc-73-lec694bsvanum6b-j-wflacshoi" type="hidden" name="form_build_id" value="form-sxCCiBplaegC_73_LEC694bSvAnuM6B-j-wFlACShOI">
        <input data-drupal-selector="edit-form-search-all-form-form-token" type="hidden" name="form_token" value="ZwUmrQqVQLNwYel4ZKfXoIqHlDdO3R2L2wIyZNBPVPM">
        <input data-drupal-selector="edit-form-search-all-form" type="hidden" name="form_id" value="form_search_all_form">
      </form>
    </div>

  {% else %}
    <div class="uw-search-form">
      {{ form_search }}
    </div>
  {% endif %}
</div>
