.uw-content--grid-list {
  &__layout {
    @include uw-flex-grid();
    .card {
      @include uw-flex-term-item();
      // Set the rest of the cards to print
      // third.
      order: 3;
      .card__body{
        height:inherit;
      }

      &:first-of-type {
        @include uw-flex-term-item();
        // Set the first card to match
        // full width of gridded and print second row.
        order: 2;
        width: 100% !important;
      }
    }
  }
  &__style_controls {
    @include uw-flex-term-item();
    @include align-content(flex-end);
    // Set the controls for the layout
    // and off canvas as top row.
    order: 1;
    width: 100% !important;
  }
  .view-content {
    @include uw-flex-grid();

    .views-row{
      @include uw-flex-term-item();
      order: 3;
      &:first-of-type {
        @include uw-flex-term-item();
        // Set the first card to match
        // full width of gridded and print second row.
        order: 2;
        width: 100% !important;
      }
    }
  }
}
