{% if not views %}
<div class="uw-content--grid-list__layout {{ layout_style }}">
{% endif %}
  {% block content %}

    {% for item in lists %}
        {% if views %}
          <div class ="views-row">
        {% endif %}
{#        {% include "@components/card/card.twig" with {#}
{#          modifier_classes: item.modifier_classes,#}
{#          title: item.title,#}
{#          header_level: '2',#}
{#          url: item.url,#}
{#          footer: item.footer,#}
{#          date: item.date,#}
{#          date_format: item.date_format,#}
{#          read_more: item.read_more,#}
{#          tags: item.tags,#}
{#          tag_type: item.tag_type,#}
{#          sources: item.sources,#}
{#          img_element: item.img_element,#}
{#          alt: item.alt,#}
{#          content: item.content,#}
{#          show_hover: true,#}
{#          author_name: item.author_name,#}
{#          author_link: item.author_link#}
{#        } %}#}
      {% include '@components/card/card.twig' with {
        'url': item.url,
        'type': item.type,
        'show_hover': '',
        'header': item.header,
        'hero_image': item.hero_image,
        'listing_image': item.listing_image,
        'content': item.content,
        'footer': item.footer,
      } %}
        {% if views %}
          </div>
        {% endif %}
      {% endfor %}
    {% if content %}
    {{ content }}
    {% endif %}
  {% endblock %}
  {% if views and pattern_lab %}
  </div>
{% endif %}
{% if not views %}
  </div>
{% endif %}

