<div class="uw-google-maps">
  <div class="uw-google-maps__message">Enable JavaScript to view map.</div>
  <iframe src="{{ url }}" height="{{ height }}" allowfullscreen loading="lazy"></iframe>
</div>
