$faculties: 'org-default', 'neutral', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
@each $faculty in $faculties {
  // Wrapping the element with this class, <body>.
  .#{$faculty} {
    // If the UW branding group
    @if $faculty == org-default {
      .uw-exp-col{
        &__button{
          &[data-type="expand-all"] {
            background: gesso-grayscale('gray-2');
            border-right: 1px solid gesso-grayscale('gray-4');
            color: gesso-grayscale('gray-6');
          }

          &[data-type="collapse-all"] {
            background: gesso-grayscale('gray-2');
            color: gesso-grayscale('gray-6');
          }
          &:hover,
          &:focus {
            outline: none;

            &[data-type="expand-all"] {
              background: gesso-grayscale('gray-6');
              color: gesso-grayscale('gray-2');
            }

            &[data-type="collapse-all"] {
              background: gesso-grayscale('gray-6');
              color: gesso-grayscale('gray-2');
            }
          }
        }
        .uw-details{
          .details__summary {
            @include svg-background(mobile-arrow-down);
            background-color:gesso-grayscale('gray-2');
              h2, h3, h4, h5, h6 {
                color: gesso-grayscale('gray-6');
              }
            &:hover,
            &:focus{
              @include svg-background(mobile-arrow-down-w);
              background-color: gesso-grayscale('gray-6');
              h2,h3,h4,h5,h6{
                  color:$uw-white;
              }
            }
          }
          &[open] {
            > .details__summary{
              @include svg-background(mobile-arrow-up);
              background-color:gesso-grayscale('gray-2');
              h2,h3,h4,h5,h6{
                color:gesso-grayscale('gray-6');
              }

              &:focus{
                @include svg-background(mobile-arrow-up-w);
                background-color:gesso-grayscale('gray-6');
                h2,h3,h4,h5,h6{
                  color:$uw-white;
                }
              }
              &:hover{
                @include svg-background(mobile-arrow-up-w);
                background-color:gesso-grayscale('gray-6');
                h2,h3,h4,h5,h6{
                  color:$uw-white;
                }
              }
            }
          }
        }
      }

    }   // Else run the loop on the faculties.
    @else {
      .uw-exp-col{
        &__button{
          &[data-type="expand-all"] {
            background: gesso-brand($faculty, 'primary');
            border-right: 1px solid $uw-white;
            color:$uw-white;
          }

          &[data-type="collapse-all"] {
            background: gesso-brand($faculty, 'primary');
            color:$uw-white;
          }
          &:hover,
          &:focus {
            outline: none;

            &[data-type="expand-all"] {
              background-color:$uw-white;
              color:gesso-brand($faculty, 'primary');
            }

            &[data-type="collapse-all"] {
              background-color:$uw-white;
              color:gesso-brand($faculty, 'primary');
            }
          }
        }
        .uw-details{
          .details__summary {
            background-image:inherit;
          }
          .details__summary {
            background-color: gesso-brand($faculty, 'primary');
            h2, h3, h4, h5, h6 {
              color: $uw-white;
            }
            &::after{
              @include svg-background-color($uw-white,mobile-arrow-down);
            }
            &:hover,
            &:focus{
              background-color:$uw-white;
              &::after{
                @include svg-background-color(gesso-brand($faculty, 'primary'),mobile-arrow-down);
              }
              h2, h3, h4, h5, h6 {
                color: gesso-brand($faculty, 'primary');
              }
            }
          }
        }
        .uw-details[open] {

          .details__summary{
            background-image:inherit;
          }
          > .details__summary{
            background-color: gesso-brand($faculty, 'primary');
            h2, h3, h4, h5, h6 {
              color: $uw-white;
            }
            &::after{
              @include svg-background-color($uw-white,mobile-arrow-up);
            }
          }
          &:focus{
            .details__summary{
              background-image:inherit;
            }
            .details__summary{
              background-color:$uw-white;
              &::after{
                @include svg-background-color(gesso-brand($faculty, 'primary'),mobile-arrow-down);
              }
              h2, h3, h4, h5, h6 {
                color: gesso-brand($faculty, 'primary');
              }
            }
          }
          &:focus-within{
            .details__summary{
              background-image:inherit;
            }
            .details__summary{
              background-color:$uw-white;
              &::after{
                @include svg-background-color(gesso-brand($faculty, 'primary') ,mobile-arrow-up);
              }
              h2, h3, h4, h5, h6 {
                color: gesso-brand($faculty, 'primary');
              }
            }
          }
          &:hover{
            .details__summary{
              background-color:$uw-white;
              &::after{
                @include svg-background-color(gesso-brand($faculty, 'primary'),mobile-arrow-up);
              }
              h2, h3, h4, h5, h6 {
                color: gesso-brand($faculty, 'primary');
              }
            }

          }
        }
      }
    }
  }
}

.uw-exp-col{
  -webkit-font-smoothing: antialiased;
  &__operations {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0 0;

    li {
      display: inline-block;
    }
  }
  &___group-info,
  &__heading-selector,
  &__heading-text{
    display: inline-block;
  }
  &__heading-selector {
    .form-select {
      display: inline-block;
      width: 82%;
    }
  }
  &__group-info,
  &__heading-text{
    .ui-dialog &{
      input[size="60"]{
        display: inline-block;
      }
    }
  }
  &__table {
    td {
      vertical-align: top;
    }
  }
  &__controls {
    border: 1px solid gesso-grayscale(gray-2);
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: rem(gesso-spacing(sm));

    .no-js &{
      display: none;
    }
    .no-js.js &,
    .js &{
      display: grid;
    }
  }
  &__button {
    font-size: rem(gesso-font-size(1));
    font-weight: 400;
    margin: 0;
    max-width: inherit;
    &--controls {
      text-align: center;
    }
  }
  .uw-details{
    border:inherit;
    margin-bottom:1rem;
    margin-top:inherit;

    .details__summary{
      background-image:inherit;
      border: 1px solid gesso-grayscale(gray-2);
      padding:0;
      position:relative;
      text-shadow:inherit;
      transition: background-color gesso-duration(short) gesso-easing(ease-in-out);
      &::after{
        //background-color:$test-color-4;
        content:'';
        display:block;
        height:1rem;
        position:absolute;
        right:1rem;
        top:calc(50% - 0.5rem);
        width:1rem;
      }
      h2,h3,h4,h5,h6{
        font-family: gesso-font-family(condensedbook);
        // All headers currently set to same size
        font-size: gesso-font-size(1);
        font-weight: gesso-font-weight(regular);
        letter-spacing: 0.055rem;
        line-height: gesso-line-height(base);
        margin:0;
        padding:1rem 2.75rem 1rem 1rem;
        text-transform:uppercase;
      }
    }
    &[open]{
      .details__summary::after{
        //background-color:$test-color-8;
      }
    }
  }
  .details__content {
    background-color:#fafafa;
    padding: 1rem;
    .layout{
      padding:0;
    }
    .block{
      margin-bottom: 1rem;
    }
  }

}

.uw-exp-col__group-info {
  .form-type-entity-autocomplete {
    display: inline-block;
    width: 90%;
  }
}

/* stylelint-disable selector-max-id, declaration-no-important */
#drupal-modal {
  .uw-content-moderation {
    display: none;
  }
}
/* stylelint-enable selector-max-id, declaration-no-important */

.layout-builder{
  &__section [data-expand-collapse-group],
  &__section [data-expand-collapse-header] {
    margin-top: 2.5rem !important;
    position: relative;
    &:first-of-type{
      &::before {
        background: #195C8F;
        padding: 0.25rem 1rem;
        top:-0.5rem;
      }
    }
  }

  &.layout__region{
    outline: 2px dashed  #195C8F;
  }
}
