{% if exp_col.items|length > 0 %}
  <div id="{{ exp_col.uuid }}" class="uw-exp-col">
    {% if exp_col.show_exp_col_all %}
      <div class="uw-exp-col__controls">
        <button class="uw-exp-col__button uw-exp-col__button--controls" data-type="expand-all">Expand All</button>
        <button class="uw-exp-col__button uw-exp-col__button--controls" data-type="collapse-all">Collapse All</button>
      </div>
    {% endif %}

    {% for ec in exp_col.items %}
      <details class="uw-details">
        <summary class="details__summary">
          <{{ exp_col.heading_selector }}>{{ ec.heading_text }}</{{ exp_col.heading_selector }}>
        </summary>
        <div class="details__content">
          {{ ec.content }}
        </div>
      </details>
    {% endfor %}
  </div>
{% endif %}
