$faculties: 'org-default', 'neutral', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';

@each $faculty in $faculties {
  .uw-cta {
    .#{$faculty} {
      .uw-cta__text--big {

        @if $faculty == org-default {
          color: $uw-gold;
        }
        @else if $faculty == neutral {
          color: $uw-grey;
        }
        @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc{
          color: gesso-brand($faculty, 'light');
        }
        @else {
          color: gesso-brand($faculty, 'lvl1');
        }
      }
    }
    &__aside.#{$faculty} {
      a{
        &:hover,
        &:focus{
          @if $faculty == org-default {
            background-color: $uw-gold;

            .uw-cta__text--big,
            .uw-cta__text--small,
            .uw-cta__text--medium {
              color: $uw-black;
            }
          }
          @else if $faculty == neutral {
            background-color: $uw-grey;

            .uw-cta__text--big {
              color: $uw-white;
            }
          }
          @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc{
            background-color: gesso-brand($faculty, 'light');
            .uw-cta__text--big,
            .uw-cta__text--small,
            .uw-cta__text--medium,
            a {
              color: darken(gesso-brand($faculty, 'primary'), 5%)
            }
          }
          @else {
            background-color: gesso-brand($faculty, 'lvl1');

            .uw-cta__text--big,
            .uw-cta__text--small,
            .uw-cta__text--medium {
              color: gesso-brand($faculty, 'lvl4');
            }
          }
        }
      }
    }
  }
}
.uw-cta__center-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.uw-cta {
  clear: both;
  height: 100%;
  width: 100%;

  &.uw-contained-width {
    @include uw-contained-width;
    padding: 0;
  }

  .uw-cta__aside {
    background-color: $uw-black;
    border: 1px solid #fff;
    flex: 1 0 100%;
    .layout--uw-2-col &,
    .layout--uw-3-col &,
    .layout--uw-4-col &,
    .layout--uw-5-col & {
      flex: 1 0 100%;
    }
    @include small{
     flex: 1 0 50%;
    }
    @include medium{
    // test

    }
    @include large{
      flex: 1 0 30%;
    }
    @include xxl{
      flex: 1 0 25%;
    }
  }

  .uw-cta__aside:last-child {
    margin: 0;
  }
}
.uw-cta__link {
  border: 0;
  bottom:0;
  display: block;
  font-family:gesso-font-family(condensedbook);
  height:100%;
  left:0;
  min-height:6.25rem;
  padding: 0;
  position:relative;
  right:0;
  text-decoration: none;
  top:0;
  width: 100%;



  &:hover {
    text-decoration: none;
  }
}

.uw-cta__text {
  font-family:gesso-font-family(condensedbook);
  text-align: center;
  &--big {
    font-size:rem(gesso-font-size(3));
    letter-spacing: 0.05rem;
    line-height: 1.2;
    padding: 0 rem(gesso-spacing(xxs)) 0.313rem rem(gesso-spacing(xxs));
  }

  &--medium {
    color: $uw-white;
    font-size:rem(gesso-font-size(0));
    line-height: 1.2;
    padding: 0 rem(gesso-spacing(xxs)) rem(gesso-spacing(xxs)) rem(gesso-spacing(xxs));
    text-transform: uppercase;
  }

  &--small {
    color: $uw-white;
    font-family:gesso-font-family(systemmedium);
    font-size:rem(gesso-font-size(-2));
    line-height: 1;
    padding: 0 rem(gesso-spacing(xxs)) rem(gesso-spacing(xxs)) rem(gesso-spacing(xxs));
    text-transform: uppercase;
  }
}
@each $faculty in $faculties {
  .call-to-action-theme-#{$faculty}{

  display: table-cell;
  margin: 1px;
  vertical-align: middle;
  }
}
.uw-cta__wrapper {
  display: table;
  float: left;
  height: 6.25rem;
  width: 100%;
}
