<div class="uw-cta {{ width }}">
  <div class="uw-cta__center-wrapper">

    {% for cta in ctas %}

      <aside class="uw-cta__aside {{ cta.theme }}">

        {% if cta.link %}
          <a href="{{ cta.link }}" class="uw-cta__link">
        {% endif %}

        <div class="uw-cta__wrapper">
            <div class="call-to-action-theme-{{ cta.theme }}">
          {% for detail in cta.details %}

            <div class="uw-cta__text uw-cta__text--{{ detail.type }}">{{ detail.text }}</div>

          {% endfor %}
            </div>
        </div>

        {% if cta.link %}
          </a>
        {% endif %}

      </aside>

    {% endfor %}

  </div>
</div>
