// @file
// SVG background image

@mixin svg-background($image-name, $image-location: '../source/images/icons/') {
  background-image: url($image-location + $image-name + '.svg');
}

@mixin svg-background-color($image-color, $image-name, $image-location: '../source/images/icons/') {
  background-color: $image-color;
  -webkit-mask:  url($image-location + $image-name + '.svg') no-repeat;
  mask: url($image-location + $image-name + '.svg') no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}




@mixin svgz-background($image-name, $image-location: '../source/images/icons/') {
  background-image: url($image-location + $image-name + '.svgz');
}

@mixin svg-background-inline($image-name, $image-location: '../source/images/icons/') {
  background-image: inline($image-location + $image-name + '.svg');
}

@mixin svgz-background-inline($image-name, $image-location: '../source/images/icons/') {
  background-image: inline($image-location + $image-name + '.svgz');
}
