@mixin link($link, $hover: $link, $active: $hover, $visit: $link) {
  color: $link;
  text-decoration:underline;
  &:visited {
    color: $visit;
  }
  &:hover,
  &:focus {
    color: $hover;
    text-decoration:none;

  }
  &:active {
    color: $active;
  }
}
@mixin link-no-underline($link, $hover: $link, $active: $hover, $visit: $link) {
  color: $link;
  text-decoration:none;
  &:visited {
    color: $visit;
  }
  &:hover,
  &:focus {
    color: $hover;
    text-decoration:none;
  }
  &:active {
    color: $active;
  }
}

@mixin link-reverse($link, $hover: $link, $active: $hover, $visit: $link) {
  color: $link;
  text-decoration:none;
  &:visited {
    color: $visit;
  }
  &:hover,
  &:focus {
    color: $hover;
    text-decoration:underline;
  }
  &:active {
    color: $active;
  }
}
