// @file
// Button styles

$button-border-radius: 0 !default;
$button-background-color: gesso-color(button, default, background) !default;
$button-background-color-active: gesso-color(  button,  default,  background-active) !default;
$button-background-color-disabled: gesso-color(  button,  disabled,  background) !default;
$button-background-color-hover: gesso-color(  button,  default,  background-hover) !default;
$button-background-image: none !default;
$button-text-color: gesso-color(button, default, text) !default;
$button-text-color-active: gesso-color(button, default, text-active) !default;
$button-text-color-disabled: gesso-color(button, disabled, text) !default;
$button-text-color-hover: gesso-color(button, default, text-hover) !default;
$button-text-shadow: none !default;
$button-font-size: gesso-font-size(1) !default;

@mixin button(
  $color-background: $button-background-color,
  $color-text: $button-text-color,
  $color-background-hover: $button-background-color-hover,
  $color-text-hover: $button-text-color-hover,
  $color-background-active: $button-background-color-active,
  $color-text-active: $button-text-color-active,
  $color-background-disabled: $button-background-color-disabled,
  $color-text-disabled: $button-text-color-disabled,
  $border-radius: $button-border-radius,
  $font-size: $button-font-size
) {
  background-color: $color-background;
  background-image:$button-background-image;
  border: 0;
  border-radius: $border-radius;
  box-shadow:none;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  font-family: gesso-font-family(condensedbook);
  font-size: gesso-font-size(1);
  font-weight: gesso-font-weight(regular);
  letter-spacing: 0.055rem;
  line-height: gesso-line-height(base);
  max-width:18.125rem;
  padding: rem(gesso-spacing(sm)) 2rem;
  text-align: center;
  text-decoration: none;
  text-shadow:$button-text-shadow;
  text-transform:uppercase;
  transition: background gesso-duration(short) gesso-easing(ease-in);
  vertical-align: top;
  white-space: normal;
  width:100%;
  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus {
    background-color: $color-background-hover;
    background-image:$button-background-image;
    border: 0;
    box-shadow: none !important;
    color: $color-text-hover;
    outline: none !important;
    text-decoration: none;

  }

  &:active {
    background-color: $color-background-active;
    background-image:$button-background-image;
    color: $color-text-active;
    outline: none !important;
  }

  &[disabled] {
    background-color: $color-background-disabled;
    background-image:$button-background-image;
    color: $color-text-disabled;
    cursor: default;
    pointer-events: none;
  }
}


@mixin button-reset(
  $color-background: inherit,
  $color-text: inherit,
  $color-background-hover: inherit,
  $color-text-hover: inherit,
  $color-background-active: inherit,
  $color-text-active: inherit,
  $color-background-disabled: inherit,
  $color-text-disabled: inherit,
  $border-radius: inherit,
  $font-size: inherit
) {
  background-color: $color-background;
  background-image:$button-background-image;
  border: 0;
  border-radius: $border-radius;
  box-shadow:none;
  color: $color-text;
  cursor: pointer;
  display: inherit;
  font-family: inherit;
  font-size:  $font-size;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  max-width: inherit;
  padding: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-shadow:inherit;
  text-transform:inherit;
  transition: inherit;
  vertical-align: inherit;
  white-space: inherit;
  width: inherit;
  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus {
    background-color: $color-background-hover;
    background-image:$button-background-image;
    border: 0;
    box-shadow: none !important;
    color: $color-text-hover;
    outline: none !important;
    text-decoration: none;

  }

  &:active {
    background-color: $color-background-active;
    background-image:$button-background-image;
    color: $color-text-active;
    outline: none !important;
  }

  &[disabled] {
    background-color: $color-background-disabled;
    background-image:$button-background-image;
    color: $color-text-disabled;
    cursor: default;
    pointer-events: none;
  }
}
