// @file
// Styles for the mobile menu buttons.

.uw-navigation-button{
  @include focus();
  background-color: transparent;
  border-radius: inherit;
  color: gesso-grayscale('gray-6');
  cursor: pointer;
  display:block;
  @include medium{
    display:none;
  }
  font-family: gesso-font-family(book);
  font-size: gesso-font-size(-4);
  font-weight: 400;
  height:2.98125rem;
  letter-spacing:0;
  margin: inherit;
  margin-bottom: 0;
  max-width: inherit;
  padding:0;
  padding-top: gesso-spacing(sm);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: inherit;
  white-space: nowrap;
  width: 100%;

  &:visited {
    //color: $color-text;
  }

  &:hover,
  &:focus {
    //background-color: $color-background-hover;
    //background-image:$button-background-image;
    border: 0;
    outline: none !important;


  }

  &:active {
    //background-color: $color-background-active;
    //background-image:$button-background-image;
    //color: $color-text-active;
    outline: none !important;
  }

  &[disabled] {
    //background-color: $color-background-disabled;
    //background-image:$button-background-image;
    //color: $color-text-disabled;
    cursor: default;
    pointer-events: none;
  }
  &[aria-expanded='true'] >.uw-navigation-button__lines{
    background-color: transparent;
    transition: background-color, opacity 0s;
    width: 1.5rem;
  }
  > .uw-navigation-button__lines {
    background-color: gesso-grayscale(gray-5);
    display: block;
    font-size: 0;
    height: 0.125rem;
    left: 50%;
    margin-left: -0.75rem;
    position: absolute;
    top:28%;
    transition: background-color 0.3s;
    user-select: none;
    width: 1.5rem;
    &::before,
    &::after{
      background: gesso-grayscale(gray-5);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.3s;
      width: 100%;
    }
    &::before{
      transform: translateY(-250%);
    }
    &::after{
      transform: translateY(250%);
    }
  }

  &[aria-expanded='true'] > .uw-navigation-button__lines::before{
    transform: translateY(0) rotate(45deg);

  }
  &[aria-expanded='true'] > .uw-navigation-button__lines::after{
    transform: translateY(0) rotate(-45deg);
  }

}
