//$faculties: 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school';
//$lvl: 'lvl1';
//
//@each $faculty in $faculties {
//  .#{$faculty} {
//    .uw-main-nav {
//      &__home {
//        &:hover {
//          svg {
//            fill: gesso-brand($faculty, $lvl);
//          }
//        }
//      }
//      &__more {
//        &:hover {
//          svg {
//            fill: gesso-brand($faculty, $lvl);
//          }
//        }
//      }
//    }
//
//    .menu--main {
//      > .is-active-trail {
//        border-top: 4px solid gesso-brand($faculty, $lvl);
//
//        &.has-submenu {
//          &::after {
//            border-top: 4px solid gesso-brand($faculty, $lvl);
//          }
//        }
//      }
//
//      .has-submenu {
//        &:hover {
//          &::after {
//            border-top: 4px solid gesso-brand($faculty, $lvl);
//          }
//        }
//      }
//
//      .has-children {
//        &:hover {
//          &::after {
//            border-left: 4px solid gesso-brand($faculty, $lvl);
//          }
//        }
//      }
//
//      li {
//        &:hover > a {
//          color: gesso-brand($faculty, $lvl);
//        }
//
//        ul {
//          border-top: 4px solid gesso-brand($faculty, $lvl);
//        }
//
//        ul {
//          .is-active-trail {
//            color: gesso-brand($faculty, $lvl);
//          }
//
//          li {
//            ul {
//              border-left: 4px solid gesso-brand($faculty, $lvl);
//
//              &::before {
//                border-right: 5px solid gesso-brand($faculty, $lvl);
//              }
//            }
//          }
//        }
//
//        .is-active-trail {
//          color: gesso-brand($faculty, $lvl);
//        }
//      }
//    }
//  }
//}
//
//.uw-main-nav {
//  background-color: $uw-black;
//  display: block;
//  width: 100%;
//
//  &__wrapper {
//    display: grid;
//    grid-template-columns: 25px auto 40px;
//    margin-left: auto;
//    margin-right: auto;
//    max-width: 63rem;
//  }
//
//  &__home {
//    background-color: $uw-black;
//    grid-column: 1 / 2;
//
//    &:hover {
//      background-color: $uw-black;
//
//      svg {
//        fill: $uw-gold;
//      }
//    }
//
//    a {
//      display: flex;
//      height: 100%;
//
//      svg {
//        fill: $uw-white;
//        margin: auto;
//      }
//    }
//  }
//
//  &__navigation {
//    grid-column: 2 / 3;
//  }
//
//  &__more {
//    grid-column: 3 / 4;
//
//    &:hover {
//      ul {
//        display: block;
//      }
//
//      svg {
//        fill: $uw-gold;
//      }
//    }
//
//    &--icon {
//      height: 100%;
//      position: relative;
//
//      svg {
//        fill: $uw-white;
//        padding-left: 0.5rem;
//        padding-right: 0.5rem;
//        position: absolute;
//        top: 25%;
//      }
//    }
//
//    ul {
//      display: none;
//    }
//  }
//}
//
//.menu--main {
//  background: $uw-black;
//  -moz-border-radius: 2px;
//  -webkit-border-radius: 2px;
//  border-radius: 2px;
//  display: flex;
//  list-style: none;
//  margin: 0;
//  padding: 0;
//
//  > .is-active-trail {
//    border: 0;
//    border-top: 4px solid $uw-gold;
//    position: relative;
//
//    &.has-submenu {
//      &::after {
//        border-top: 4px solid $uw-gold;
//      }
//    }
//  }
//
//  .has-submenu {
//    &::after {
//      border: 0;
//      border-left: 4px solid transparent;
//      border-right: 4px solid transparent;
//      border-top: 4px solid $uw-white;
//      content: '';
//      display: initial;
//      height: 0;
//      position: absolute;
//      right: 2px;
//      top: 45%;
//      width: 0;
//    }
//
//    &:hover {
//      &::after {
//        border-top: 4px solid $uw-gold;
//      }
//    }
//  }
//
//  .has-children {
//    &::after {
//      border-bottom: 4px solid transparent;
//      border-left: 4px solid $uw-white;
//      border-top: 4px solid transparent;
//      content: '';
//      display: initial;
//      height: 0;
//      position: absolute;
//      right: 2px;
//      top: 40%;
//      width: 0;
//    }
//
//    &:hover {
//      &::after {
//        border-left: 4px solid $uw-gold;
//      }
//    }
//  }
//
//  li {
//    flex: 1 auto;
//    float: left;
//    max-width: 200px;
//    position: relative;
//
//    &:hover > a {
//      color: $uw-gold;
//    }
//
//    &:hover > ul,
//    li ul li:hover > ul {
//      display: block;
//      opacity: 1;
//      visibility: visible;
//    }
//
//    ul,
//    ul li ul {
//      background: $uw-black;
//      border-top: 4px solid $uw-gold;
//      height: auto;
//      margin: 0;
//      min-width: 200px;
//      opacity: 0;
//      padding: 0;
//      position: absolute;
//      visibility: hidden;
//      z-index: 1000;
//    }
//
//    ul li ul {
//      border: 0;
//      border-top: 0;
//    }
//
//    ul {
//
//      li {
//        float: none;
//
//        &:hover > ul {
//          left: 200px;
//          top: 0;
//        }
//
//        a {
//          border: 0;
//          padding: 10px;
//        }
//
//        ul {
//          border: 0;
//          border-left: 4px solid $uw-gold;
//          left: 230px;
//          top: 0;
//        }
//      }
//
//      .is-active-trail {
//        color: $uw-gold;
//      }
//    }
//
//    a {
//      color: $uw-white;
//      display: flex;
//      height: 100%;
//      padding: 0.5rem 1rem;
//      text-align: center;
//      text-decoration: none;
//      text-transform: uppercase;
//
//      .link-text {
//        margin: auto;
//      }
//    }
//
//    .is-active-trail {
//      color: $uw-gold;
//    }
//  }
//}
