{#<nav class="uw-main-nav">#}
  {#<div class="uw-main-nav__wrapper">#}
    {#<div class="uw-main-nav__home">#}
      {#<a href="/home" class="uw-site-home__link">#}
        {#<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 13v10h-6v-6h-6v6h-6v-10h-3l12-12 12 12h-3zm-1-5.907v-5.093h-3v2.093l3 3z"/></svg>#}
        {#<span class="off-screen">Home</span>#}
      {#</a>#}
    {#</div>#}
    {#<div class="uw-main-nav__links">#}
      {#{% if items|length > 5 %}#}
        {#{% set main_links = items|slice(1, 5) %}#}
      {#{% else %}#}
        {#{% set main_links = items %}#}
      {#{% endif %}#}
      {#{% include '@components/menu/menu.twig' with {#}
        {#'menu_name': 'main',#}
        {#'items': main_links#}
      {#} %}#}
    {#</div>#}
    {#{% if items|length > 5 %}#}
      {#<div class="uw-main-nav__more">#}
        {#<div class="uw-main-nav__more--icon">#}
          {#<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 992 992">#}
            {#<circle cx="144.3" cy="496" r="144.3"/>#}
            {#<circle cx="496" cy="496" r="144.3"/>#}
            {#<circle cx="847.7" cy="496" r="144.3"/>#}
          {#</svg>#}
        {#</div>#}
        {#{% set more_links = items|slice(6, item.length) %}#}
        {#{% include '@components/menu/menu.twig' with {#}
          {#'menu_name': 'main-more',#}
          {#'items': more_links#}
        {#} %}#}
      {#</div>#}
    {#{% endif %}#}
  {#</div>#}
{#</nav>#}

 {% include "@components/menu/menu--horizontal/menu--horizontal.twig" with {
   'items': items,
   'is_demo': true
 }%}