$menu-horizontal-bg-sm: gesso-grayscale(gray-2);
$menu-horizontal-bg: gesso-brand(org-default,uw-white,lvl1);
$menu-horizontal-bar-font: gesso-font-family(systembold);
$menu-horizontal-sub-font: gesso-font-family(system);
$menu-horizontal-bar-font-size: rem(gesso-font-size(-2));
$menu-horizontal-sub-font-size: rem(gesso-font-size(-2));


.uw-horizontal-nav--secondary{
  @include uw-full-width;
  background:$menu-horizontal-bg-sm;

  @include medium{
    background: $menu-horizontal-bg;
    border-bottom:3px solid gesso-grayscale(gray-2);
  }
  .uw-horizontal-nav--wrapper{
    @include uw-contained-width;
    display:grid;
    padding:0;
    position:relative;
    @include medium{
      grid-template-columns: 3rem auto;
      padding:0 gesso-spacing(xs);
    }

  }
  .uw-horizontal-nav--home{
    display:none;
    grid-column: none;
    padding:0;

  }
  .uw-horizontal-nav--menu {
    @include uw-full-width;

    .menu {
      // ALL Menus ul>

      .menu--item{

        a{
          outline:none;
          outline-offset: unset;

        }
      }
      // Top Level <ul> flex top items
      &--horizontal {
        @include uw-full-width;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: $menu-horizontal-bar-font;
        font-size: $menu-horizontal-bar-font-size;
        justify-content: flex-start;
        text-transform:inherit;
        width: 100%;
        > .menu--item{

          @include medium{
            width:auto;
          }
          a{
            display:inline-block;
            font-weight:inherit;
            line-height:1.25rem;
            text-decoration:none;
            &:hover{
              background-color:  gesso-grayscale(gray-2);
              color: gesso-brand(org-default,uw-black,lvl4);
            }
          }
        }
      }
    }
  }
}
