.uw-facebook {
  display: grid;
  padding: 1rem 0;
  width: 100%;

  &__wrapper {
    border: 1px solid $uw-black;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
    width: 100%;
  }

  &__view-on-source {
    padding: 1rem 0;
    text-align: center;
  }
}

.uw-facebook {
  .fb-post,
  .fb-page {
    background: url('../source/images/icons/facebook_logo.png') no-repeat;
    background-position: 50% 25%;
    min-height: 340px;
    text-align: center;
    width: 100%;
  }
}
