<div class="uw-facebook">
  <div class="uw-facebook__wrapper">
    {% if feed_type == 'timeline' %}
      <div class="fb-page"
           data-href="https://www.facebook.com/{{ username }}"
           data-tabs="timeline"
           data-width="500"
           data-hide-cover="false"
           data-show-facepile="false"
           adapt_container_width="true">
      </div>
    {% else %}
      <div class="fb-post"
         data-href="{{ url }}"
         data-width="500">
      </div>
    {% endif %}
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
  </div>
  <div class="uw-facebook__view-on-source">
    {% if feed_type == 'timeline' %}
      <a href="https://facebook.com/{{ username }}">View on Facebook</a>
    {% else %}
      <a href="{{ url }}">View on Facebook</a>
    {% endif %}
  </div>
</div>
