$uw-input-background-color: gesso-color(form, background) !default;
$uw-input-background-color-focus: gesso-color(ui, generic, text-light) !default;
$uw-input-border-color: gesso-color(form, input, input-border) !default;
$uw-input-border-color-focus: gesso-color(form, input, input-border-focus) !default;
$uw-input-box-shadow: gesso-color(form, input, input-border) !default;
$uw-input-box-shadow-focus: gesso-color(form, input, input-border) !default;
$uw-input-font-family: gesso-font-family(systemmedium) !default;
$uw-input-font-size: gesso-font-size(0) !default;
$uw-input-text-color: gesso-color(form, input, input-color) !default;
$uw-input-padding: 0.46667rem;




.uw-input,
.form-text,
.form-email,
.form-color,
.form-date,
.form-email,
.form-month,
.form-number,
.form-password,
.form-search,
.form-tel,
.form-text,
.form-textarea,
.form-time,
.form-url,
.form-week{
  background-color:$uw-input-background-color;
  border: 1px solid  $uw-input-border-color;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px $uw-input-border-color;
  box-sizing: border-box;
  color: $uw-input-text-color;
  font-family: $uw-input-font-family;
  font-size: $uw-input-font-size;
  max-width:inherit;
  padding: $uw-input-padding;
  transition: border-color;
  width: 100%;
  &:focus {
    border: 1px solid $uw-input-border-color-focus !important;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06), 0 0 5px rgba(104,104,104,.7);
    outline:$uw-input-border-color-focus;
  }
  &--submit {
    @include button();
    font-weight:200 !important;
  }
  // make the input after prefix be inline

}

.webform-has-field-prefix,
.webform-has-field-suffix,
.captcha {
 .form-text{
    width:auto !important;
  }
}
.bef-toggle{
  display:block;
  margin:1rem 0;
}
.form-select{
  background-color:$uw-input-background-color;
  border: 1px solid  $uw-input-border-color;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px $uw-input-border-color;
  box-sizing: border-box;
  color: $uw-input-text-color;
  font-family: $uw-input-font-family;
  font-size: $uw-input-font-size;
  padding: $uw-input-padding;
  transition: border-color;
  width: 100%;
  .form-item-moderation-state-0-state &{
    width:auto;
  }
}
input[size="60"] {
  max-width: 100%;
  width: 100%;
}

// Autocomplete

/* stylelint-disable */
.js {
  input {
    &.form-autocomplete {
      background-position: 99.5% center;
    }
  }
}
/* stylelint-enable */// Autocomplete ul li a.
.ui-autocomplete {
  .ui-menu-item{

    .ui-menu-item-wrapper,
    a{
      color:$uw-black !important;
      display: block;
      font-family:$uw-input-font-family !important;
      margin-right:0.4rem;
      text-decoration:none;

      &:hover,
      &:focus,
      &:active{
        background:gesso-brand('org-default', uw-gold, lvl1);
      }

    }
  }
}
