<input
    type="{{ type }}"
    {%if id %} id="{{ id }}"  {% endif %}
    {%if name %} name="{{ name }}"  {% endif %}
    {%if default_value %} default_value="{{ default_value }}"  {% endif %}
    {%if maxlength %} maxlength="{{ maxlength }}"  {% endif %}
    {%if size %} size="{{ size }}"  {% endif %}
    {%if value %} value="{{ value }}"  {% endif %}
    {%if placeholder %} placeholder="{{ placeholder }}"  {% endif %}
    class="uw-input {{ classes }}"
>