// @file
// Styles for Breadcrumb trail.

$breadcrumb-divider-color: gesso-color(text ,primary) !default;
$breadcrumb-link-color: gesso-color(text, link) !default;
$breadcrumb-text-color: gesso-color(text, primary) !default;
.uw-site--breadcrumb{
  line-height:1.25;
  text-align:center;
  @include breakpoint(gesso-breakpoint(md)) {
    text-align: left;
  }

}
.breadcrumb {
  @include clearfix();
  color: $breadcrumb-text-color;
  font-family: gesso-font-family(systemmedium);
  font-size: rem(gesso-font-size(-2));

}

.breadcrumb__title {
  @extend %visually-hidden;
}

.breadcrumb__list {
  @include list-inline();
}

.breadcrumb__item {
  display: inline;
  margin: 0;
  padding: 0;

  &::after {
    color: $breadcrumb-divider-color;
    content: ' » ';
  }
}
.breadcrumb__link {
  @include link($breadcrumb-link-color, $breadcrumb-text-color);
  text-decoration: none;
  &:hover,
  &:focus{
    text-decoration:underline;
  }
}
