<div class="uw-site--breadcrumb">
<nav aria-labelled="Breadcrumb" class="breadcrumb {{ modifier_classes }}" role="navigation">
    <h2 class="breadcrumb__title visually-hidden" id="breadcrumb-label">{{ heading|default('You are here') }}</h2>
    <ol class="breadcrumb__list">
      {% for item in breadcrumb %}
        <li class="breadcrumb__item">
            <a class="breadcrumb__link {%  if loop.index0 > 0 %} active_trail {% endif %} " title="{{ item.link_title }}" href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ol>
</nav>
</div>
