<div class="uw-header-search" style="background-color: black">
  <form class="uw-search--form" role="search" data-drupal-selector="uw-search-form" action="/" method="post" id="uw-search-form" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-opentray,uw-search,uw-select-site,edit-submit" novalidate="novalidate">

    <input class="uw-input uw-input--checkboxform form-checkbox" aria-hidden="true" tabindex="-1" data-drupal-selector="edit-opentray" type="checkbox" id="edit-opentray" name="opentray" value="1">

    <label class="uw-search--checkboxlabel option" data-drupal-selector="edit-opentray" for="edit-opentray"><span class="uw-search--checkboxlabel__labeltext">Open Search Location </span></label>

    <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-search-input form-item-search-input form-no-label">

      <label for="uw-search" class="visually-hidden"><span class="uw-search--labeltext">Search for </span></label>

      <input class="uw-input uw-input--search form-text" data-drupal-selector="uw-search" data-msg-maxlength="Search for  field has a maximum length of 128." type="text" id="uw-search" name="search-input" value="" size="60" maxlength="128" placeholder="Search">

    </div>

    <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-search-type form-item-search-type form-no-label">

      <label for="uw-select-site" class="visually-hidden">Search Location</label>

      <select class="form-item__select uw-select--search form-select" data-drupal-selector="uw-select-site" id="uw-select-site" name="search-type"><option value="" selected="selected">On all sites</option><option value="inurl:http://sitesearch.docker.localhost:8300/">On this site</option></select>

    </div>

    <input autocomplete="off" data-drupal-selector="form-fhzkvlakiamwermjlilm2fi45pnbkax5pnmaanmybxm" type="hidden" name="form_build_id" value="form-fHZKVlAkiamWerMjLiLm2fi45pnBkAx5pnMaaNmyBXM">

    <input data-drupal-selector="edit-uw-search-form-form-token" type="hidden" name="form_token" value="I775DnRrXAs_98eUOcougfNve1glCddLwwUcgRV19us">

    <input data-drupal-selector="edit-uw-search-form" type="hidden" name="form_id" value="uw_search_form">

    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--4">
      <div class="uw-search-button__wrapper">

        <input value="Search" class="button button--submit button--submit__form js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op">
      </div>
    </div>

  </form>
</div>
