$input-height: rem(36px);
$button-height: rem(36px);

.uw-header-search {
  position: absolute;
  right: 0.5rem;
  top: 4rem;
  width: 100%;

  &:focus-within {
    z-index: gesso-z-index(overlay);
  }

  @include medium {
    position: relative;
    right: inherit;
    top: inherit;
    width: inherit;
  }

  form label {
    margin: 0;
    position: absolute;
    right: 0;
    top: -3.4rem;
    @include medium {
      position: relative;
      right: inherit;
      top: inherit;
    }

    &[for="uw-select-site"] {
      background-color: $uw-white;
    }
  }

  .uw-search--form {

    display: grid;
    gap: 0.7rem;
    grid-template-columns: auto 8rem 2.125rem;
    height: 3.4rem;
    margin: 0;
    padding: 0 0 0 1rem;
    position: relative;
    width: 100%;
    @include medium {
      border: 1px solid $uw-white;
      display: inline-flex;
      gap: inherit;
      grid-template-columns:inherit;
      height: inherit;
      padding: 0;
      width: inherit;
    }

    .option {
      display: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      margin-left: inherit;
      padding-left: inherit;
    }

    .form-item {
      margin: inherit;

    }

    .form-type-select {
      height: 0;
      left: -1000rem;
      opacity: 0;
      overflow: hidden;
      position: absolute;
    }

    .uw-input--checkboxform {
      margin: inherit;
    }

    .uw-search--checkboxlabel {
      background-color: transparent;
      border: 1px solid $uw-white;
      border-radius: 0;
      box-shadow: none;
      color: $uw-white;
      display: block;
      @include medium {
        display: none;
      }
      font-weight: 200;
      height: 2.375rem;
      margin: 0;
      overflow: hidden;
      padding: 0;
      transition: all 300ms;
      width: 2.125rem;

      &::after {
        @include svg-background(search_2-white);
        background-position: 8px 11px;
        background-repeat: no-repeat;
        background-size: 40%;
        content: '';
        display: block;
        height: 2rem;
        width: 2.125rem;
      }

      &:hover,
      &:focus {
        background: $uw-white;

        &::after {
          @include svg-background(search_2);
        }
      }
    }

    .uw-search-button__wrapper {
      display: none;
      @include medium {
        display: block;
      }
    }

    .uw-input--search {
      background-color: $uw-black;
      border: 1px solid $uw-white;
      border-radius: 0;
      border-width: 1px 0 1px 1px;
      border-width: 0;
      box-shadow: none;
      color: $uw-white;
      display: none;
      font-family: $form-select-font;
      font-size: gesso-font-size(0);
      font-weight: 200;
      height: $input-height;
      line-height: 1.25rem;
      overflow: hidden;
      padding: gesso-spacing(xs);
      position: relative;
      transition: all 0.3s ease;
      @include medium {
        display: block;
        font-size: gesso-font-size(-2);
        width: 4rem;
      }

      &::placeholder {
        color: $uw-white;
        opacity: 0.75;

        &:hover {
          color: $uw-black;
        }
      }

      &:hover {
        background: $uw-white;
        color: $uw-black;

        &::placeholder {
          color: $uw-black;
        }

        ~ .uw-search-button__wrapper {
          &::after {
            @include svg-background(search_2);
            background-color: $uw-white;
          }
        }
      }

      &:focus {
        background: $uw-white;
        border-width: 0;
        color: $uw-black;

        &::placeholder {
          color: $uw-black;
        }
      }
    }

    .uw-select--search {
      -webkit-appearance: none;
      background-color: $uw-black;
      border-radius: 0;
      display: block;
      font-family: $form-select-font;
      font-size: gesso-font-size(0);

      @include medium {
        font-size: gesso-font-size(-2);
      }
      opacity: 0;
      overflow: hidden;
      padding-right: 0;
      transition: opacity 0.5s ease;
      width: 7.5rem;
    }

    .form-actions {
      height: 2.25rem;
      margin: 0;
      opacity: 0;
      @include medium {
        opacity: 1;
      }
      padding: 0;
      transition: opacity 0.5s ease;
      width: 2.125rem;
    }

    .uw-search-button__wrapper {
      border-width: 0;
      height: $input-height;
      position: relative;
      width: 2.125rem;

      &::after {
        @include svg-background(search_2-white);
        background-position: 8px 11px;
        background-repeat: no-repeat;
        background-size: 45%;
        color: $uw-white;
        content: '';
        display: block;
        font-weight: 200;
        height: 100%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: gesso-z-index(background);

      }

      &:hover,
      &:focus {
        &::after {
          @include svg-background(search_2-white);
          background-color: gesso-grayscale(gray-6);
          color: $uw-white;
        }

      }

      &:focus-within {
        &::after {
          @include svg-background(search_2-white);
          background-color: gesso-grayscale(gray-6);
          color: $uw-white;
        }

      }

      .button--submit {
        &__form {
          background-color: inherit;
          background-image: none;
          border: 1px solid $uw-white;
          @include medium {
            border-width: 0;
          }
          box-shadow: none;
          cursor: pointer;
          display: inherit;
          font-family: gesso-font-family(book);
          font-size: inherit;
          font-weight: 200;
          height: $button-height;
          letter-spacing: inherit;
          line-height: inherit;
          margin: 0;
          max-width: inherit;
          padding: inherit;
          position: absolute;
          right: 0;
          text-align: center;
          text-decoration: none;
          text-shadow: none;
          text-transform: uppercase;
          top: 0;
          transition: background 300ms cubic-bezier(0.4, 0, 1, 1);
          vertical-align: top;
          white-space: normal;
          width: 2.125rem;
          z-index: gesso-z-index(content);

        }
      }
    }

    .uw-input {
      &.uw-input--checkboxform {
        display: block;
        height: 0;
        left: -1000rem;
        overflow: hidden;
        position: absolute;

        ~ .form-item {
        }

        &:checked {
          ~ .uw-search--checkboxlabel {
            background: $uw-white;

            &::after {
              @include svg-background(mobile-arrow-up);
              background-position: 10px 14px;
              background-repeat: no-repeat;
              background-size: 34%;
              color: $uw-white;
              content: '';
              display: block;
              line-height: 1.5rem;
              text-align: center;
            }

            @include medium {
              display: none;
            }
          }

          ~ .form-item {
            animation: fadeIn 500ms;
            display: block;

            .no-js & {
              background-color: $uw-black;
              padding: 1rem;
            }

            .no-js.js & {
              background-color: inherit;
              margin: 0;
              padding: 0;
            }

            &.form-type-textfield {
              display: block;

              .uw-input--search {
                border: 1px solid $uw-white;
                display: inline-block;
                width: 100%;
              }
            }

            &.form-type-select {
              display: block;
              height: inherit;
              left: inherit;
              opacity: 1;
              overflow: hidden;
              position: relative;

              .no-js & {
                background-color: $uw-black;
                display: block;
                height: 100%;
                padding: 1rem;
              }

              .no-js.js & {
                background-color: inherit;
                height: auto;
                padding: 0;
              }

              .uw-select--search {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: $uw-black;
                border-color: $uw-white;
                color: $uw-white;
                display: inline-block;
                font-family: gesso-font-family(book);
                font-size: gesso-font-size(0);
                font-weight: 200;
                height: $input-height;
                line-height: 1.25rem;
                margin: 0 0.725rem 0 0;
                opacity: 1;
                outline: none;
                overflow: hidden;
                padding: gesso-spacing(xs);
                transition: opacity .5s ease;
                width: 8rem;

                &::placeholder {
                  color: $uw-black;
                }

                option {
                  color: $uw-black;
                }

                @include medium {
                  display: none;
                  font-size: gesso-font-size(-2);
                }
              }
            }
          }

          ~ .form-actions {
            background-color: $uw-black;
            margin: 0;
            opacity: 1;
            transition: opacity 0.5s ease;

            .no-js & {
              background-color: $uw-black;
              height: 100%;
              padding: 1rem 0;
            }

            .no-js.js & {
              background-color: inherit;
              height: auto;
              padding: 0;
            }

            .uw-search-button__wrapper {
              animation: fadeIn 500ms;
              border-width: 0;
              display: inherit;
              @include medium {
                margin-right: 0;
              }

              .button--submit {
                &__form {
                  position: relative;;
                }
              }

            }
          }
        }
      }
    }

    &:focus-within {
      @include medium {

        .uw-input--search {
          transition: width 0.3s ease;
          width: 14rem;

          &:hover {
            ~ .button--submit {
              &__form {
                color: $uw-white;
              }
            }
          }
        }
        .form-type-select {
          height: $input-height;
          left: inherit;
          opacity: 1;
          overflow: inherit;
          position: relative;
          width: 7.5rem;
        }
        .uw-select--search {
          border-width: 0;
          color: $uw-white;
          display: inline-block;
          height: $input-height;
          opacity: 1;
          outline: none;
          padding-left: 0.5rem; // LTR
          padding-right: 0;
          width: 7.5rem;

          &:hover,
          &:focus {
            background-color: $uw-white;
            border-width: 0;
            color: $uw-black;
          }
        }
        .form-action {
          height: inherit;
          margin: 0;
          opacity: 1;
          padding: 0;
          transition: opacity 0.5s ease;
          width: inherit;
        }
        .button--submit {
          &__form {

            border-color: gesso-grayscale(gray-6);
            border-width: 0;
            height: $input-height;
            top: 0;
          }
        }
      }
    }

    .button {
      color: transparent !important;
    }

    .uw-search{
      &--hidelabel {
        display: block;
        height: 0;
        left: -1000rem;
        overflow: hidden;
        position: absolute;
      }

      &--checkboxlabel__labeltext {
        color: $uw-white;
        height: 0;
        left: -1000rem;
        overflow: hidden;
        position: absolute;
      }

      &--labeltext {
        color: $uw-white;
      }
    }
  }
}
