<header class="uw-header {{ faculty }}" role="banner">
  {% if global_message %}
    <div id="global-message">
      {{ global_message|render }}
    </div>
  {% endif %}
  <div class="uw-header__masthead">
    {% include '@components/site-logo/site-logo.twig' %}

    {% if branding_level == 'full'  %}
      {% include "@components/menu/menu--header/menu--header.twig" with {
        'modifier_classes': 'header',
        'include_home': true,
      } %}
    {% endif %}

    {% include '@components/search/search.twig' with {
      'search': search
    }%}
  </div>
  <!-- Branding colour bar. -->
  {% if branding_level == 'full'  %}
    {% include '@components/color-bar/color-bar.twig' with {
      'faculty': faculty
    }%}
  {%  endif %}
  <!-- Main header horizontal navigation -->
  <nav class="uw-header__nav">
    <div class="uw-header__center">
      <div class="uw-header__site-name">
        {% include '@components/site-name/site-name.twig' with {
          'site_name': site_name,
          'subtitle': subtitle,
          'home_link': home_link
        } %}
      </div>
      <button class="uw-navigation-button" aria-controls="uw-header__navigation" aria-expanded="false">
        <span class="uw-navigation-button__text">Menu</span>
        <span class="uw-navigation-button__lines"></span>
      </button>
    </div>
    <div id="uw-header__navigation" class="uw-header__navigation">
      {% include "@components/menu/menu--horizontal/menu--horizontal.twig" with {
        'modifier_classes': 'main',
        'menu_name': 'horizontal',
        'items': nav_items,
        'home_link': home_link,
        'include_home': true,
      }%}

      {% include "@components/menu/menu--secondary/menu--secondary.twig" with {
        'modifier_classes': 'secondary',
        'items': secondary_items,
        'include_home': false,
      }%}

    </div>
  </nav>
</header>
