{% set date_modifier_classes -%}
    uw-date   {{ date_modifier_classes }}
{%- endset %}
{% if is_demo %}
<div class='uw-date-pl'>
    <h4> {{ date_format }}:</h4>
{% endif %}

{% if date %}
    <span class="{{ date_modifier_classes }}" >{{ date }}</span>
{% endif %}

{% if is_demo %}
</div>
{% endif %}
