// @file
// Styles for Date formats.
$faculties: 'org-default', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
.uw-date-pl{
  margin-bottom: rem(gesso-spacing(md));
}
.uw-date-pl h4{
  margin-bottom: rem(gesso-spacing(xs));
}
.uw-date,
.uw-field--name-field-uw-blog-date,
.uw-field--name-field-uw-event-date,
.uw-field--name-field-uw-news-date{
  background-color: gesso-brand(org-default, uw-gold, 'primary');
  clear: both;
  color: gesso-brand(org-default, uw-black, 'primary');
  display:inline-block;
  font-family: gesso-font-family(systemmedium);
  font-size: gesso-font-size(-1);
  padding: rem(gesso-spacing(xs)) rem(gesso-spacing(sm));
  text-transform: uppercase;
}

@each $faculty in $faculties {
  .#{$faculty} {
    .uw-date,
    .uw-field--name-field-uw-blog-date time,
    .uw-field--name-field-uw-event-date time,
    .uw-field--name-field-uw-news-date time{
      @if $faculty == org-default {
        background-color: gesso-brand(org-default, uw-gold, 'primary');
        color: gesso-brand(org-default, uw-black, 'primary');
      }
      @else {
        background-color:gesso-brand($faculty,'primary');
        color: $uw-white;
      }
    }
  }
}


.uw-date-details{

}
