
{% for date_format in date_formats %}
    {% include '@base/date-formats/_date-format.twig' with {
        'date_format': date_format.date_format,
        'date': date_format.date,
        'is_demo': 'true'
    }%}
{% endfor %}
