// @file
// Styles for the footer menu.
.menu--uw-footer {
  align-items:flex-start;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  li {
    border-color:gesso-grayscale(gray-6);
    border-style: solid;
    box-sizing: inherit;
    display: inline-block;
    flex: 1 0 50%;
    margin: 0;
    padding: 1rem;
    text-align: center;
    &:nth-child(1) {
      border-width: 1px 0 0 1px;
    }
    &:nth-child(2) {
      border-width:1px 1px 0;
    }
    &:nth-child(3) {
      border-width: 1px 0 0 1px;
    }
    &:nth-child(4) {
      border-width:1px 1px 0;
    }
    &:nth-child(5) {
      border-width: 1px 0 0 1px;
    }
    &:nth-child(6) {
      border-width: 1px 1px 0;
    }
    &:nth-child(7) {
      border-width: 1px  0 0 1px;
    }
    &:nth-child(8) {
      border-width: 1px 1px 0;
    }
    &:nth-child(9) {
      border-width: 1px;
    }
    @include xs {
      padding: 0 0 0 0.5rem;
      text-align:left;
      &:nth-child(1) {
        border-width: 0 1px 0 0;
      }
      &:nth-child(2) {
        border-width: 0 1px 0 0;
      }
      &:nth-child(3) {
        border-width: 0 1px 0 0;
      }
      &:nth-child(4) {
        border-width: 0 1px 0 0;
      }
      &:nth-child(5) {
        border-width: 0 1px 0 0;
      }
      &:nth-child(6) {
        border-width: 0 1px 0 0;
      }
      &:nth-child(7) {
        border-width: 0 1px 0 0;
      }
      &:nth-child(8) {
        border-width: 0 1px 0 0;
      }

      &:nth-child(9) {
        border-width: 0 1px 0 0;
      }
    }
    @include medium {
      flex:  1 0 33%;
      padding: 0 0.25rem 0 1rem;
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(7){
        border-width: 0 1px;
      }
    }
    a {
      display:block;
      font-family: gesso-font-family(condensedbook);
      font-size: rem(gesso-font-size(-1));
      font-weight:300;
      line-height:1.50;
      outline:none;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
