.layout--uw-inverted-l-left {
  display: grid;
  gap:$grid-gap;
  grid-template-columns:100%;
  &.even-split {
    @include large{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-left {
    @include large{
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }
  }
  &.larger-right {
    @include large{
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }
  }
  .uw-inverted-l--left-side {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .uw-inverted-l--right-side {
    display: grid;
    gap:$grid-gap;
    grid-column: 1 / 2;
    grid-template-columns: 100%;
    @include medium {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    @include large{
      grid-column: 2 / 3;
    }
  }
  .layout__region{
    &--first{
    }
    &--second {
      @include medium {
        grid-column: 1 / 2;
      }
    }
    &--third {
      grid-column: 1 / 2;
      @include medium {
        grid-column: 2 / 3;
      }
    }
    &--fourth {
      grid-column: 1 / 2;
      @include medium {
        grid-column: 1 / 3;
      }
    }
  }
}
