{% include "@components/card/card.twig" with {
  modifier_classes: 'card--feature',
  title: title,
  url: url,
  footer: footer,
  date: date,
  date_format: date_format,
  read_more: read_more,
  tags: tags,
  tag_type: tag_type,
  sources: sources,
  img_element: img_element,
  alt: alt,
  content: content
} %}
