.card__node {
  > .card__header,
  > .card__footer {
    margin: 0 auto;
    max-width: $max-width;
  }

  .uw-node__without-image & {
    .card__header,
    .card__footer {
      margin: 0 auto;
      max-width: $max-width;
      padding: 0 gesso-spacing(sm);
      @include xl {
        padding: 0;
      }
    }
  }
  .card__tags {
    margin: 1rem auto;
    max-width: $max-width;
    padding: 0 gesso-spacing(sm);
    @include xl {
      padding: 0;
    }
  }
  .card__footer {
    margin-bottom: rem(gesso-spacing(md));
    margin-top: auto;
    padding: 0 gesso-spacing(sm);
    @include xl {
      padding: 0;
    }
  }

  // CSS for specific node card presentations:
  &--web-page{
    // Currently this is PL demo only
    // needs to be implemented correctly when webpage has media.
    .uw-node__with-image & {
      .card__featured-image{
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        height: 45rem;
        justify-items: center;
        min-height: 44rem;
        position: relative;

        .card__header {
          @include uw-contained-width(75rem);
          align-self:flex-end;
          margin-bottom:4rem;
          margin-top: 0;
          .card__title {
            background: rgba(0,0,0,0.50);
            color:#fff;
            margin-bottom: 0;
            margin-top: 2rem;
            padding: gesso-spacing(md) gesso-spacing(md);
          }
        }
      }
    }
  }
  // CSS for specific node card presentations:
  &--contact {
    display: grid;
    gap: $grid-gap;

    .card__content {
      .layout {
        padding: 0;
      }
    }

    @include medium {
      display: grid;
      gap: 2rem;
      grid-template-columns: 10rem 1fr;
    }

    .card__image {
      grid-column: 1 / 3;
      grid-row: 1 / 10;
      @include medium {
        grid-column: 1 / 2;
      }
    }

    .card__header,
    .card__body,
    .card__footer {
      grid-column: 1 / 3;
      @include medium {
        grid-column: 2 / 3;
      }
      padding: 0;
    }

    .uw-node__without-image & {
      @include medium {
        grid-template-columns: 100%;
      }

      .card__header,
      .card__body,
      .card__footer {
        grid-column: 1 / 2;
      }
    }
  }

  // CSS for specific node card presentations:
  &--blog,
  &--news-item,
  &--event {
    .uw-node__without-image & {
      @include uw-contained-width();
      padding:0;
    }
    .uw-node__with-image & {
      .card__featured-image {
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        height: 45rem;
        justify-items: center;
        min-height: 44rem;
        position: relative;
        .card__header {
          // Width is experimental to match one of the wide-width in
          // layouts for small width page look.
          @include uw-contained-width(49.0625rem);
          align-self: end;
          margin-bottom: 0;
          margin-top: 0;
          .card__date {
            margin-bottom: 0;
            margin-top: 0;
          }
          .card__title {
            background: gesso-brand(org-default, uw-white, primary);
            font-size: gesso-font-size(8);
            margin-bottom: 0;
            margin-top: 0;
            padding: gesso-spacing(sm) gesso-spacing(sm);
          }
          .card__sub-title {
            background: gesso-brand(org-default, uw-white, primary);
            font-size: gesso-font-size(4);
            margin-bottom: 0;
            margin-top: 0;
            padding: gesso-spacing(xs) gesso-spacing(sm);
          }
          .card__author {
            background: gesso-brand(org-default, uw-white, primary);
            margin-bottom: 0;
            margin-top: 0;
            padding: gesso-spacing(xs) gesso-spacing(sm);
          }
        }
      }
      .card__footer,
      .card__tags {
        // Width is experimental to match one of the max-widths in
        // layouts for narrower width page look.
        @include uw-contained-width(47.0625rem);
      }
    }
    // CSS for displaying the title within the node :
  }

  &--opportunity{
    .uw-node__without-image &{
      .card__header{
        margin-bottom:gesso-spacing(md);
      }
    }
  }
  &--project{
    .card__footer{
      .card__tags{
        padding:0;
      }
    }
  }
}
