{% if node.media or node.image %}
  {% set node_image_class =  'with-image' %}
{% else %}
  {% set node_image_class =  'without-image' %}
{% endif %}

{% set modifier_classes = 'node--' ~ node.bundle %}

<div class="uw-node__{{ node_image_class }}">
  {% include '@components/card/card.twig' with {
    'url': node.url,
    'type': type,
    'show_hover': '',
    'header': node.header,
    'show_header': show_header,
    'media': node.media,
    'image': node.image,
    'content': node.content,
    'footer': node.footer,
    'tags': node.tags,
    'ical': node.ical,
  } %}
</div>
