<h2>Node - basic</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_webpage,
  'type': 'node'
} %}
<h2>Node - with media</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_webpage_media,
  'type': 'node'
} %}
<h2>Node - Blog (without media)</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_blog,
  'type': 'node'
} %}

<h2>Node - Blog (with media)</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_blog_media,
  'type': 'node'
} %}

<h2>Node - Event (without media)</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_event,
  'type': 'node'
} %}

<h2>Node - Event (with media)</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_event_media,
  'type': 'node'
} %}

<h2>Node - News (without media)</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_news,
  'type': 'node'
} %}

<h2>Node - News (with media)</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_news_media,
  'type': 'node'
} %}
