<section class="l-section {{ section_modifier_classes }}">
  {% if has_constrain %}
    <div class="l-constrain {{ constrain_modifier_classes }}">
  {% endif %}

  {% if section_title %}
    <{{ section_title_element ?: 'h2' }} class="l-section__title">{{ section_title }}</{{ section_title_element ?: 'h2' }}>
  {% endif %}

  <div class="l-section__content">
    {% block content %}
      {{ section_content }}
    {% endblock %}
  </div>

  {% if has_constrain %}
    </div>
  {% endif %}
</section>
