.uw-date {
  width:auto;

  @include large {
    margin-left:inherit;
  }
}

.uw-date-details{
  box-sizing: border-box;
  display: inline-block;
  .uw-date {
    box-sizing: border-box;
    display:block;
    padding: rem(gesso-spacing(xs)) rem(gesso-spacing(sm)) ;
    &:first-child{
      padding: rem(gesso-spacing(xs))  2.75rem rem(gesso-spacing(xs)) rem(gesso-spacing(sm));
    }
    text-transform: uppercase;
  }
  &[open]{
    background-color: transparent !important;

    .card__node--event &{
      margin-bottom:2rem;
    }
    position:absolute;
    width:calc(100%);
    z-index: gesso-z-index(content);
    @include xs {
      width:inherit;
    }

  }
}
.uw-date-details__summary{
  .uw-date{
    background:inherit;
  }
  background-position: right 0.75rem center; // LTR
  background-repeat: no-repeat;
  background-size: rem(13px);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding:0;
  .block-uw-cbl-multi-type-list &{
    background-position: right 0.5rem center; // LTR
  }
  &::-webkit-details-marker {
    display: none;
  }
}





$faculties: 'org-default', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci';
@each $faculty in $faculties {
  .#{$faculty} {
    @if $faculty == org-default {
      .uw-date-details{
        background-color: gesso-brand(org-default, uw-gold, 'primary');
        .uw-date {
          background-color: gesso-brand(org-default, uw-gold, 'primary');
        }
        &[open]{
          .uw-date-details__summary {
            @include svg-background(mobile-arrow-up);
            //width:100%;
          }
        }
      }
      .uw-date-details__summary{
        .uw-date{
          background:inherit;
        }
        @include svg-background(mobile-arrow-down);
        background-color: gesso-brand(org-default, uw-gold,'primary');
        color: gesso-brand(org-default,uw-black,'primary');
      }
    }@else {
      .uw-date-details {
        background-color: gesso-brand($faculty, 'primary');
        .uw-date {
          background-color: gesso-brand($faculty, 'primary');
        }
        &[open] {
          .uw-date-details__summary {
            @include svg-background(mobile-arrow-up-w);
            //width:100%;
          }
        }
      }
      .uw-date-details__summary{
        .uw-date{
          background:inherit;
        }
        @include svg-background(mobile-arrow-down-w);
        background-color:gesso-brand($faculty, 'primary');
        color: gesso-brand(org-default,uw-white,'primary');
      }
    }
  }
}
