{% if date_format == 'long' %}
  {{ date|date('l, F j, Y') }}
{% endif %}

{% if date_format == 'standard' %}
  {{ date|date('F j, Y') }}
{% endif %}

{% if date_format == 'long_with_time' %}
  {{ date|date('l, F j, Y g:i a') }}
{% endif %}

{% if date_format == 'time_only' %}
  {{ date|date('g:i a') }}
{% endif %}

{% if date_format == 'timezone' %}
  {{ date|date('T') }}
{% endif %}

{% if date_format == 'month_only' %}
  {{ date|date('F Y') }}
{% endif %}
