{% if pattern_lab %}
  {% include '@components/label/label.twig' with {
    'label': 'Standard (date_format: standard)'
  } %}
  {% include '@components/date/_date.twig' with {
    'date_format': 'standard',
    'date': date()
  } %}

  {% include '@components/label/label.twig' with {
    'label': 'Long (date_format: long)'
  } %}
  {% include '@components/date/_date.twig' with {
    'date_format': 'long',
    'date': date()
  } %}

  {% include '@components/label/label.twig' with {
    'label': 'Long with time (date_format: long_with_time)'
  } %}
  {% include '@components/date/_date.twig' with {
    'date_format': 'long_with_time',
    'date': date()
  } %}

  {% include '@components/label/label.twig' with {
    'label': 'Time only (date_format: time_only)'
  } %}
  {% include '@components/date/_date.twig' with {
    'date_format': 'time_only',
    'date': date()
  } %}

  {% include '@components/label/label.twig' with {
    'label': 'Timezone (date_format: timezone)'
  } %}
  {% include '@components/date/_date.twig' with {
    'date_format': 'timezone',
    'date': date()
  } %}

  {% include '@components/label/label.twig' with {
    'label': 'Month only (date_format: month_only)'
  } %}
  {% include '@components/date/_date.twig' with {
    'date_format': 'month_only',
    'date': date()
  } %}
{% endif %}
