// @file
// Styles for the Layout Builder stuff module.

/* stylelint-disable-next-line selector-no-qualifying-type */
// constraining sections of the theme with the site-container
  .uw-highlighted,
  .block-page-title-block,
  .block-local-tasks-block,
  .node-form,
  .admin-list,
  .js-media-library-view,
  .messages,
  .message,
  .contextual-region.profile,
  .uw-content-moderation__wrapper,
  form {
    @include uw-contained-width;
    padding: rem(gesso-spacing(sm));
    @include xl {
      padding: rem(gesso-spacing(sm)) 0;
    }
  }
  // Reset padding
  .uw-content-moderation__wrapper{
    padding:1rem;
  }
  // right column on edit
  .entity-meta__header {
    background-color: #fffbda;
  }
  // overlay popuup
  .ui-dialog .ui-dialog-title {
    font-family: gesso-font-family(condensedbook);
    font-size: rem(gesso-font-size(4));
    font-weight: 400;
  }
  .js-media-library-view {
    background: gesso-color(form, fieldset, fieldset-background);
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    padding: rem(gesso-spacing(sm));
  }
  // button in popup
  .ui-dialog-buttonpane {
    box-shadow: gesso-box-shadow(6);
  }
  .ui-dialog {
    // Reset the widths put from default size values.
    input[size="60"],
    input[size="120"] {
      max-width: 100%;
      width: 100%;
    }

    .media-library-widget {
      .fieldset-wrapper {
        display: block;
      }
    }

    .description {
      font-size: gesso-font-size(-2);
      font-style: italic;
    }

    .views-display-link {
      font-family: $uw-input-font-family;
    }

    form {
      @include uw-contained-width;
      padding: 0 !important;
    }

    .field--widget-entity-reference-paragraphs {
      padding: 1rem;

      .field--widget-entity-reference-paragraphs {
        padding: 0 !important;
      }
    }

    .field--name-field-uw-ec-items {
      background: inherit;
      padding: inherit;
    }

    // Adjusting the presentation of the tables.
    .field--widget-entity-reference-paragraphs td {
      background: inherit;
      border: 1px solid gesso-grayscale('gray-3');
      padding: rem(gesso-spacing(sm));
    }

    .field--widget-entity-reference-paragraphs .field-label {
      border-width: 1px 1px 0;

      .label {
        font-size: gesso-font-size(1);
      }
    }

    // Adjusting the drag handles ion the draggable tables.
    .paragraph-type--uw-para-fact-figure .tabledrag-handle .handle {
      margin: 0;
    }

    .draggable .tabledrag-handle {

      cursor: move;
      float: inherit;
      height: inherit;
      margin-left: inherit;
      overflow: inherit;
      text-decoration: none;

      .handle {
        float: left;
        height: 2rem;
        padding: 0;
        width: 2rem;

      }
    }

    .tabledrag-hide {
      border-width: 1px 1px 0;
      font-family: gesso-font-family(condensedbook);
      font-size: gesso-font-size(1);
      font-weight: 400;
      margin: 0;
      padding: 0 rem(gesso-spacing(sm));
      text-align: center;

    }

    // Removes gap at bottom of editor in dialogue
    .odd .form-item,
    .even .form-item {
      margin-bottom: 0 !important;
    }

    // Resets the min width.
    .field-multiple-table {
      min-width: inherit;
    }

    // Reset media
    .media-library-item--grid {
      padding-bottom: rem(gesso-spacing(lg));
    }

  }
  // Token dialog popup.
  .token-tree-dialog {
    font-family: $form-font-family;

    table td {
      padding: rem(gesso-spacing(xs)) rem(gesso-spacing(sm));
    }
  }
  // Makes the flex basis accomodate more characters.
  .js .paragraph-type-title {
    flex-basis: 35%;
  }
  .tabledrag-changed.warning {
    color: #e00 !important;
  }


  // Edits of buttons in the wcms forms
  .button,
  button {

    .layout-builder-form &,
    .form-actions & {
      font-size: rem(gesso-font-size(-2));
      height: 2.5rem;
      line-height: 2.75;
      max-width: inherit;
      padding: rem(gesso-spacing(xxs)) rem(gesso-spacing(xxs));

      &:hover,
      &:focus {
        padding: rem(gesso-spacing(xxs)) rem(gesso-spacing(xxs));
      }
    }

    .media-library-content &,
    .paragraphs-actions &,
    .paragraph-type-top &,
    .paragraphs-dropbutton-wrapper & ,
    .user-login-form &{
      font-size: rem(gesso-font-size(-2));
      font-weight: 200;
      height: inherit;
      //letter-spacing:inherit;
      max-width: 12rem;
      padding: rem(gesso-spacing(xs)) rem(gesso-spacing(sm));
      width: 100%;

      &:hover,
      &:focus {
        padding: rem(gesso-spacing(xs)) rem(gesso-spacing(sm));
      }
    }

    .ui-dialog & {
      margin: rem(gesso-spacing(xs)) 0 0 0;

    }

    .ui-dialog-buttonset.form-actions & {
      max-width: 10rem;
    }

    .user-login-form .form-actions & {
      @include button();
    }

    .tabledrag-toggle-weight-wrapper & {
      font-size: gesso-font-size(-2);
      font-weight: 200;
      max-width: 10rem;
      padding: 0;
      text-align: inherit;
      width: inherit;

      &:hover,
      &:focus {
        background: none;
        font-size: gesso-font-size(-2);
        font-weight: 200;
        max-width: 10rem;
        padding: 0;
        text-align: inherit;
        width: inherit;
      }
    }
  }

  // Reset the button in media dialog
  .media-library-widget__toggle-weight {
    font-size: gesso-font-size(-2) !important;
    font-weight: 200;
    max-width: 10rem;
    padding: 0;
    text-align: inherit;
    width: inherit;

    &:hover,
    &:focus {
      background: none;
      font-size: gesso-font-size(-2);
      font-weight: 200;
      max-width: 10rem;
      padding: 0;
      text-align: inherit;
      width: inherit;
    }
  }

  // Removce Box shadow on the dashboard boxes.
  .layouts-dashboards-3 .drow > div,
  .layouts-dashboards-2 .drow > div,
  .layouts-dashboards-1 .drow > div {
    box-shadow: none;
  }

  // overlay labels
  .uw-admin-label {
    background-color: gesso-grayscale('gray-5') !important;
    color: #fff;
    font-family: gesso-font-family(system);
    font-size: gesso-font-size(-2);
    left: -1px;
    padding: 0.2rem 1rem;
    position: absolute;
    top: -1.5rem !important;;
  }

  // Give padding for the admin labels.
  .layout-builder__region {
    padding: rem(gesso-spacing(xxs));
  }

  .contextual .trigger {
    color: #f03;
    width: inherit;

    &:focus {
      color: #25ffcc;
      width: inherit;
    }
  }

  // Color for button in dialog
  .paragraphs-dropdown-action.button {
    color: gesso-grayscale('gray-6');

  }
.uw-content-moderation__wrapper{
  display:none;
  .user-logged-in &{
    display:block;
    margin-bottom:2rem;

  }
}

// Edit tabs for the main pages in drupal
.tabs{
  &__trigger{
    padding-bottom:0;
    &:hover,
    &:focus{
      background:gesso-grayscale(gray-2);
      border:1px solid gesso-grayscale(gray-4);
    }
  }
  .is-collapse-enabled &{
    &::before{
      display:none;
    }
    li{
      &:not(.is-active){
        display:none;
      }
    }
  }
  &.is-open{
    li{
      &:not(:first-child){
        display:inherit;
      }
    }
  }
}
