$defaults: 'uw-gold';
$faculties: 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
$lvls: 'lvl1', 'lvl2', 'lvl3', 'lvl4';

@each $default in $defaults {
  @each $lvl in $lvls {
    .uw-colour-bar__cbar {
      &org-default__#{$default}--#{$lvl} {
        background-color: gesso-brand('org-default', $default, $lvl);
      }
    }
  }
}

@each $faculty in $faculties {
  @each $lvl in $lvls {
    .uw-colour-bar__cbar {
      &#{$faculty}--#{$lvl} {
        background-color: gesso-brand($faculty, $lvl);
      }
    }
  }
}

.uw-colour-bar__cbars {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.uw-colour-bar__cbar {
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 0.625rem;
  margin: 0;
  padding: 0;

  @include medium {
    height: 0.875rem;
  }

  @include large {
    height: 1rem;
  }

  @include xl {
    height: 1.125rem;
  }
}
