{% set lvls = 4 %}
<div class="uw-colour-bar">
  <div class="uw-colour-bar__wrapper">
    <div class="uw-colour-bar__cbars">
      {% for lvl in range(1,lvls) %}
        {% if faculty == 'org-default' %}
          <div class="uw-colour-bar__cbar org-default__uw-gold--lvl{{ lvl }}"></div>
        {% else %}
          <div class="uw-colour-bar__cbar {{ faculty }}--lvl{{ lvl }}"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
