//appearance
$global-radius: 3px;
$global-rounded: 1000px;
$highlighted-fact-radius: $global-radius;
$highlighted-fact-round: $global-rounded;
$faculties: 'neutral', 'org-default', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
@each $faculty in $faculties {
  .uw-ff {
    .#{$faculty} {
      @if $faculty == org-default {
        .graph{
          background: $uw-gold;
        }
        .number,
        .timer {
          color: $uw-black;
          fill: $uw-black;
        }
        .uw-ff--text {
          &__big {
            color: $uw-black;
          }

          &__medium {
            color: $uw-black;
          }

          &__caption {
            color: $uw-black;
          }

          &__small {
            background-color: $uw-gold;
            color: $uw-black;
          }
        }
      }
      @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
        .graph {
          background: gesso-brand($faculty, 'primary');
        }
        .number,
        .timer {
          color: gesso-brand($faculty, 'primary');
          fill: gesso-brand($faculty, 'primary');
        }
        .uw-ff--text {
          &__big {
            color: gesso-brand($faculty, 'primary');
          }

          &__medium {
            color: gesso-brand($faculty, 'primary');
          }

          &__small {
            background-color: gesso-brand($faculty, 'primary');
            color: $uw-white;
          }
        }
      }
      @else if $faculty == neutral  {
        &__big {
          color: gesso-brand($faculty, 'lvl3');
        }
        &__medium {
          color:gesso-brand($faculty, 'lvl3');

        }
        &__small{
          background-color: gesso-brand($faculty, 'lvl3');
          color: gesso-brand($faculty, 'lvl1');

        }
      }
      @else {
        .graph{
          background: gesso-brand($faculty, 'lvl4');
        }
        .number,
        .timer {
          color:gesso-brand($faculty, 'lvl4');
          fill: gesso-brand($faculty, 'lvl4');
        }
        .uw-ff--text {
          &__big {
            color: gesso-brand($faculty, 'lvl4');
          }
          &__medium {
            color: gesso-brand($faculty, 'lvl4');
          }
          &__small{
            background-color: gesso-brand($faculty, 'lvl4');
            color: $uw-white;
          }
        }
      }
    }
    &--with-bubbles{
      &__white{
        .#{$faculty} {
          @if $faculty == org-default {
            .uw-ff--text {
              &__big {
                color: $uw-black;
              }

              &__medium {
                color: $uw-black;
              }

              &__caption {
                color: $uw-black;
              }

              &__small {
                background-color: $uw-gold;
                color: $uw-black;
              }
            }
          }
          @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
            .uw-ff--text {
              &__big {
                color: gesso-brand($faculty, 'primary');
              }

              &__medium {
                color: gesso-brand($faculty, 'primary');
              }

              &__small {
                background-color: gesso-brand($faculty, 'primary');
                color: $uw-white;
              }
            }
          }
          @else if $faculty == neutral  {
            &__big {
              color: gesso-brand($faculty, 'lvl1');
            }
            &__medium {
              color:gesso-brand($faculty, 'lvl1');

            }
            &__small{
              background-color: gesso-brand($faculty, 'lvl1');
              color: $uw-black
            }
          }
          @else {
            .uw-ff--text {
              &__big {
                color: gesso-brand($faculty, 'lvl4');
              }

              &__medium {
                color: gesso-brand($faculty, 'lvl4');
              }

              &__small {
                background-color: gesso-brand($faculty, 'lvl4');
                color: $uw-white;
              }
            }
          }
        }
      }
      &__black{
        .#{$faculty} {
          @if $faculty == org-default {
            .number,
            .timer {
              color: $uw-white;
              fill: $uw-white;
            }
            .uw-ff--text {
              &__big {
                color: $uw-white;
              }

              &__medium {
                color: $uw-white;
              }

              &__small {
                background-color: $uw-gold;
                color: $uw-black;
              }
            }
          }
          @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
            .uw-ff--text {
              &__big {
                color: gesso-brand($faculty, 'light');
              }

              &__medium {
                color: gesso-brand($faculty, 'light');

              }

              &__small {
                background-color: gesso-brand($faculty, 'primary');
                color: $uw-white
              }
            }
          }
          @else if $faculty == neutral  {
            &__big {
              color: gesso-brand($faculty, 'lvl1');
            }
            &__medium {
              color:gesso-brand($faculty, 'lvl1');

            }
            &__small{
              background-color: gesso-brand($faculty, 'lvl1');
              color: $uw-black
            }
          }
          @else {
            .number,
            .timer {
              color: gesso-brand($faculty, 'lvl4');
            }
            .uw-ff--text {
              &__big {
                color: gesso-brand($faculty, 'lvl1');
              }
              &__medium {
                color:gesso-brand($faculty, 'lvl1');
              }
              &__small{
                background-color: gesso-brand($faculty, 'primary');
                color: $uw-white
              }
            }
          }
        }
      }
      &__grey{
        .#{$faculty} {
          @if $faculty == org-default {
            .uw-ff--text {
              &__big {
                color: $uw-black;
              }

              &__medium {
                color: $uw-black;
              }

              &__small {
                background-color: $uw-gold;
                color: $uw-black;
              }
            }
          }
          @else {
            .uw-ff--text {
              &__big {
                color: gesso-brand($faculty, 'lvl4');
              }
              &__medium {
                color: gesso-brand($faculty, 'lvl4');
              }

              &__small{
                background-color: gesso-brand($faculty, 'lvl4');
                color: $uw-white;

              }
            }
          }
        }
      }
      &__gold{
        .#{$faculty} {
          @if $faculty == org-default {
            .graph{
              background: $uw-black;
            }
            .number,
            .timer {
              color:  $uw-black;
              fill: $uw-black;
            }
            .uw-ff--text {
              &__big {
                color: $uw-black;
              }

              &__medium {
                color: $uw-black;
              }

              &__small {
                background-color: $uw-black;
                color: $uw-gold;
              }
            }
          }
          @else {
            .graph{
              background: $uw-black;
            }
            .number,
            .timer {
              color:  $uw-black;
              fill: $uw-black;
            }
            .uw-ff--text {
              &__big {
                color: $uw-black;
              }

              &__medium {
                color: $uw-black;
              }

              &__small {
                background-color: $uw-black;
                color: $uw-gold;
              }
            }
          }
        }
      }
    }
  }
}
.data-usecarousel,
.data-numberpercarousel {
  height: 0;
  visibility: hidden;
}
.uw-ff .owl-carousel .owl-item img {
  width: auto;
}

/* Override default display: block
from owl script.  Ensures bubbles
are the same height. */
.uw-ff {
  &--with-bubbles{
    .uw-ff--fact{
      border-radius: $highlighted-fact-radius + 10;
      &:nth-of-type(odd) {
        &::after {
          border-left: 1rem solid transparent;
          border-right: 1rem solid transparent;
          content: '';
          height: 0;
          left: 50%;
          margin-left: -0.75rem;
          position: absolute;
          top: -1.25rem;
          width: 0;
        }
      }
      &:nth-of-type(even) {
        &::after {
          border-left: 1rem solid transparent;
          border-right: 1rem solid transparent;
          bottom: -1.25rem;
          content: '';
          height: 0;
          left: 50%;
          margin-left: -0.75rem;
          position: absolute;
          width: 0;
        }
      }
    }
    &__black{
      .uw-ff--fact{
        background-color: $uw-black;
        &:nth-of-type(odd) {
          &::after {
            border-bottom: 1.5rem solid $uw-black;

          }
        }
        &:nth-of-type(even) {
          &::after {
            border-top: 1.5rem solid  $uw-black;
          }
        }
      }
    }
    &__white{
      .uw-ff--fact{
        background-color: $uw-white;
        &:nth-of-type(odd) {
          &::after {
            border-bottom: 1.5rem solid $uw-white;

          }
        }
        &:nth-of-type(even) {
          &::after {
            border-top: 1.5rem solid  $uw-white;
          }
        }
      }
    }
    &__grey{
      .uw-ff--fact{
        background-color:gesso-brand(org-default,uw-black,lvl1);
        &:nth-of-type(odd) {
          &::after {
            border-bottom: 1.5rem solid gesso-brand(org-default,uw-black,lvl1);

          }
        }
        &:nth-of-type(even) {
          &::after {
            border-top: 1.5rem solid  gesso-brand(org-default,uw-black,lvl1);
          }
        }
      }
    }
    &__gold{
      .uw-ff--fact{
        background-color: $uw-gold;
        &:nth-of-type(odd) {
          &::after {
            border-bottom: 1.5rem solid $uw-gold;

          }
        }
        &:nth-of-type(even) {
          &::after {
            border-top: 1.5rem solid $uw-gold;
          }
        }
      }
    }
  }
  &--wrapper {
    clear: both;
    display: block;
    height: auto;
    list-style-type: none;
    margin: 0;
    position: relative;
    width: 100%;
    &__text-left{

      .uw-ff--fact{
        align-items: flex-start;
        text-align: left;
      }

      .infographic-circle,
      .infographic-half-circle{
        justify-self: flex-start;
      }
      .uw-ff--text{
        text-align: left;
      }
    }
    &__text-right{
      .infographic-number{
        display:block;
      }
      .infographic-vertical{
        justify-self: flex-end;
        width:auto;
      }
      .uw-ff--fact{
        align-items: flex-end;
        text-align: right;
      }
      .highlighted-fact-infographic{
        //justify-content: flex-end;
      }
      .infographic-circle,
      .infographic-half-circle{
        justify-self: flex-end;
      }
      .uw-ff--text{
        text-align: right;
        &__icon{
          img{
            clear:both;
            float: right;
          }
        }
      }
    }
    &__text-center{
      .uw-ff--fact{
        text-align: center;
      }
      .highlighted-fact-infographic{

        align-items: center;
      }
      .infographic-vertical{
        justify-self: center;
        width:auto;
      }
      .infographic-number{
        margin:0 auto;
        text-align:center;
        width:auto;
      }
      .infographic-circle,
      .infographic-half-circle{
        justify-self: center;
      }
      .uw-ff--text{
        text-align: center;
        &__icon{
          img{
            margin:0 auto;
          }
        }
        &__small{
          margin: 1rem auto;
        }
      }
    }
  }
  &--fact {
    align-content:center;
    display: grid;
    font-weight: 300;
    padding: 2rem;
    position: relative;
    row-gap:0.25rem;
    width: 100%;
  }
  &--text {
    grid-column: 1 / 2;
    grid-row: auto ;
    width: 100%;
    &__icon{
      display:block;
      img{
        display:block;
        height:100%;
        max-height:6rem;
      }
    }
    &__big {
      font-family: gesso-font-family(condensed);
      font-size:rem(gesso-font-size(11));
      font-weight: gesso-font-weight(bold);
      line-height: 1.2;
    }
    &__medium {
      font-size:rem(gesso-font-size(2));
      font-weight: 300;
      hyphens: none;
      line-height: 1.2;
      padding: 0.5rem 0;
    }
    &__small {
      display: inline-block !important;
      font-family: gesso-font-family(systemmedium);
      font-size:rem(gesso-font-size(0));
      hyphens: none;
      line-height: 1.25;
      margin-bottom:1rem;
      margin-top:1rem;
      padding: 0.5rem 1.25rem;
      width: auto;
    }
    &__caption {
      font-size:rem(gesso-font-size(-1));
      font-style: italic;
      hyphens: none;
      line-height: 1.2;
      padding: 0.25rem 0;
      p {
        float: none;
        font-size:rem(gesso-font-size(-1));
        line-height: 1.2;
      }
      em, i {
        font-style: normal;
      }
      strong, b {
        font-weight: bold;
      }
    }
  }
  &--no-carousel{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;

    .uw-ff{
      &--fact{
        @include flex(1 1 auto);
        @include flex-grow(1);
        margin:1.25rem 0;
        width:100%;
        @include xs{
          width:50%;
        }
        @include medium{
          width:30%;
        }
        @include xl{
          width:25%;
        }
        .uw-contained-width--wide &{
          @include xs{
            width:45%;
          }
          @include medium{
            width:45%;
          }
          @include xl{
            width:45%;
          }
        }
        .uw-node__sidebar &,
        .uw-contained-width--narrow &{
          @include xs{
            width:100%;
          }
          @include medium{
            width:100%;
          }
          @include xl{
            width:100%;
          }
        }
        .uw-full-width &{

          @include xs{
            width:45%;
          }
          @include medium{
            width:30%;
          }
          @include xl{
            width:23%;
          }
        }
      }
    }
  }
  &--carousel{
    .owl-stage{
      display: flex;
    }
    .owl-item {
      display:flex;
      position: relative;
      &:nth-of-type(odd) {
        .uw-ff--fact{
          &::after{
            bottom:inherit;
            top: -1.25rem;
          }

        }
      }
      &:nth-of-type(even) {
        .uw-ff--fact{
          &::after{
            bottom: -1.25rem;
            top: inherit;
            transform: rotate(180deg)
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .owl-stage-outer {
      padding: 2rem 0;
    }
  }
}

.infographic-fields-inline .fieldset-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 12em minmax(auto, 20em) minmax(auto, 40%);
}

.infographic-fields-inline .fieldset-wrapper .fieldset-description {
  grid-column: 1 / span 3;
}

.circliful .outer {
  -webkit-animation-play-state: running;
  fill: transparent;
  stroke: gesso-grayscale(gray-7);
  stroke-dasharray: 534;
  stroke-width: 19.8;
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
  transition: stroke-dashoffset 1s;
}

.highlighted-fact-infographic {
  align-items: center;
  display: block;
  height: 100%;

  .number,
  .timer {
    font-family: gesso-font-family(condensedbook);
    font-size: 2.25rem;
  }


  .graph {
    display: block;

  }
  .infographic-texthide{
    display:none;
    font-family: gesso-font-family(condensedbook);
    font-size:3.2rem;
    width: 100%;
    .no-js &{
      display:block;

    }
    .no-js.js &{
      display:none;
    }
  }
  &.infographic-number {
    .number{
      font-size:3.2rem;
      .timer {
        display: inline;
        font-size:3.2rem;
      }
    }
  }
  &.infographic-vertical {

    .graph-wrapper {
      background: gesso-grayscale(gray-4);
      height: 200px;
      position: relative;
      width: 80px;
    }

    .graph {
      bottom: 1px;
      min-height: 20px;
      position: absolute;
      width: 80px;
    }

    .timer {
      margin-left: .5rem;
      width:3.75rem;
    }

    .timer::after {
      content: '%';
      display: inline-block;
    }
  }
  &.infographic-horizontal {
    margin: 0;
    max-width: 100%;


    .graph-wrapper {
      background: gesso-grayscale(gray-4);
      height: 80px;
      margin-bottom: 1rem;
      margin-right: 1rem;
      position: relative;
      width: calc(100% - 5rem);
    }

    .graph {
      display:block;
      height: 80px;
      width: 1px;
    }

    .timer {
      width: 3.75rem;
    }

    .timer::after {
      content: '%';
      display: inline-block;
    }
  }
  &.infographic-half-circle {
    width:15.625rem;
    svg {
      margin: calc(-0.14 * 100%) 0 calc(-0.4 * 100%);
    }
  }
  &.infographic-circle {
    width:15.625rem;
  }
}
.no-js .uw-ff--carousel .owl-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .uw-ff {
    &--fact {
      @include flex(1 1 auto);
      @include flex-grow(1);
      margin: 1.25rem 0;
      width: 100%;
      @include xs {
        width: 50%;
      }
      @include medium {
        width: 30%;
      }
      @include xl {
        width: 25%;
      }

      .uw-contained-width--wide & {
        @include xs {
          width: 45%;
        }
        @include medium {
          width: 45%;
        }
        @include xl {
          width: 45%;
        }
      }

      .uw-node__sidebar &,
      .uw-contained-width--narrow & {
        @include xs {
          width: 100%;
        }
        @include medium {
          width: 100%;
        }
        @include xl {
          width: 100%;
        }
      }

      .uw-full-width & {

        @include xs {
          width: 45%;
        }
        @include medium {
          width: 30%;
        }
        @include xl {
          width: 23%;
        }
      }
    }
  }
}
.no-js.js {
  .uw-ff--carousel .owl-carousel.owl-theme {
    display: flex !important;
    flex-flow: column;
  }
}
