{% if ffs.bg_colour == 'gold' %}
  {% set graph_colour = "#000000" %}
{% else %}
  {% if ffs.theme == 'org-art' %}
    {% set graph_colour = "#d93f00" %}
  {% elseif ffs.theme == 'org-eng' %}
    {% set graph_colour = "#57058b" %}
  {% elseif ffs.theme == 'org-ahs' %}
    {% set graph_colour = "#005963" %}
  {% elseif ffs.theme == 'org-mat' %}
    {% set graph_colour = "#c60078" %}
  {% elseif ffs.theme == 'org-sci' %}
    {% set graph_colour = "#0033be" %}
  {% elseif ffs.theme == 'org-env' %}
    {% set graph_colour = "#607000" %}
  {% elseif ffs.theme == 'org-stp' %}
    {% set graph_colour = "#879637" %}
  {% elseif ffs.theme == 'org-stj' %}
    {% set graph_colour = "#01573e" %}
  {% elseif ffs.theme == 'org-ren' %}
    {% set graph_colour = "#00693c" %}
  {% elseif ffs.theme == 'org-cgc' %}
    {% set graph_colour = "#c4262e" %}
  {% elseif ffs.theme == 'org-school' %}
    {% set graph_colour = "#b71233" %}
  {% elseif ffs.theme == 'org-default' %}
    {% set graph_colour = "#FFD54F" %}
  {% endif %}
{% endif %}

<div
  class="highlighted-fact-infographic infographic-{{ infographics.info_type | replace({'_': '-'}) }} "
  data-infographic-type="{{ infographics.info_type }}"
  data-percent="{{ infographics.info_text }}"
  data-foregroundColor="{{ graph_colour }}"
>
  {% if infographics.info_type == 'number' %}
    <span class="number">
      <span class="timer">{{ infographics.info_text }}</span>
      {% if infographics.info_suffix %}
        {{ infographics.info_suffix }}
      {% endif %}
    </span>
  {% else %}
    <div class="infographic-texthide">
      {{ infographics.info_text }}
      {% if infographics.info_suffix %}
        {{ infographics.info_suffix }}
      {% else %}
      <span>%</span>
      {% endif %}
    </div>
  {% endif %}

</div>
