.view-filters {
  // Hide Filter Buttons on large
  &__open {
    order:100;
    @include large {
      display: none;
    }
  }

  &__close {
    margin: inherit;
    margin-bottom: 1rem;
    // Hide Filter Buttons on large
    @include large {
      display: none;
    }
  }
  h2{
    align-items: center;
    display:flex;
    gap:0.25rem;
    @include medium{
      .uw-icon{
        height:1.75rem;
        width:1.75rem;
        svg{
          height:1.75rem;
          width:1.75rem;
        }

      }
    }

  }

  form {
    width: 100%;
    ul,li{
      list-style: none;
      margin:0;
      padding:0;
    }
    .uw-input,
    .form-text,
    select{
      width:100%;
    }
    .button,
    .image-button {
      margin: 0;
    }
  }
  @include large {
    .uw-input,
    .form-text {
      width: 100%;
    }
    .views-exposed-form {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}
