.dashboards{
  &-container{
    .panel{
      padding:0;
    }
    .uw-search-form {
      margin:0 0 gesso-spacing(sm) 0;
      .catalog-search-form,
      .service-search-form,
      .uw-project-search-form {
        .form-item{
          height:2.39rem;
          margin:0;
        }
        .form-text {
          height:2.39rem;
          margin:0;
        }
      }
    }
  }
}

// Edit tabs for the admin pages in Drupal.
.tabs{
  &__trigger{
    padding-bottom:0;
    &:hover,
    &:focus{
      background:gesso-grayscale(gray-2);
      border:1px solid gesso-grayscale(gray-4);
    }
    .is-collapse-enabled &{
      height:1.72rem;
    }
  }
  .is-collapse-enabled &{
    &::before{
      display:none;
    }
    li{
      &:not(.is-active){
        display:none;
      }
    }
  }
  &.is-open{
    li{
      &:not(:first-child){
        display:inherit;
      }
    }
  }
}
