.uw-blockquote {
  background-color: gesso-grayscale('gray-1');
  color: $uw-black;

  &__wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
    text-align: center;
  }

  &__text {
    display: inline-block;
    font-size:rem(gesso-font-size(4));
    max-width: 640px;
    padding: 0 2.5rem;
    position: relative;
    text-align: left;

    &::before {
      color: #7a7a7a;
      content: "\201C";
      font-size:rem(gesso-font-size(14));
      left: 0;
      line-height: 5.2rem;
      position: absolute;
      top: -10px;
    }

    &::after {
      bottom: 5px;
      color: #7a7a7a;
      content: "\201D";
      font-size:rem(gesso-font-size(14));
      line-height: 0;
      position: absolute;
      right: 0;
    }
  }

  &__attribution {
    display: block;

    &--wrapper {
      display: inline-block;
      font-size:rem(gesso-font-size(0));
      max-width: 640px;
      padding: 0 1rem;
      position: relative;
      text-align: left;
    }



    cite {
      color: $uw-black;
      font-family:gesso-font-family(condensedbook);
      font-size:rem(gesso-font-size(1));
      font-weight: normal;
      text-align: left;
      text-transform:uppercase;
       > :first-child::before{
         content: "\2014";
         display:inline-block;
         padding-right:gesso-spacing(sm);
       }
    }
  }
}
