// @file
// Styles for a view.
$view-accent-border-color: gesso-color(ui, generic, accent) !default;
$view-link-color: gesso-color(text, on-light) !default;
$view-link-color-hover: gesso-color(ui, generic, text-dark) !default;
$view-meta-color: gesso-color(ui, generic, text-dark) !default;
$view-padding: rem(gesso-spacing(sm)) !default;
$sidebar-width: 18.75rem;

// set the layout for the Views container when being used with Blog, news, events
// to match flexbox in multi list usage.
.view {
  &s-element-container{
    @include uw-contained-width;
    position:relative;
    width: 100%;
    .block-views &,
    .block-layout-builder &{
      padding:0;
    }
    @include xl {
      .block-views &,
      .block-layout-builder & {
        padding: 0;
      }
    }
  }

  display: block;
  padding:0;
  position: relative;
  &.view-uw-view-contacts{
    padding-left:0;
    padding-right:0;
  }
  &-interact{
    @include uw-contained-width;
    display: flex;
    gap:0.5rem;
    justify-content:flex-end;
    padding:0;
    .button{
      margin:0;
    }
  }
  &-header{
    grid-column:1/3;
    grid-row:1/2;
    width:100%;
  }
  &-content {
    grid-column:1/2;
    grid-row:2/3;
    width:100%;
    .views-row{
      width: 100%;
    }
  }

  &-content--message {
    grid-column:1/2;
    grid-row:2/3;
    margin:0;
    position:relative;
    z-index:2;
    .message,
    .messages{
      margin:0;
    }

  }
  &-pager{
    align-self:flex-end;
    grid-column:1/2;
    grid-row:2/3;
    width:100%;
  }
  // With Filters
  &.with-filters {

    @include large {
      display: grid;
      gap:$grid-gap;
      grid-template-columns: auto $sidebar-width;
    }
    .view-content {
      grid-column:1/2;
      margin-bottom:3rem;
      width:100%;
    }
    .view-filters {
      h2{
        margin-top:0;
      }
      background:#fff;
      grid-column: 2/3;
      height: 0;
      overflow: hidden;
      width:0;
      @include large {
        grid-row: 2/4;
        height: inherit;
        overflow: hidden;
        width:inherit;
      }
      &:target {
        grid-column: 1/2;
        grid-row: 1/2;
        height:100%;
        margin-top:-3.5rem;
        overflow: inherit;
        padding: 1rem;
        width:100%;
        z-index: gesso-z-index(overlay);
        ~ .view-content {
          display:none;
          &--message{
            display:none;
          }
        }
      }
      @include large {
        background: inherit;
        &:target {
          background: inherit;
          grid-column: 2/3;
          grid-row:inherit;
          height: inherit;
          margin-top:0;
          overflow: inherit;
          padding:0;
          width: $sidebar-width;
          ~ .view-content {
            @include uw-flex-grid();
            align-self: flex-start;
            grid-column:1/2;
            grid-row:1/2;

            &--message{
              align-self: flex-start;
              display:block;
              grid-column:1/2;
              grid-row:1/2;

            }
          }
        }
      }
    }
  }

  // Ovewrite the view for when in services or catalog
  &-uw-view-catalog-show-nodes,
  &-uw-view-catalog-show-terms,
  &-uw-view-taxonomy-show-nodes,
  &-uw-view-taxonomy-show-terms,
  &-uw-view-services,
  &-uw-view-catalog-search,
  &-uw-view-service-show-nodes,
  &-uw-view-service-show-terms{
      gap:inherit;
    .view-content {
      .item-list{
        ul {
          margin: 0;
          padding: 0;

          li {
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;

          }
        }
      }
      p{
        margin:0;
      }
      a {
        margin-right: .2rem;
        text-decoration: underline;

        &:hover,
        &:focus{
          text-decoration: none;
        }
      }
      h2{
        font-size: gesso-font-size(3);
        span{
          font-family:gesso-font-family(primary);
          font-size: gesso-font-size(0);
          @include medium{
            font-size: gesso-font-size(1);
          }
        }
        img{
          float: left;
          height:auto;
          padding-right:1rem;
          width: 4.75rem;

        }
      }
      .views-field-title,
      .views-field-title-1{
        @extend %hN;
        @include display-text-style(h2);
        font-size: gesso-font-size(3);
        margin: gesso-spacing(xs) 0 0 0;
      }
    }
  }
}


//Setting the views views-row item grids.
.path-news,
.path-blog,
.path-events,
.view-uw-view-news-items,
.view-uw-view-blogs,
.view-uw-view-events,
.path-taxonomy,
.path-projects,
.path-profiles,
.path-opportunities {
  .view-content {
    display: block;
    padding: 0;
    @include small {
      display: grid;
      gap: $grid-gap;
      grid-template-columns:repeat(2 ,1fr);
      grid-template-rows:repeat(4, min-content);
    }
    .views-row{
      margin-bottom: $grid-gap;
      @include small {
        margin-bottom: 0;
      }
    }
  }
}
.path-news,
.path-blog,
.path-events{
  .view-content {
    .views-row{
      &:first-of-type,
      &:nth-of-type(10n){
        grid-column: 1/3;
      }
    }
  }
}
.view-uw-view-news-items,
.view-uw-view-blogs,
.view-uw-view-events,
.view-taxonomy-term{
  .view-content {
    .views-row{
      &:first-of-type{
        grid-column: 1/3;
      }
    }
  }
}


.path-catalogs,
.path-taxonomy,
.path-services {
  .view.with-filters{
    gap:$grid-gap;
  }
  .view-content {

    .views-row{
      width:100%;
    }
    .item-list{
      ul{
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          margin-left: 0;
          padding-left: 0;
          p{
            margin:0;
          }
          .views-field{
            a {
              margin-right: .2rem;
              text-decoration: underline;

              &:hover,
              &:focus{
                text-decoration: none;
              }
            }
            h2{
              font-size: gesso-font-size(3);
              margin: gesso-spacing(md) 0 gesso-spacing(xs) 0;
              span{
                font-family:gesso-font-family(primary);
                font-size: gesso-font-size(0);
                @include medium{
                  font-size: gesso-font-size(1);
                }
              }

            }
          }
        }
      }
    }
  }
}
.path-taxonomy {
  .view-content {
    padding: 1rem;
    @include xl {
      padding: 0;
    }
  }

  .view-uw-view-catalog-show-nodes {
    .view-content {
      padding: 0;
    }
  }
}
.path-contacts{
  .views-row{
    width:100%;
  }
}
.path-projects{
  .view{
    &.with-filters{
      margin:inherit;
       > .view-content {
        margin:inherit;
        > h2{
           @include uw-contained-width;
           margin:inherit;
           width:100%;
         }
      }
      .view-footer{
        @include uw-contained-width;
        margin:inherit;
        width:100%;
        a{
          @include button();
          display:block;
          margin:0 auto;
        }
      }
    }
    &.view-uw-view-projects{
      .view-content{
        margin:inherit;
      }
      &.view-display-id-search{
        &_page{
          .view-content{
            margin-top:1rem;
            @include medium {
              margin-top:3rem;
            }
          }
        }
      }
    }
  }
}
.uw-offcanvas--filter{
  display: flex;
  gap:0.5rem;
  justify-content:flex-end;
}
// Moving the rss button up for the blog news and events

.path-news,
.path-blog,
.path-events{
 .block-page-title-block{
   padding-right:12rem;
   @include medium {
     padding-right:inherit;
   }
 }
 .view-interact{
   margin-top: -3.25rem;
   @include medium {
     margin-top: -4rem;
   }
 }
}
