$faculties: 'org-default', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
@each $faculty in $faculties {
  // Wrapping the element with this class, <body>.
  .#{$faculty} {
    // If the UW branding group
    @if $faculty == org-default {
      .card__banner{
        .card__banner--title {
          color: $uw-gold;
        }
        .card__banner--sub-title  {
          color: $uw-white !important;
        }
        a  {
          text-decoration:none;
          .card__banner--title {
            color: $uw-gold;
          }
          .card__banner--sub-title  {
            color: $uw-white !important;
          }
          &:hover,
          &:focus {
            .card__banner--title {
              color: $uw-gold;
              text-decoration:underline;
            }
            .card__banner--sub-title  {
              color: $uw-white !important;
              text-decoration:underline;
            }
          }
        }
      }
      .uw-carousel__banner{
        .owl-prev,
        .owl-next {
          color: $uw-gold !important;

          &:hover,
          &:focus {
            background: $uw-gold !important;
            color:$uw-black !important;

          }
        }
      }

      //.uw-carousel__banner,
      .card__banner--caption {
        background-color:$uw-black;
      }

      .uw-owl-nav__banner-control{
        background:$uw-black !important;
        border:1px solid $uw-gold !important;
        .uw-play-svg{
          fill:$uw-gold;
        }
        .uw-pause-svg{
          fill:$uw-gold;
        }
        &:hover,
        &:focus{
          background:$uw-gold !important;
          border:1px solid $uw-black !important;
          .uw-play-svg{
            fill:$uw-black;
          }
          .uw-pause-svg{
            fill:$uw-black;
          }
        }
      }
    }
    @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc{

      .card__banner{
        .card__banner--title  {
          color:$uw-white;
        }
        .card__banner--sub-title  {
          color:$uw-white;
        }
        a {
          .card__banner--title  {
            color:$uw-white;

          }
          .card__banner--sub-title  {
            color:$uw-white;
          }

          &:hover,
          &:focus {
            .card__banner--title  {
              color:$uw-white;
              text-decoration: underline;

            }
            .card__banner--sub-title  {
              color:$uw-white;
              text-decoration: underline;
            }
          }
        }
      }
      .uw-carousel__banner{
        .owl-prev,
        .owl-next{
          color:gesso-brand($faculty, 'light') !important;
          &:hover,
          &:focus{
            background:gesso-brand($faculty, 'primary') !important;
          }
        }
      }
      .uw-owl-nav__banner-control{
        background:$uw-white !important;
        border:1px solid gesso-brand($faculty, 'primary') !important;
        .uw-play-svg{
          fill:gesso-brand($faculty, 'primary') !important;
        }
        .uw-pause-svg{
          fill:gesso-brand($faculty, 'primary') !important;
        }
        &:hover,
        &:focus{
          background:gesso-brand($faculty, 'primary') !important;
          border:1px solid gesso-brand($faculty, 'light') !important;
          .uw-play-svg{
            fill:gesso-brand($faculty, 'light') !important;
          }
          .uw-pause-svg{
            fill:gesso-brand($faculty, 'light') !important;
          }
        }
      }
      .card__banner--caption{
        background-color:gesso-brand($faculty, 'primary');
      }
    }
    @else {
         .card__banner{
          .card__banner--title  {
            color:gesso-brand($faculty, 'lvl1');

          }
          .card__banner--sub-title  {
            color:gesso-brand($faculty, 'lvl1');
          }
          a {
            text-decoration:none;
            .card__banner--title  {
              color:gesso-brand($faculty, 'lvl1');
            }
            .card__banner--sub-title  {
              color:gesso-brand($faculty, 'lvl1');
            }

            &:hover,
            &:focus {
              .card__banner--title  {
                color:gesso-brand($faculty, 'lvl1');
                text-decoration: underline;

              }
              .card__banner--sub-title  {
                color:gesso-brand($faculty, 'lvl1');
                text-decoration: underline;
              }
            }
          }
        }
        .uw-carousel__banner{
          .owl-prev,
          .owl-next{
            color:gesso-brand($faculty, 'lvl1') !important;
            &:hover,
            &:focus{
              background:gesso-brand($faculty, 'primary') !important;
            }
          }
        }
        .uw-owl-nav__banner-control{
          background:$uw-white !important;
          border:1px solid gesso-brand($faculty, 'primary') !important;
          .uw-play-svg{
            fill:gesso-brand($faculty, 'primary') !important;
          }
          .uw-pause-svg{
            fill:gesso-brand($faculty, 'primary') !important;
          }
          &:hover,
          &:focus{
            background:gesso-brand($faculty, 'primary') !important;
            border:1px solid gesso-brand($faculty, 'lvl1') !important;
            .uw-play-svg{
              fill:gesso-brand($faculty, 'lvl1') !important;
            }
            .uw-pause-svg{
              fill:gesso-brand($faculty, 'lvl1') !important;
            }
          }
        }
        //.uw-carousel__banner,
        .card__banner--caption{
            background:gesso-brand($faculty, 'primary');
        }
      }
    }
}
.card__banner {
  .card__body {
    padding:inherit;
  }
  .card__image{
    margin:0;
  }
}
.card__banner--image {
    background: $uw-black;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}
.card__banner--caption {
  display: block;
  height: auto;
  margin-bottom: 0;
  opacity: 1;
  padding: 1rem 2rem;
  position:relative;
  text-align: center;
  width: 100%;
  strong{
    font-weight:400;
  }

}
.card__banner--title {
  display: block;
  font-family: $header-font-family;
  font-size: gesso-font-size(3);
  font-weight: 400;
  letter-spacing: .045rem;
  line-height: 1.25;
  margin: 0;
  padding:0 0.5rem;
  text-align: center;
  width:auto;
  @include medium{
    font-size: gesso-font-size(6);
  }
}
.card__banner--sub-title {
  display: block;
  font-family: gesso-font-family(book);
  font-size: gesso-font-size(-1);
  @include medium{
  font-size: gesso-font-size(0);
  }
  line-height: 1.25;
  width:auto;
}
.card__banner {
  a {
    background: $uw-black;
    .card__banner--media {
      margin-bottom: 0;
      opacity:1;
      order: inherit;
      transition-delay: 0s;
      transition-duration: .2s;
      transition-property: color,background-color,border-color,opacity;
      transition-timing-function: linear;

    }
    &:hover {
      .card__banner--media {
        opacity: 0.6;
        transition-delay: 0s;
        transition-duration: .2s;
        transition-property: color, background-color, border-color, opacity;
        transition-timing-function: linear;
      }
    }
  }
  .card__body {
    padding:inherit;
  }
  .uw-picture__fallback{
    background: $uw-black;
    display:block;

  }
}
// Fixes spacing below embeded images
.uw-picture img{
  display:block;
}

.js .uw-owl-nav__dots-js {
  display: none;
}
.uw-owl-nav__banner-control{
  .uw-icon{
    svg{
      height:inherit;
      width:inherit;
    }
  }
}
