.uw-mailchimp{
  &__wrapper{
    .mc-field-group{
      margin: 0 0 rem(gesso-spacing(sm));
      input{
        background-color:$uw-input-background-color;
        border: 1px solid  $uw-input-border-color;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px $uw-input-border-color;
        box-sizing: border-box;
        color: $uw-input-text-color;
        font-family: $uw-input-font-family;
        font-size: $uw-input-font-size;
        max-width:inherit;
        padding: $uw-input-padding;
        transition: border-color;
        width: 100%;
        &:focus {
          border: 1px solid $uw-input-border-color-focus !important;
          box-shadow: inset 0 1px 3px rgba(0,0,0,.06), 0 0 5px rgba(104,104,104,.7);
          outline:$uw-input-border-color-focus;
        }
        [type="submit"] {
          @include button();
          font-weight:200 !important;
        }
      }
    }
    .brandingLogo{
      margin:1rem auto;
    }
    .indicates-required{
      text-align: right;
    }
    .asterisk{
      color:#e00;
      font-family:gesso-font-family(system);
      font-size: gesso-font-size(2);
      font-weight:  gesso-font-weight(regular);
    }
    .datefield{
      input{
        width: inherit;
      }
    }
    select {
      @include svg-background(select-arrows);
      appearance:none;
      background-color:$uw-input-background-color;
      background-position: right rem($form-select-arrow-size / 2) center; // LTR
      background-repeat: no-repeat;
      background-size: rem($form-select-arrow-size);

      border: 1px solid  $uw-input-border-color;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px $uw-input-border-color;
      box-sizing: border-box;
      height: rem(37.9062px);
      padding-left:0.5rem; // LTR
      padding-right: rem($form-select-arrow-size * 2); // LTR
      width:100%;
      @if $support-for-rtl {
        [dir='rtl'] & {
          background-position: left rem($form-select-arrow-size / 2) center;
          padding-left: rem($form-select-arrow-size * 2);
          padding-right: 0;
        }
      }
      // Remove inner focus styling on Firefox.
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
      &::-ms-expand {
        display: none;
      }
    }
  }
}
