.uw-site-container {

  display: grid;
  grid-template-columns: 100%;
  position:relative;
  // Puts the site container at z-index 2
  z-index: gesso-z-index(wrapper);
  .uw-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position:relative;
    // Puts the header at z-index 4
    z-index: gesso-z-index(header);
  }

  .uw-highlighted {
    @include uw-contained-width;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position:relative;
    width: 100%;
    // Puts the content at z-index 3
    z-index: gesso-z-index(content);
    @include xl {
      padding: 0;
    }
  }

  .block-uw-cbl-special-alert {
    background: #f0f0f0;
    border: 2px solid #96172e;
    margin: 1em 0;
    padding: 1em;

    // Prevent excess space at top from elements that have a margin-top.
    > *:first-child {
      margin-top: 0;
    }

    // Prevent excess space at bottom from elements that have a margin-bottom.
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .uw-main {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    min-height: 60vh;
    position:relative;
    width: 100%;
    // Puts the content at z-index 3
    //z-index: gesso-z-index(content);
  }

  .uw-footer {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    position:relative;
    // Puts the footer at z-index 2
    z-index: gesso-z-index(footer);
    .menu--item{
      a{
        color:#fff;
      }
    }
    .uw-footer__social-directory{
      a{
        color:#fff;
      }
    }
    .uw-footer__territorial{
      a{
        color:$uw-gold;
      }
    }
  }
}

.mobile-menu,
.mobile-menu-button{
  display:none !important;
}
