{%  if is_demo_site_container %}
  {%  set faculty = faculty ? faculty : 'org-art' %}
  {%  set branding_level = branding_level ? branding_level : 'full' %}
{% endif %}
<div class="uw-site-container">
  {% block header %}
    {% include "@layouts/header/header.twig"%}
  {% endblock %}

  {% block highlighted %}
{#    {% include '@global/06-break-hints/break-hints.twig' %}#}
  {% endblock %}

  {% block main %}
    {% include '@layouts/content/content.twig' %}
  {% endblock %}

  {% block footer %}
    {% include "@layouts/footer/footer.twig" with {
      'menu_name': footer_menu_name,
      'items': footer_menu
    }%}
    {% if pattern_lab %}
{#      {% include "@components/eu-cookie-compliance/eu-cookie-compliance.twig" %}#}
    {% endif %}
  {% endblock %}
</div>
