.readmore-link {
  text-decoration: none;
  &:hover, &:focus {
    path {
      fill: gesso-color(text, link-hover)
    }
  }
}

.readmore-link__icon {
  display: inline-block;
  position: relative;
  top: 8px;
  path {
    fill: gesso-color(text, link);
  }
}

.readmore-link__accessibility-description {
  @extend %visually-hidden;
}
