.uw-site-footer {
  background-color: $uw-local-site-footer-background-color;

  &__wrapper {
    @include uw-contained-width();
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    padding-bottom:gesso-spacing(sm);
    padding-top:gesso-spacing(sm);
    @include medium {
      grid-template-columns: auto 18rem;
    }
    @include xl{
      padding:gesso-spacing(sm) 0;
    }
  }
  &__title {
    color:gesso-brand(org-default,uw-white,primary);
    a{
      color:gesso-brand(org-default,uw-white,primary);
      text-decoration:underline;


      &:hover,
      &:focus
      {
        color:gesso-brand(org-default,uw-white,primary);
        text-decoration:none;

      }
    }

    font-family: gesso-font-family(condensedbook);
    font-size: rem(gesso-font-size(3));
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: gesso-spacing(sm);
    text-align: center;
    text-transform:uppercase;
    @include medium {
      grid-row: 1 / 2;
      text-align: left;

    }
  }
  &__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: gesso-spacing(sm);
    text-align: center;
    @include medium {
      grid-row: 1 / 2;
      text-align: left;

    }
  }

  &__social-media {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin:0 auto;
    padding-bottom: gesso-spacing(sm);
    width:100%;

    @include medium {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin:0;
    }

    @include xl {
      //padding:0;
    }
  }

  &__content {
    h2,h2,h3,h4,h5,h6{
      color:gesso-brand(org-default,uw-white,primary);
    }
    color:gesso-brand(org-default,uw-white,primary);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-bottom: gesso-spacing(md);
    text-align: center;
    @include medium {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      text-align: left;
    }

    @include xl {
      padding-left: 0;
      padding-right: 0;
    }
    a{
      color:gesso-brand(org-default,uw-white,primary);
    }
    table {
      caption{
        color:gesso-brand(org-default,uw-white,primary);
      }
      *{
        color:gesso-brand(org-default,uw-black,primary);
      }
    }
  }

  .uw-admin-label {
    display: none;
  }

  .in-layout-builder {
    border: 0;
    margin: initial;
  }
}
