// Universal Gap
$grid-gap: rem(gesso-spacing(lg));

.layout {
  @include uw-contained-width;
  grid-gap:$grid-gap;
  .uw-node__with-image .card__node & {
    padding: rem(gesso-spacing(sm));
    @include xxl {
      padding: rem(gesso-spacing(sm)) 0;
    }
  }
  &.uw-contained-width {
    @include uw-contained-width;
    padding: rem(gesso-spacing(sm));
    @include xxl {
      padding: rem(gesso-spacing(sm)) 0;
    }

    &--narrow {
      /* Match the width of WCMS2's narrow: 496px */
      max-width: 31rem;
    }

    &--wide {
      /* Match the width of WCMS2's wide: 753px */
      max-width: 47.0625rem;
    }
  }

  &.uw-full-width {
    @include uw-full-width-padding;
    overflow:hidden;
    .uw-caption{
     > p{   padding-left:1rem;}
    }
    .uw-section-has-full-width.uw-node__with-sidebar &{
      padding: 0 gesso-spacing(sm) !important;
    }
    .dashboards-container &{
      @include uw-full-width;
      margin-bottom: $grid-gap;
      overflow: visible; /* otherwise, dropdowns truncate at the border. */
    }
    .layout-builder &{
      padding:1rem;
    }
    .layout-builder__region {
      padding:1rem;
    }
    &.layout--uw-1-col{
      .block-inline-blockuw-cbl-banner-images,
      .block-inline-blockuw-cbl-image,
      .block-uw-cbl-image,
      .block-inline-blockuw-cbl-remote-video,
      .block-inline-blockuw-cbl-image-gallery{
        @include uw-full-width-margin;
        .layout-builder &{
          @include uw-full-width-reset;
          margin-left:0;
          margin-right:0;
        }
        h2{
          margin-left:1rem;
        }
        .uw-section-has-full-width.uw-node__with-sidebar &{
          @include uw-full-width-reset;
        }
      }
      .block-inline-blockuw-cbl-google-maps{
        @include uw-contained-width;
        @include medium{
          @include uw-full-width-margin;

        }
        .layout-builder &{
          @include uw-full-width-reset;
          margin-left:0;
          margin-right:0;

        }
        .uw-section-has-full-width.uw-node__with-sidebar &{
          @include uw-full-width-reset;
        }
        h2{
          margin-left:1rem;
        }
      }
    }
  }
  // When wrapped with class to identify sidebar
  .uw-node__with-sidebar & {
    margin: inherit;

    @include medium {
      @include uw-contained-width;
    }

    &.uw-contained-width {
      @include uw-contained-width;
      margin: inherit;
      padding: rem(gesso-spacing(sm));
      @include xxl {
        padding: rem(gesso-spacing(sm)) 0;
      }

      &--narrow {
        /* Match the width of WCMS2's narrow: 496px */
        margin: inherit;
      }

      &--wide {
        /* Match the width of WCMS2's wide: 753px */
        margin: inherit;
      }
    }
  }
}

.uw-section-has-full-width .layout.layout--uw-1-col{overflow:hidden}
