.layout__region {
  .layout-builder &{
    outline: 2px dashed #2f91da;
  }
  .pattern-lab-content & {
    outline: 2px dashed #2f91da;
    padding: 1.5rem;
    text-align: center;
    .pl-labels{
      text-align:center;
    }
  }
}

.pl-layout-h2 {
  @include uw-contained-width;
}
