// @file
// Unordered list styles.

ul {
  list-style-type: disc;
  margin: 0 0 rem(gesso-spacing(sm));
  padding: 0 0 0 rem(gesso-spacing(md)); // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 rem(gesso-spacing(md)) 0 0;
    }
  }

  ul {
    list-style-type: circle;
    margin: rem(gesso-spacing(sm) / 2) 0 0;
    li > ul {
      list-style-type: disc;

    }
  }
}
.disc {
  list-style: disc;
  ul {
    list-style-type: disc;

    li > ul {
      list-style-type: disc;
    }
  }
}
.square {
  list-style: square;
  ul {
    list-style-type: square;

    li > ul {
      list-style-type: square;
    }
  }
}
.circle {
  list-style-type: circle;
  ul {
    list-style-type: circle;

    li > ul {
      list-style-type: circle;
    }
  }
}
