/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 */
.views-exposed-form{
  margin:0 !important;
  padding:0 !important;
  .form-actions{
    display:flex;
    gap:2rem;
    .button.js-form-submit.form-submit{
      font-weight:inherit;
      &:last-of-type{
        //background-color: gesso-color(button, primary, background);
        //color: gesso-color(button,primary,text);
        &:hover,
        &:focus {
          //background-color: gesso-color(button, primary, background-hover);
          //color: gesso-color(button,primary,text);
        }
      }

    }
  }
}
