.card__teaser{
  @include uw-flex-grid(card);

  .views-row &{
    height:100%;
  }
  .uw-label{
    display:block;
    margin-top:1rem;
  }
  .card__tags{
    margin:inherit;
    margin-top: auto;
    padding: 0;
  }

  .uw-node__without-image &{
    .card__header,
    .card__footer {
        padding: 0;
    }
  }
  &--profile{

    .card{
      &__image{
        margin:0;
        max-width:5rem;
      }
     &__header{
       display:grid;
       grid-template-columns: auto 1fr;
       //grid-template-rows: minmax(3rem, auto);
       .uw-image__profiles{
        grid-column: 1/2;
        grid-row: 1 / 3;
        margin-right:1rem;
       }
       .card__position{
         grid-column: 2/3;
         grid-row: 2/3;
       }
       .card__title{
         grid-column: 2/3;
         grid-row: 1/2;
         margin:0;
       }
     }
     &__body{
       grid-column: 1/3;
     }
   }
  }
}
