{% if type and (type == 'header' or type == 'footer') %}
  {% set show_hover = '' %}
{% else %}
  {% set show_hover = 'true' %}
{% endif %}

{% set modifier_classes = 'teaser--' ~ teaser.bundle %}

{% include '@components/card/card.twig' with {
  'bundle': node.bundle,
  'modifier_classes': modifier_classes,
  'type': type,
  'url': teaser.url,
  'header': teaser.header,
  'image': teaser.image,
  'content': teaser.content,
  'footer': teaser.footer,
  'tags': teaser.tags,
  'show_hover': show_hover,
} %}
