<h2>Teaser - Blog</h2>
{% include '@components/card/card--teaser/_card--teaser.twig' with {
  'teaser': teasers.blog,
  'type': 'teaser'
} %}

<h2>Teaser - Event</h2>
{% include '@components/card/card--teaser/_card--teaser.twig' with {
  'teaser': teasers.events,
  'type': 'teaser'
} %}

<h2>Teaser - News</h2>
{% include '@components/card/card--teaser/_card--teaser.twig' with {
  'teaser': teasers.news,
  'type': 'teaser'
} %}
