  {% if pattern_lab %}
  <div class="path-catalogs">
    <div class="views-element-container contextual-region">
      <div class="uw-catalog-search">
        <form class="catalog-search-form" data-drupal-selector="catalog-search-form" action="/catalogs" method="post" id="catalog-search-form" accept-charset="UTF-8" data-drupal-form-fields="edit-search-input,edit-submit">
          <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-search-input form-item-search-input form-no-label">
            <input data-drupal-selector="edit-search-input" type="text" id="edit-search-input" name="search_input" value="" size="60" maxlength="128" placeholder="Search within all catalogs" class="form-text required" required="required" aria-required="true">
          </div>
          <input aria-label="search" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="" class="button js-form-submit form-submit">
          <input autocomplete="off" data-drupal-selector="form-elgxztep7mki3psok-nfqf9pcqjiq7-pglh3jj9f4r8" type="hidden" name="form_build_id" value="form-ELGxZTep7MKi3PsOK_nfqf9PcQjiQ7-pGLH3Jj9F4r8">
          <input data-drupal-selector="edit-catalog-search-form-form-token" type="hidden" name="form_token" value="RpAjcd-zHahGERC452drdMaI_k0hmmw05FvjEP1rrnM">
          <input data-drupal-selector="edit-catalog-search-form" type="hidden" name="form_id" value="catalog_search_form">
        </form>
      </div>
      <div class="contextual-region view view-uw-view-catalogs view-id-uw_view_catalogs view-display-id-catalogs_page js-view-dom-id-58ff44c140cc61ce86df67b484c8d7df5452597b951d9a1a2455d599b6a6d093">
        <div data-contextual-id="entity.view.edit_form:view=uw_view_catalogs:location=page&amp;name=uw_view_catalogs&amp;display_id=catalogs_page&amp;langcode=en" data-contextual-token="unOKTU88qEcBR258PDXRd2IMBDyzcGqUrUvP6nU6sL8" class="contextual"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open Books (2) configuration options</button><ul class="contextual-links" hidden=""><li class="entityviewedit-form"><a href="/admin/structure/views/view/uw_view_catalogs/edit/catalogs_page?destination=/catalogs">Edit view</a></li></ul></div>
        <div class="view-content">
          <div class="item-list">
            <ul>
              <li><div class="views-field views-field-nid"><span class="field-content"><h2><a href="/catalogs/books">Books</a> <span>(2)</span></h2></span></div><div class="views-field views-field-description__value"><span class="field-content"><p>this is the description section - need to test&nbsp;</p></span></div></li>
              <li><div class="views-field views-field-nid"><span class="field-content"><h2><a href="/catalogs/colours">Colours</a> <span>(1)</span></h2></span></div><div class="views-field views-field-description__value"><span class="field-content"><p>this is a description</p></span></div></li>
              <li><div class="views-field views-field-nid"><span class="field-content"><h2><a href="/catalogs/painters">Painters</a> <span>(1)</span></h2></span></div><div class="views-field views-field-description__value"><span class="field-content"></span></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

