$menu-horizontal-bg: gesso-grayscale(gray-2);
$menu-horizontal-bar-font: gesso-font-family(book);
$menu-horizontal-sub-font: gesso-font-family(system);
$menu-horizontal-sub-font-bold: gesso-font-family(systembold);
$menu-horizontal-bar-font-size: rem(gesso-font-size(-2));
$menu-horizontal-sub-font-size: rem(gesso-font-size(-2));
$menu-horizontal-drop-bg: #f7f7f7;
// Colors
$faculties: 'org-default', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
@each $faculty in $faculties {
  @if $faculty == org-default{
    .#{$faculty} {
      .uw-horizontal-nav {
        .uw-site-home__link{
          svg{
            .bg-circle{
              fill:gesso-brand(org-default,uw-black, lvl4);
              stroke:gesso-brand(org-default,uw-black, lvl4);
            }
            .house{
              fill:gesso-brand(org-default,uw-white,lvl1);
            }
          }
          &:focus{
            svg{
              .bg-circle {
                fill: gesso-brand(org-default,uw-white,lvl1);
                stroke: gesso-brand(org-default,uw-black, lvl4);
              }

              .house {
                fill: gesso-brand(org-default, uw-black, lvl4);
              }
            }
          }
          &:hover{
            svg{
              .bg-circle {
                fill: gesso-brand(org-default,uw-white,lvl1);
                stroke: gesso-brand(org-default,uw-black, lvl4);
              }

              .house {
                fill: gesso-brand(org-default, uw-black, lvl4);
              }
            }
          }
        }
        .menu--horizontal {
          > .is-active-trail {
            background-color: gesso-grayscale(gray-3);
            color: gesso-brand(org-default, uw-black, lvl4);
            >  .menu--link.active{
              ~ .menu{
                .menu--item{
                  &__parent{
                    a{
                      border-bottom: 1px solid gesso-brand(org-default,uw-black,lvl4);
                    }
                  }
                }
              }
            }
          }
          li {
            > a{
              color: gesso-brand(org-default,uw-black,lvl4);
              &:focus{
                background-color:  gesso-grayscale(gray-3);
                color: gesso-brand(org-default,uw-black,lvl4);
              }
              &.active{
                background-color:  gesso-grayscale(gray-3);
                color: gesso-brand(org-default,uw-black,lvl4);
              }
              &:hover{
                background-color: gesso-brand(org-default,uw-white,lvl1);
                color: gesso-brand(org-default,uw-black,lvl4);
              }
            }
            .menu--subnav{
              a{
                background-color:transparent;
                border-bottom:1px solid transparent;
                text-decoration:none;
                &:focus {
                  background-color: inherit;
                  border-bottom: 1px solid  gesso-brand(org-default,uw-black,lvl4);
                  color: gesso-brand(org-default,uw-black,lvl4);
                }
                &.active{
                  background-color:inherit;
                  border-bottom:1px solid  gesso-brand(org-default,uw-black,lvl4);
                  color: gesso-brand(org-default,uw-black,lvl4);
                  &::after{
                    display:none;
                  }
                  &:hover{
                    background-color:inherit;
                    border-bottom:1px solid  gesso-grayscale(gray-3);
                    color: gesso-brand(org-default,uw-black,lvl4);
                  }
                }
                &:hover{
                  background-color:inherit;
                  border-bottom:1px solid  gesso-grayscale(gray-3);
                  color: gesso-brand(org-default,uw-black,lvl4);
                }

              }
            }
          }
        }
      }
    }
  }
  @else {
    .#{$faculty} {
      .uw-horizontal-nav {
        .uw-site-home__link{
          svg{
            .bg-circle{
              fill:gesso-brand($faculty, primary);
              stroke:gesso-brand($faculty, primary);
            }
            .house{
              fill:gesso-brand(org-default,uw-white,lvl1);
            }

          }
          &:focus{
            svg{
              .bg-circle{
                fill:gesso-brand(org-default,uw-white,lvl1);
                stroke:gesso-brand($faculty, primary);
              }
              .house{
                fill:gesso-brand($faculty, primary);
              }
            }
          }
          &:hover{
            svg{
              .bg-circle{
                fill:gesso-brand(org-default,uw-white,lvl1);
                stroke:gesso-brand($faculty, primary);
              }
              .house{
                fill:gesso-brand($faculty, primary);
              }
            }
          }
        }
        .menu--horizontal {
          > .is-active-trail {
            background-color: gesso-grayscale(gray-3);
            color: gesso-brand(org-default, uw-black, lvl4);
            >  .menu--link.active{
              ~ .menu{
                .menu--item{
                  &__parent{
                    a{
                      border-bottom: 1px solid gesso-brand($faculty, primary);
                      color: gesso-brand($faculty, primary);
                    }
                  }
                }
              }
            }
          }
          li {
            > a{
              color: gesso-brand(org-default,uw-black,lvl4);
              &:focus{
                background-color:  gesso-grayscale(gray-3);
                color: gesso-brand(org-default,uw-black,lvl4);
              }
              &.active{
                background-color:  gesso-grayscale(gray-3);
                color: gesso-brand(org-default,uw-black,lvl4);
              }
              &:hover{
                background-color: gesso-brand(org-default,uw-white,lvl1);
                color: gesso-brand(org-default,uw-black,lvl4);
              }
            }
            .menu--subnav{
              a{
                background-color:transparent;
                border-bottom:1px solid transparent;
                text-decoration:none;
                &:focus {
                  background-color: inherit;
                  border-bottom:1px solid gesso-brand($faculty, primary);
                  color: gesso-brand(org-default,uw-black,lvl4);
                }
                &.active{
                  background-color:inherit;
                  border-bottom:1px solid gesso-brand($faculty, primary);
                  color: gesso-brand($faculty, primary);
                  &::after{
                    display:none;
                  }
                  &:hover{
                    background-color:inherit;
                    border-bottom:1px solid  gesso-grayscale(gray-3);
                    color: gesso-brand(org-default,uw-black,lvl4);
                  }
                }
                &:hover{
                  background-color:inherit;
                  border-bottom:1px solid  gesso-brand($faculty, primary);
                  color:gesso-brand($faculty, primary);
                }

              }
            }
          }
        }
      }
    }
  }
}

.uw-horizontal-nav{
  @include uw-full-width;
  background:$menu-horizontal-bg;
  &--wrapper{
    @include uw-contained-width;
    display:grid;
    padding:0;
    position:relative;
    @include medium{
      grid-template-columns: 3rem auto;
      padding:0 gesso-spacing(xs);
    }
    @include xl{
      padding:0;
    }
  }
  &--home{
    display:none;
    @include medium{
      display:block;
      grid-column: 1/2;
      padding:gesso-spacing(xxs);
      .uw-site-home__link{
        display:block;
        height:24px;
        width:24px;
        svg{
          .bg-circle{
            stroke-miterlimit:10;
            stroke-width:0.5;
          }
        }
      }
    }
    @include xl{
      padding:gesso-spacing(xxs) 0;
    }
  }
  &--menu {
    @include uw-full-width;
    @include medium{
      grid-column: 2/3;
    }

    .menu {
      margin-left:inherit;
      &--link{
        position:relative;
      }
      .menu--item{
        a{
          cursor:pointer;
          outline:none;
          outline-offset: unset;

        }
      }
      // Top Level <ul> flex top items
      &--horizontal {
        @include uw-full-width;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: $menu-horizontal-bar-font;
        font-size: $menu-horizontal-bar-font-size;
        justify-content: flex-start;
        width: 100%;
        > .menu--item{
          border-bottom:1px solid  gesso-grayscale(gray-3);
          @include medium{
            border-bottom:inherit;
          }
          width:100%;

          @include medium{
            width:auto;
          }
          a{
            display:inline-block;
            line-height:1.25rem;
            padding:gesso-spacing(xs);
            text-decoration:none;
            width: 100%;

          }
          &.has-submenu {
            > a{
              padding-right:gesso-spacing(md);
              position:relative;

              &::after {

                @include svg-background(mobile-arrow-down);
                background-position:center center; // LTR
                background-repeat: no-repeat;
                background-size: contain;
                color: gesso-brand(org-default,uw-black,'primary');
                content:'';
                display:block;
                height:0.5rem;
                position:absolute;
                right:gesso-spacing(xs);
                text-align: center;
                top:14px;
                width:0.5rem;
              }
            }

          }
          .no-scroll & {
            &[aria-expanded="true"]{

              > a{
                border-left:1px solid gesso-grayscale(gray-3);
                display:inline-block;
                height:2.25rem;
                overflow:hidden;
                position:absolute;
                right:0;
                top:0;
                width:2rem;
                z-index: gesso-z-index(overlay);
                span{
                  display:none;
                }
                &::after {
                  transform:rotate(180deg);
                }
              }
            }
          }
        }
      }


      // hide all menus that are classed subnav
      &--subnav {
        display: none;
        font-size: $menu-horizontal-sub-font-size;
        text-transform: none;
        width:100%;
      }
      .submenu-active {
        &[aria-expanded="true"]{
          > a{
            &::after {
              transform:rotate(180deg);
            }
          }
        }
        .menu--subnav{
          background: $menu-horizontal-drop-bg;
          display:block;
          height:calc(100vh - 7rem);
          position: absolute;
          top:0;
          z-index: gesso-z-index(dropdown);
          .menu--subnav{
            align-items:inherit;
            background:inherit;
            box-shadow:none;
            column-count:inherit;
            display:inherit;
            flex-flow: inherit;
            flex-direction: inherit;
            flex-wrap:inherit;
            height:inherit;
            left:inherit;
            margin:0;
            max-height:inherit;
            min-height:inherit;
            padding-top:inherit !important;
            position:inherit;
            top:inherit;
            width:inherit;
            z-index:inherit;
          }
          @include medium {
            //@include uw-contained-width;
            background: $menu-horizontal-drop-bg;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.13);
            break-inside:avoid;
            column-count: 2;
            column-fill: balance;
            column-gap: $grid-gap;
            height: auto;
            left: 3rem;
            overflow-y:inherit;
            padding: 0 gesso-spacing(sm) gesso-spacing(md) gesso-spacing(sm);
            top: 100%;
            width:calc(100% - 6rem);
            // Puts the dropdown at z-index 7
            z-index: gesso-z-index(dropdown);
          }
          @include large {
            column-count: 3;
          }
          @include xl {
            column-count: 4;
          }
          .menu--item{
            @supports (break-inside: avoid-column) {
              display:block;
            }
            .menu--subnav{
              padding:0;
            }
            a{
              font-family:$menu-horizontal-sub-font-bold;
              font-weight:400;
              padding:gesso-spacing(xs);
              padding-right: 24px;
              .no-scroll &{
                border-bottom:1px solid #e6e6e6;
              }
              @include medium{
                padding:gesso-spacing(xs) gesso-spacing(xs) gesso-spacing(xs) 0;
              }
            }
            .no-scroll & {
              &__parent{
                border-bottom:1px solid #e6e6e6;
                padding:0;
                a{

                  border-bottom: 1px solid transparent;

                }
              }
              .menu--item {
                a {
                  font-family:$menu-horizontal-sub-font;
                  font-weight:200;
                  padding-left: gesso-spacing(sm);
                }

                .menu--item {
                  a {
                    font-family:$menu-horizontal-sub-font;
                    font-weight:200;
                  }
                  .menu--item {
                    a {
                      font-family:$menu-horizontal-sub-font;
                      font-weight:200;
                    }
                  }
                }
              }
            }

            @include medium {

              height:auto;
              width:100%;
              .menu--item{
                font-family:$menu-horizontal-sub-font;
                font-weight:200;
                margin-top:inherit;
                max-width:inherit;
                padding-left: 0.5rem;
                a{
                  font-family:$menu-horizontal-sub-font;
                  padding:gesso-spacing(xxs);
                }
                .menu--item{
                  margin-top:inherit;
                  padding-left: 0.5rem;

                  a{
                    font-family:$menu-horizontal-sub-font;
                    font-weight:200;
                  }
                  .menu--item{

                    margin-top:inherit;

                    a{
                      font-family:$menu-horizontal-sub-font;
                      font-weight:200;
                    }
                  }
                }
              }
            }
            @include large {

            }
            &__parent{
              padding:gesso-spacing(xxs) 0 gesso-spacing(xxs) 0;
              top:0;
              width:100%;
              .menu--link-parent {
                display:inline-block;
                position:relative;
                width:auto;
                &::after {
                  @include svg-background(mobile-arrow-down);
                  background-position:center center; // LTR
                  background-repeat: no-repeat;
                  background-size: contain;
                  color: gesso-brand(org-default,uw-black,'primary');
                  content:'';
                  display:block;
                  height:0.5rem;
                  position:absolute;
                  right:gesso-spacing(xs);
                  text-align: center;
                  top:12px;
                  transform:rotate(-90deg);
                  width:0.5rem;
                }
              }
              @include medium {
                column-span: all;
                max-width:inherit !important;
                padding:gesso-spacing(xs) 0 gesso-spacing(xs) 0;
                .menu--link-parent {
                  font-size:rem(gesso-font-size(-1));
                  margin:0 0 gesso-spacing(xxs) 0;
                  &::after {
                    right:-1rem;
                  }

                }
              }
            }
          }
        }
      }
      .sub-1{
        @include medium{
          /* for Chrome and Edge Brave Opera */
          break-inside: avoid;
          /* for Firefox */
          display: inline-grid;
          page-break-inside: avoid;
        }
      }
    }
  }
}
