<nav class="uw-horizontal-nav {% if modifier_classes %} uw-horizontal-nav--{{ modifier_classes }}{% endif %}">
    <div class="uw-horizontal-nav--wrapper">
      {% if include_home %}
        <div class="uw-horizontal-nav--home">
            <a href="{{ home_link }}" class="uw-site-home__link" title="{{ site_name }} {{ 'Home'|t }}" rel="home">
              <div class="uw-icon uw-svg uw-svg__home">
                {% include '@components/svg/icons/_home.svg.twig' %}
              </div>
              <span class="off-screen">{{ site_name }} {{ 'Home'|t }}</span>
            </a>
        </div>
      {% endif %}
        <div class="uw-horizontal-nav--menu">
            {% include '@components/menu/menu.twig' with {
                'items': items
            } %}
        </div>
    </div>
</nav>
