.uw-caption {
  .caption {
    background: #eee;
    border: solid 1px #dfdfdf;
    color: #000;
    font-family: Typ1451-Regular,verdana,sans-serif;
    font-size: .88889rem;
    padding: .5rem;
  }
}
