{% if items %}
  <nav aria-labelledby="pagination-heading" class="pager {{ modifier_classes }}" role="navigation">
    <h4 class="visually-hidden" id="pagination-heading">{{ heading|default('Pagination') }}</h4>
    <ul
      class="pager__items js-pager__items">

      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <li class="pager__item pager__item--first">
          <a class="pager__link pager__link--first" href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}" {{ items.first.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'First page'|t }}</span>
            <span aria-hidden="true">&#171; first</span>
          </a>
        </li>
      {% endif %}

      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a class="pager__link pager__link--previous" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev" {{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">&#8249; previous</span>
          </a>
        </li>
      {% endif %}

      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="pager__item{{ current == key ? ' pager__item--current' : '' }}">
          {% if current == key %}
            <span class="visually-hidden">
              {{ 'Current page'|t }}
            </span>
            {{- key -}}
          {% else %}
            <a class="pager__link" href="{{ item.href }}" title="{{ 'Go to page @key'|t({'@key': key}) }}" {{ item.attributes|without('href', 'title') }}>
              <span class="visually-hidden">
                {{ 'Page'|t }}
              </span>
              {{- key -}}
            </a>
          {% endif %}
        </li>
      {% endfor %}

      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
      {% endif %}

      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a class="pager__link pager__link--next" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next" {{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">next &#8250;</span>
          </a>
        </li>
      {% endif %}

      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <li class="pager__item pager__item--last">
          <a class="pager__link pager__link--last" href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}" {{ items.last.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'Last page'|t }}</span>
            <span aria-hidden="true">last &#187;</span>
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
