<div property="schema:jobTitle" class="ofis-jobtitle">{{ ofis_data.title }}</div>
<div class="ofis-header">
  {% if ofis_data.picture %}
    <div class="ofis-picture">
      <img alt="{{ ofis_data.name }}" src="{{ ofis_data.picture }}">
    </div>
  {% endif %}
  <div>
    <h2>Contact information</h2>
    {% if ofis_data.personal.email %}
      <div>Email: <a href="mailto:{{ ofis_data.personal.email }}">{{ ofis_data.personal.email }}</a></div>
    {% endif %}
    {% if ofis_data.personal.phones %}
      <div>Phone: {{ ofis_data.personal.phones }}</div>
    {% endif %}
    {% if ofis_data.personal.offices %}
      <div>Location: {{ ofis_data.personal.offices }}</div>
    {% endif %}
    {% if ofis_data.personal.fax %}
      <div>Fax: {{ ofis_data.personal.fax }}</div>
    {% endif %}
  </div>
</div>
{% if ofis_data.personal.webpages_formatted %}
  <h2>Website</h2>
  {% for ws in ofis_data.personal.webpages_formatted %}
    {{ ws | raw }}<br/>
  {% endfor %}
{% endif %}
{% if ofis_data.biography %}
  <h2>Biography summary</h2>
  <p>{{ ofis_data.biography | raw }}</p>
{% endif %}
{% if ofis_data.personal.expertise_keywords %}
  <h2>Research interests</h2>
  <ul>
    {% for keyword in ofis_data.personal.expertise_keywords %}
      <li>{{ keyword }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if ofis_data.education %}
  <h2>Education</h2>
  <ul>
    {% for degree in ofis_data.education %}
      <li>
        {% if degree.degree_yr %}
          {{ degree.degree_yr }},
        {% endif %}
        {% if degree.degree_name %}
          {{ degree.degree_name }},
        {% endif %}
        {% if degree.name_of_discipline %}
          {{ degree.name_of_discipline }},
        {% endif %}
        {% if degree.institution %}
          {{ degree.institution }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if ofis_data.courses %}
  <h2>Courses<a href="#disclaimer" id="courses" aria-label="note">*</a></h2>
  <ul>
    {% for course in ofis_data.courses %}
      <li>{{ course.subject }} {{ course.num }} - {{ course.title | raw }}</li>
    {% endfor %}
  </ul>
  <p id="disclaimer"><small><a href="#courses" aria-label="back">*</a> Only courses taught in the past 5 years are displayed.</small></p>
{% endif %}
{% if ofis_data.contribution %}
  <h2>Selected/recent publications</h2>
  <ul>
    {% for pub in ofis_data.contribution %}
      <li>{{ pub.value }}<br/>{{ pub.url | raw }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if ofis_data.news %}
  <h2>In the news</h2>
  <ul>
    {% for entry in ofis_data.news %}
      {% if entry.article_title %}
        <li><a href="{{ entry.url }}">{{ entry.article_title }}</a></li>
      {% else %}
        <li><a href="{{ entry.url }}">{{ entry.url }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
{% if ofis_data.personal.accepting_grad_students is defined %}
  <h2>Graduate studies</h2>
  <ul>
    {% if ofis_data.personal.accepting_grad_students %}
      <li>Currently considering applications from graduate students. A completed online application is
        required
        for admission; <a
          href="https://uwaterloo.ca/graduate-studies-postdoctoral-affairs/future-students/applying-graduate-school/before-you-apply">
          start the application process now.</a>
      </li>
    {% else %}
      <li>Not currently accepting applications for graduate students</li>
    {% endif %}
    {% if ofis_data.personal.adds_status %}
      <li>Has <a href="https://uwaterloo.ca/engineering/approved-doctoral-dissertation-supervisor-status">Approved
          Doctoral Dissertation Supervisor</a> (ADDS) status
      </li>
    {% endif %}
  </ul>
{% endif %}
