.layout--uw-5-col {
  display: grid;
  gap:$grid-gap;
  grid-template-columns:100%;
  &.even-split {
    @include medium{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-left {
    @include medium{
      grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-second {
    @include medium{
      grid-template-columns:  minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-third {
    @include medium{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-fourth {
    @include medium{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
    }
  }
  &.larger-right {
    @include medium{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr);
    }
  }
  &.legacy-23-19-19-19-20 {
    @include medium{
      grid-template-columns: 23% minmax(0, 1fr)   minmax(0, 1fr)  minmax(0, 1fr)   20%;
    }
  }
  .layout__region{
    &--first {
      grid-column: 1 / 2;
      grid-row:1 / 2;
    }
    &--second {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      @include medium{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
    &--third {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      @include medium{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }
    &--fourth {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      @include medium{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }
    }
    &--fifth {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      @include medium{
        grid-column: 5 / 6;
        grid-row: 1 / 2;
      }
    }
  }
}
