{% set num_of_blocks = 5 %}

{% if pattern_lab %}

  {% for column_class in column_classes %}
    <h2 class="pl-layout-h2">{{ column_class.name }}</h2>

    {% include '@layouts/layout/_layout.twig' with {
      classes: column_class.classes,
      num_of_blocks: num_of_blocks,
    } %}
  {% endfor %}

{% else %}

  {% include '@layouts/layout/_layout.twig' with {
    classes: classes,
    num_of_blocks: num_of_blocks,
  } %}

{% endif %}