<div id="uw-social-intents-{{ social_intents.uniqueid }}" class="uw-social-intents">
  <div class="uw-social-intents__wrapper {{ width }}">
    <iframe src="https://chat.socialintents.com/c/{{ social_intents.username }}" width="100%" height="540"></iframe>
  </div>
</div>
