.social-media-list {
  align-items: center;
  display: inline-flex;
  gap:0.5rem;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding:0;
  text-align:center;
  width:100%;
  @include xs {
    margin: 0;
    max-width: inherit;
  }
  @include medium{
    justify-content: flex-end;
  }
  li {
    margin: 0;
    padding:0;
  }
}
.social-media-i {
  &::before{
    display:block;
    height:100%;
    width:100%;
  }
}
.social-media-link {
  background-color:$uw-white;
  border-radius: 3px;
  display:block;
  height: 2.125rem;
  padding: 0.225rem;
  position: relative;
  width: 2.125rem;
  @include large{
    height: 2.5rem;
    padding: 0.24rem;
    width: 2.5rem;
  }
  &:hover,
  &:focus{
    background-color:transparent;
    text-decoration: none;
  }
}
