<div class="uw-social-media">
  <ul class="social-media-list {{ social_media_menu_class }}">
    {% for item in social_media.menu_tree %}
      <li class="social-media-list-item">
        {% include "@components/social-media/social-media--icon/social-media--icon.twig" with {
          "text": item.text,
          "url": item.url,
          "social_media_placement": social_media_placement
        }%}
      </li>
    {% endfor %}
  </ul>
</div>
