.uw-carousel {
  display: block;
  position: relative;
  width: 100%;
}
.owl-carousel.owl-theme{
  display:flex !important;
  flex-flow: column;
  .owl-dots{
    margin-bottom:gesso-spacing(sm);
    .owl-dot {
      &:hover{
        span {
          background:$button-background-color !important;
          color: $button-background-color !important;
        }
      }
      &.active{
        span {
          background:$button-background-color !important;
          color: $button-background-color !important;
        }
      }
    }
  }
}
.owl-stage-outer{
  margin-bottom: 1rem;
  order:1
}
// style the carousel buttons
.uw-owl-nav{

  &.disabled{
    display:none;
  }
  display:flex;
  justify-content: center;
  order:3;
  button {
    background:$button-background-color-hover;
    color: gesso-brand(org-default,uw-black,lvl3) ;
    display: inline-block;
    font-family:gesso-font-family(condensedbook);
    font-size: rem(gesso-font-size(1));
    font-weight:200;
    letter-spacing: .055rem;
    margin: 0 0.5rem;
    max-width: inherit;
    padding: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    &:hover {
      background:$button-background-color !important;
      color:#fff !important;

    }
  }
}
.owl-dots{
  order:2;
  &.disabled{
    display:none;
  }
  button {
    background:$button-background-color;
    color: gesso-brand(org-default,uw-white,lvl1);
    display: inline-block;
    font-size: rem(gesso-font-size(1));
    height:2rem;
    margin: 0 auto;
    max-width: inherit;
    padding: inherit;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 2rem;
    &:hover {
      background-color: transparent;
    }
  }
}

.owl-theme .owl-dots .owl-dot {
  span{
    border-radius:50%;
    height:1rem !important;
    width:1rem !important;
  }
  &:hover{
    span {
      background:$button-background-color !important;
      color: $button-background-color !important;
    }
  }
  &.active{
    span {
      background:$button-background-color !important;
      color: $button-background-color !important;
    }
  }
}
