// @file
// Styles for collapsible details.

$details-background-color: gesso-color(ui, generic, background-light) !default;
$details-background-color-hover: gesso-color(ui, generic, background) !default;
$details-content-background-color: gesso-color(background, site) !default;
$details-padding: gesso-spacing(sm) !default;
$details-text-color: gesso-color(text, on-light) !default;
$summary-font-family: gesso-font-family(book);
$details-font-family: gesso-font-family(primary);
// 'details' can appear as a modernizr class on the html tag, so this
// class is limited to only the details element
/* stylelint-disable-next-line selector-no-qualifying-type */
.uw-details,
.seven-details{
  background-color: #fcfcfa;
  border: 1px solid #bfbfbf;
  border-bottom: 1px solid $card-accent-border-color;
  border-radius: inherit;
  box-shadow: gesso-box-shadow(0);
  margin: rem(gesso-spacing(md)) 0;
  transition: box-shadow gesso-duration(short) gesso-easing(ease-in-out);
  width:100%;
  &[open] > .seven-details__summary {
    color: gesso-brand(org-default,uw-black,'primary');
  }
  &:hover {
    box-shadow: gesso-box-shadow(1);
  }
  &:focus-within {
    box-shadow: gesso-box-shadow(1);
  }
  &:first-child{
    margin-top: 0;
  }

  // Fallback for browsers that don’t support details.
  /* stylelint-disable-next-line selector-no-qualifying-type */
  .js &:not([open]) > .details__content {
    display: none;
  }
}

.seven-details__summary,
.details__summary {
  @include uw-no-breakout();
  @include svg-background(mobile-arrow-down);
  background-color: $details-background-color;
  background-position: right 1rem center; // LTR
  background-repeat: no-repeat;
  background-size: rem(13px);
  color: gesso-brand(org-default,uw-black,'primary');
  cursor: pointer;
  display: block;
  font-family:$summary-font-family;
  font-size: rem(gesso-font-size(-1));
  line-height: 1.25;
  outline: 0;
  padding: $details-padding;
  text-shadow: 0 1px 0 #fff;
  transition: box-shadow gesso-duration(short) gesso-easing(ease-in-out);


  @if $support-for-rtl {
    [dir='rtl'] & {
      background-position: left $details-padding center;
      padding-left:gesso-spacing(xl);
      padding-right: $details-padding;
    }
  }

  [open] > & {
    @include svg-background(mobile-arrow-up);
  }

  &:hover,
  &:focus{
    //box-shadow: gesso-box-shadow(3);
    color: gesso-brand(org-default,uw-black,'primary');
  }
  &:focus-within {
    //box-shadow: gesso-box-shadow(3);
  }
  &:first-child{
    margin-top: 0;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

.details__fallback-link {
  display: block;
  outline: 0;
  text-decoration: none;
}

.details__content {
  @include uw-no-breakout();
  background: $details-content-background-color;
  border: 1px solid $details-background-color;
  border-top: 0;
  padding: $details-padding;

  > :last-child {
    margin-bottom: 0;
  }
  .uw-label{
    margin-bottom:0;
    margin-top:rem(gesso-spacing(sm));
  }
}

.details__description,
.seven-details__description{
  color: $details-text-color;
  font-size: rem(gesso-font-size(-1));
  margin-bottom: rem(gesso-spacing(sm));

  > :last-child {
    margin-bottom: 0;
  }
}
.node--type{
  &-uw-ct-contact{
    .details {max-width:600px;}
  }
}
.seven-details__wrapper {
  padding: 1rem;
  .uw-input,
  .form-text{
    width:100%;
  }
}
