<details class="uw-details" {% if is_open %} open{% endif %}>
  <summary class="details__summary">
    {% block details_summary %}
      Summary
    {% endblock %}
  </summary>
  <div class="details__content">
    {% block details_content %}
      Content
    {% endblock %}
  </div>
</details>
