// @file
// Utility classes

// Clearfix
.clearfix {
  @include clearfix-important;
}

// Accessibility utility classes
.visually-hidden {
  @include visually-hidden-important;
  &.focusable {
    &:focus,
    &:active {
      @include visually-hidden-off-important;
    }
  }
}

.hidden {
  @include hidden-important;
}

.invisible {
  @include invisible-important;
}
.element-hidden {
  @include hidden-important;
}
.off-screen {
  display: block;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
}
