// @file
// Styles for Site name.

$site-name-font-family: gesso-grayscale(gray-2);
$site-name-font-size: gesso-font-size(5);
$site-slogan-font-size: gesso-font-size(2);
.uw-site-name {
  a{
   &:hover{ text-decoration:underline;}
  }
  &__wrapper{

    padding:0 gesso-spacing(xs);
    @include medium{
      @include uw-contained-width();
    }

  }
  &__link{
    display:inline-block;
    letter-spacing: inherit;
    text-decoration:none;
    text-transform:uppercase;
    &:hover{

    }
  }
  &__text{
    font-size:$site-name-font-size;
    margin:0;
    padding:0.5rem 0;
  }
  &__subtitle {
    display:block;
    font-family: gesso-font-family(condensedbook);
    font-size: gesso-font-size(0);
    @include medium{
      font-size: $site-slogan-font-size;
    }

    margin: 0;
    padding:0 0 0.5rem;

  }
}
