<div class="uw-site-name">
  <div class="uw-site-name__wrapper">
    <a class="uw-site-name__link" href="{{ home_link }}" title="{{ site_name}} {{ 'Home'|t }}" rel="home">
      <h1 class="uw-site-name__text">{{ site_name }}</h1>

      {% if subtitle %}
        {% include '@components/site-slogan/site-slogan.twig' with {
          'subtitle': subtitle,
        } %}
      {% endif %}

    </a>
  </div>
</div>

