{% macro tag(url, title, type = "full", size = "normal" ) %}
  {% include '@components/tag/tag.twig' with {
    'url': url,
    'title': title,
    'type': type,
    'size': size,
    'faculty':faculty
  } %}
{% endmacro %}