// @file
$faculties: 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
$tag-font-family-small: gesso-font-family(systemmedium) !default;
$tag-font-family-normal: gesso-font-family(systembold) !default;
$tag-font-size-normal: rem(gesso-font-size(-1)) !default;
$tag-font-size-small: rem(gesso-font-size(-3)) !default;


.tag {
  @include link-no-underline(
    $card-link-color,
    $card-link-color-hover
  );
  background:none;
  display: inline-block;
  font-size: $tag-font-size-normal;
  margin: 0 0 rem(gesso-spacing(xxs)) 0;
  padding:0;
  text-decoration: none;
  text-transform: uppercase;
  transition:background gesso-duration(short) gesso-easing(ease-in);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &--normal{
    font-family: $tag-font-family-normal;
    font-size: $tag-font-size-normal;
  }
  &--small{
    font-family: $tag-font-family-small;
    font-size: $tag-font-size-small;

  }
  &--full{
    background: gesso-brand(org-default,uw-gold,'primary');
    color: gesso-brand(org-default,uw-black,'primary');
    font-family: $tag-font-family-small;
    font-size: $tag-font-size-small;
    padding: rem(gesso-spacing(xs));
    &:hover,
    &:focus {
      background: gesso-brand(org-default,uw-black,'primary');
      color: gesso-brand(org-default,uw-gold,'primary');
    }
  }
  &--simple{
    @include link-reverse(
        $card-link-color,
        $card-link-color-hover
    );
    font-family: $tag-font-family-normal;
  }





  a{
    @include link-no-underline(
        $card-link-color,
        $card-link-color-hover
    );
    background:none;
    display: inline-block;
    font-size: $tag-font-size-normal;
    margin: 0 0 rem(gesso-spacing(xs)) 0;
    padding:0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition:background gesso-duration(short) gesso-easing(ease-in);

    &:hover,
    &:focus {

    }
  }
  &--normal{
    a{
    font-family: $tag-font-family-normal;
    font-size: $tag-font-size-normal;
    }
  }
  &--small{
    a {
      font-family: $tag-font-family-small;
      font-size: $tag-font-size-small;
    }
  }
  &--full{
    a {
      background: gesso-brand(org-default, uw-gold, 'primary');
      color: gesso-brand(org-default, uw-black, 'primary');
      font-family: $tag-font-family-small;
      font-size: $tag-font-size-small;
      padding: rem(gesso-spacing(xs));

      &:hover,
      &:focus {
        background: gesso-brand(org-default, uw-black, 'primary');
        color: gesso-brand(org-default, uw-gold, 'primary');
      }
    }
  }
  &--simple {
    a {
      @include link-reverse(
          $card-link-color,
          $card-link-color-hover
      );
      font-family: $tag-font-family-normal;
    }
  }
}

@each $faculty in $faculties {
  .#{$faculty} {
    a.tag--full{
      @if $faculty == org-default {
        background-color:gesso-brand(org-default,uw-black,'primary');
        color: gesso-brand(org-default,uw-gold,'primary');
        &:hover,
        &:focus {
          background-color:gesso-brand(org-default,uw-gold,'primary');
          color: gesso-brand(org-default,uw-black,'primary');
        }

      }
      @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc{
        background-color:gesso-brand($faculty,'primary');
        color: gesso-brand(org-default,uw-white,'primary');
        &:hover,
        &:focus {
          background-color: gesso-brand($faculty, 'light');
          color:gesso-brand($faculty,'primary');
        }
      }
      @else {
        background-color:gesso-brand($faculty,'primary');
        color: gesso-brand(org-default,uw-white,'primary');
        &:hover,
        &:focus {
          background-color: gesso-brand($faculty, 'lvl1');
          color:gesso-brand($faculty,'primary');
        }
      }
    }
  }
}
