{% set classes = [
  'tag',
  type ? 'tag--' ~ type,
  size ? 'tag--' ~ size
] %}
{% if is_demo %}
<h4>This is a simple tag </h4>
{% endif %}

{%  if faculty %}
<span class="{{ faculty }}">
{%  endif %}
  <a href="{{ url }}" class="{{ classes|join(' ') }}" rel="tag">
    {{ title }}
  </a>
{%  if faculty %}
</span>
{%  endif %}


{% if is_demo %}
<br>
<h4>This is a full tag </h4>
<a href="{{ url }}" class="tag tag--full tag--normal" rel="tag">
  {{ title }}
</a>
{% endif %}