// @file
// Styles for Site logo.

.uw-site-logo {
  .uw-site-logo__link {
    background: url('../source/images/logos/uwaterloo-logo.svg') 0 50% no-repeat;
    background-color: gesso-brand(org-default,uw-black,lvl4);
    background-size: contain;
    color: $uw-white;
    display: block;
    height: 2.5rem;
    outline: 1px solid transparent;
    text-align: center;
    text-indent: -999rem;
    width: 8rem;
    @include xs {
      height: 2.5rem;
      width: 10.6rem;
    }
    &:hover,
    &:focus {
      outline: 1px solid $uw-white;
    }
  }
}
