<div class="uw-site-logo">
  {% if branding_level != 'generic_barebones' %}
    <a class="uw-site-logo__link" href="https://uwaterloo.ca" title="{{ 'University of Waterloo Home'|t }}" aria-label="{{ 'University of Waterloo Home'|t }}" rel="home"></a>
  {% endif %}
</div>
