// @file
// Styles for Drupal messages.
$message-font-family: gesso-font-family(system) !default;
$message-background-color: gesso-color(ui, generic, background-lighter) !default;
$message-border-color: gesso-color(ui, generic, border) !default;
$message-error-background-color: gesso-color(ui, error, background) !default;
$message-error-border-color: gesso-color(ui, error, border) !default;
$message-status-background-color: gesso-color(ui, success, background) !default;
$message-status-border-color: gesso-color(ui, success, border) !default;
$message-warning-background-color: gesso-color(ui, warning, background) !default;
$message-warning-border-color: gesso-color(ui, warning, border) !default;

.message,
.messages{
  background-color: $message-background-color;
  border: 1px solid $message-border-color;
  color: gesso-color(text, primary);
  font-family: $message-font-family;
  margin: rem(gesso-spacing(md)) auto;
  overflow: hidden;
  padding: 1rem 1.5rem 1rem 2rem;
  position: relative;
  word-wrap: break-word;

  &::before {
    background-repeat: no-repeat;
    background-size: em(52px);
    bottom: -0.5em;
    content: '';
    display: block;
    height: em(52px);
    position: absolute;
    right: -0.5em;
    transform: rotate(-20deg);
    width: em(52px);
    @media print {
      display: none !important;
    }
  }

  a {
    color: gesso-color(text, primary);
    font-weight: gesso-font-weight(semibold);
    text-decoration: underline;
    &:hover{
      color: gesso-color(text, primary);
      text-decoration: none;
    }
  }

}

.message__content,
.messages__content{
  > *:last-child {
    margin-bottom: 0;
  }
}
.message__list{
  list-style: none;
  margin:0;
  padding:0;
}
.message--status,
.messages--status{
  background-color: $message-status-background-color;
  border-color: $message-status-border-color;

  &::before {
    @include svg-background(messages-status);
  }
}

.message--error,
.messages--error{
  background-color: $message-error-background-color;
  border-color: $message-error-border-color;

  &::before {
    @include svg-background(messages-error);
  }

  .message__item,
  .messages__item{
    em:first-child {
      font-style: normal;
      font-weight: gesso-font-weight(bold);
    }
  }
}

.message--warning,
.messages--warning{
  background-color: $message-warning-background-color;
  border-color: $message-warning-border-color;

  &::before {
    @include svg-background(messages-warning);
  }
}
