$white: gesso-brand('org-default', uw-white, lvl1);
$near-white: gesso-grayscale('gray-1');
$gray-lightest: gesso-grayscale('gray-2');
$gray-lighter: gesso-grayscale('gray-3');
$gray-light: gesso-grayscale('gray-4');
$gray: gesso-grayscale('gray-5');
$gray-dark: gesso-grayscale('gray-6');
$gray-darker: gesso-grayscale('gray-7');
$black: gesso-brand('org-default', uw-black, lvl4);
$uw-black: gesso-brand('org-default', uw-black, lvl4);
$uw-gold: gesso-brand('org-default', uw-gold, lvl3);
$uw-white: gesso-brand('org-default', uw-white, lvl1);
$uw-grey: gesso-brand('org-default', uw-black, lvl3);
$uw-main-menu-hover: gesso-brand('org-default', uw-black, lvl1);
$uw-main-menu-border: gesso-grayscale('gray-2');
$uw-main-menu-active: gesso-grayscale('gray-2');
$uw-main-menu-active-border: gesso-grayscale('gray-6');
$uw-local-site-footer-background-color: gesso-brand('org-default', uw-black, lvl3);
