$faculties: 'org-default', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
@each $faculty in $faculties {
  // Wrapping the element with this class, <body>.
  .#{$faculty} {
    // If the UW branding group
    @if $faculty == org-default {
      // Headings
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
       color: $uw-black;
      }
      // Generic links
      a {
        &:not(.button){
          color: $uw-black;
          &:hover,
          &:focus {
           color: $uw-grey;
          }
        }
        &.local-site-footer{
          color: $uw-local-site-footer-background-color;

          &:visited{
            color: $uw-local-site-footer-background-color;
          }
          &:hover,
          &:focus,
          &:active
          {
            color:$uw-white;
          }

        }

      }
      .menu--uw-footer li a{
        color: $uw-white;
        &:hover,
        &:focus
        {
          color:$uw-gold;
        }
      }
      .uw-site-footer__content a,
      .uw-site-footer__title a{
        color: $uw-white;
        &:visited,
        &:hover,
        &:focus,
        &:active
        {
          color:$uw-white;
        }
      }
      .uw-site-footer__content table a{
        color: $uw-black;
        &:visited,
        &:hover,
        &:focus,
        &:active
        {
          color:$uw-black;
        }
      }
      .uw-site-footer__social-media a {
        &:visited,
        &:hover,
        &:focus,
        &:active{
          color:gesso-grayscale(gray-5);
        }
      }
      .uw-footer__social-directory a{
        &:link,
        &:visited {
          color: $uw-white;
        }
        &:hover,
        &:focus{
          color:$uw-gold;
        }
      }
      .uw-footer-phone a,
      .uw-territorial a{
        &:link,
        &:visited {
          color: $uw-gold;
        }
        &:hover,
        &:focus{
          color:$uw-gold;
        }
      }
      &.global-site-footer{
        &:visited,
        &:active{
          color: $uw-black !important;
        }
      }
      .pager__item a{
        &:hover,
        &:focus{
          color:$uw-black !important;
        }
      }
      .uw-site-footer__content .highlight{
        color: $uw-white;
      }
    }
    // Else run the loop on the faculties.
    @else {
      // MAke primary color.
      .uw-blockquote__text,
      .uw-blockquote__text::before,
      .uw-blockquote__text::after,
      .uw-blockquote__attribution,
      .uw-blockquote__attribution cite{
        color: gesso-brand($faculty, 'primary');
      }
      // Generic links.
      a,
      .card__title a{
        color: gesso-brand($faculty, 'primary');
        &:visited {
          color: gesso-brand($faculty, 'primary');
        }
        &:hover,
        &:focus {
          color: gesso-brand($faculty, 'primary');
        }
        // Links as buttons need white.
        &.button {
          color: $uw-white;
          &:hover,
          &:focus {
            color: $uw-grey;
          }
        }
        &.pager__link {
          color: $uw-black;
        }
        &.global-site-footer{
          &:visited{
            color: $uw-black;
          }
          &:hover,
          &:focus {
            background-color: $uw-black;
            color: $uw-gold;
          }
          &:active{
            color: $uw-black;
          }
        }
      }
      .menu--uw-footer li a{
        color: $uw-white;
        &:hover,
        &:focus
        {
          color:$uw-gold;
        }
      }
      .uw-site-footer__content a,
      .uw-site-footer__title a{
        color: $uw-white;
        &:visited,
        &:hover,
        &:focus,
        &:active
        {
          color:$uw-white;
        }
      }
      .uw-site-footer__content table a{
        color: $uw-black;
        &:visited,
        &:hover,
        &:focus,
        &:active
        {
          color:$uw-black;
        }
      }
      .uw-site-footer__social-media a {
        &:visited,
        &:hover,
        &:focus,
        &:active{
          color:gesso-grayscale(gray-5);
        }

      }
      .uw-footer__social-directory a{
        &:link,
        &:visited {
          color: $uw-white;
        }
        &:hover,
        &:focus{
          color:$uw-gold;
        }
      }
      .uw-territorial a{
        &:link,
        &:visited {
          color: $uw-gold;
        }
        &:hover,
        &:focus{
          color:$uw-gold;
        }
      }
        // Blackout the link
      .views-exposed-form a,
      .uw-site-name__link,
      .layout-builder__link,
      .timeline-info__withlink a,
      .tabs a,
      .toolbar-tray a,
      .ui-dialog-content a,
      .messages--status a,
      .uw-content-moderation a,
      .view-interact a{
        color:$uw-black;
        &:visited,
        &:hover,
        &:focus,
        &:active
        {
          color:$uw-black;
        }
      }
      .uw-site-footer__content .highlight{
        color: $uw-white;
      }
    }
  }
}
