$whites: 'uw-white';
$defaults: 'uw-black', 'uw-gold';
$faculties: 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
$lvls: 'lvl1', 'lvl2', 'lvl3', 'lvl4', 'primary';
$white-lvls: 'lvl1', 'primary';

@each $white in $whites {
  @each $white-lvl in $white-lvls {
    .org-default {
      &__#{$white}--#{$white-lvl} {
        background: gesso-brand('org-default', $white, $white-lvl);
      }
    }
  }
}

@each $default in $defaults {
  @each $lvl in $lvls {
    .org-default {
      &__#{$default}--#{$lvl} {
        background: gesso-brand('org-default', $default, $lvl);
      }
    }
  }
}

@each $faculty in $faculties {
  @each $lvl in $lvls {
    .#{$faculty} {
      &--#{$lvl} {
        background: gesso-brand($faculty, $lvl);
      }
    }
  }
}
