{% for group in items.groups %}
  <h2> {{ group.name }}</h2>
  {% for sub_group in group.sub_groups %}
    <h3 class="sg-sub" >{{ sub_group.name }}</h3>
    <ul class="sg-colors">
      {% for color in sub_group.colors %}
        <li>
          {% if group.abbv %}
            <div class="sg-swatch {{ group.abbv }}__{{ sub_group.abbv }}--{{ color.abbv }}"><div class="sg-swatch-colors"><h3 class="sg-swatch-name">{{ color.name }}</h3><span class="sg-swatch-hex">{{ color.hex }}</span></div></div>
          {% else %}
            <div class="sg-swatch {{ sub_group.abbv }}--{{ color.abbv }}"><div class="sg-swatch-colors"><h3 class="sg-swatch-name">{{ color.name }}</h3><span class="sg-swatch-hex">{{ color.hex }}</span></div></div>
          {% endif %}
          <div class="sg-info">
            {% if group.abbv %}
              {%  if color.abbv == 'primary' %}
                <h4>CSS Class:</h4>
                <code>{{ group.abbv }}__{{ sub_group.abbv }}</code>
              {% else %}
                <h4>CSS Class</h4>
                <code>{{ group.abbv }}__{{ sub_group.abbv }}--{{ color.abbv }}</code>
              {% endif %}
            {% elseif color.abbv == 'primary' %}
              <h4>CSS Class:</h4>
              <code>{{ sub_group.abbv }}<br/></code>
            {% else %}
              <h4>CSS Class</h4>
              <code>{{ sub_group.abbv }}--{{ color.abbv }}</code>
            {% endif %}
            {% if color.sass %}
              <h4>SASS Variable:</h4>
              <code>{{ color.sass }}</code>
            {% endif %}
          </div>
        </li>
      {%  endfor %}
    </ul>
  {%  endfor %}
{%  endfor %}
