/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
.sg-patterns {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 0.5rem;
}

.demo-animate {
  background: #ddd;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

.sg-colors {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sg-colors li {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0 0.5rem 0.5rem 0;
  max-width: 14rem;
  padding: 0.3rem;
  width:100%;
}

.sg-swatch {
  border-radius:0.25rem;
  display: block;
  height:auto;
  margin-bottom: 0.25rem;
  padding:0.5rem;
  position:relative;


}
.sg-sub{
  font-family:gesso-font-family(systembold);
  font-size: rem(gesso-font-size(-1));
  padding: 0 0.5rem;
}
.sg-info{
  padding:0.25rem 0.125rem 0.25rem 1rem;
  code{
    display:block;
    font-size:gesso-font-size(-1);
    margin-bottom:0.5rem;
  }
  h4{
   font-family:gesso-font-family(systembold);
   font-size: rem(gesso-font-size(-1));
   margin:0;
   padding:0;
  }
}
.sg-swatch-colors{
  background:rgba($white, 0.75);
  border-radius:0.25rem;
  height:auto;
  padding:0.75rem;
  position:relative;
  width:50%;

}
.sg-swatch-hex{
  display:block;
  font-family:gesso-font-family(systemmedium);
  font-size:rem(gesso-font-size(-1));
  margin:0;
  padding:0;
}
.sg-swatch-name {
  font-family:gesso-font-family(systembold);
  font-size:rem(gesso-font-size(0));
  margin:0;
  padding:0;
}
