.uw-bg--black{
  background-color:gesso-brand(org-default,uw-black,lvl4);
}
.uw-bg--white{
  background-color:gesso-brand(org-default,uw-white,lvl1);
}
.uw-territorial{
  text-align:center;
  p{
    color:gesso-brand(org-default,uw-white,lvl1);
    font-family: gesso-font-family(system);
    font-size: rem(gesso-font-size(-2));
    font-weight:200;
    letter-spacing:0.5px;
    line-height:1.7;
    padding:1rem  0;
    .uw-bg--black &{color:gesso-brand(org-default,uw-white,lvl1);}
    .uw-bg--white &{color:gesso-brand(org-default,uw-black,lvl4);}
  }
  @include medium{
    text-align:left;
    p{
      line-height:1.5;
    }
  }
}
