// @file
// Styles for accessible skiplinks.

.skiplinks {
  display: flex;
  font-family: gesso-font-family(book);
  font-size: gesso-font-size(-1);
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: gesso-z-index(overlay);
  &__link{
    color:$uw-white !important;
    &:focus{
      background-color:transparent;
      border: 1px solid $uw-white;
      border-top: 0;
      color:$uw-white !important;
      display: inline-block;
      font-weight:200;
      margin: 0;
      outline: 0;
      padding: rem(gesso-spacing(xs));
      text-align: center;
      text-decoration: none;
      &:hover{
        background-color:$uw-white;
        color:$uw-black !important;
      }
    }

  }
}

// Remove :focus styles for skiplink targets.
/* stylelint-disable-next-line selector-max-id */
#main:focus {
  outline: 0;
}
