.vertical-timeline {
  list-style: none;

  @include xs {
    //margin-left:1rem;

  }
  @include small {
    margin-left:2rem;

  }
  @include medium {
    margin: 0;
  }
  /* 2 padding-top to allow pulling the line up above the first entry */
  padding:0;
  padding-top: 3rem !important;
  position: relative;
  z-index: gesso-z-index(background);
  p {
    margin-top: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  li {
    margin: 0;
    padding: 0;
  }

  ol {
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    vertical-align: top;
  }

  .timeline-year {
    background: gesso-grayscale(black);
    color: gesso-grayscale(white);
    display: inline-block;
    @include medium {
      margin-left:inherit;
    }
    padding: 0.25rem 0.5rem;
    position: relative;
    text-align: center;
    /* Fix the width so the line always lines up. */
    width: 3rem;
    z-index: gesso-z-index(wrapper);
  }

  .timeline-month {
    background: gesso-grayscale(gray-5);
    color: gesso-grayscale(white);
    display: inline-block;
    @include medium {
      margin-left: -0.19rem;
    }
    padding: 0.25rem 0.5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    /* Fix the width so the line always lines up. */
    width: 3rem;
    z-index: gesso-z-index(wrapper);
  }

  .timeline-info {

    border: 1px solid gesso-grayscale(white);
    box-shadow: 2px 2px 0 gesso-grayscale(gray-2);
    margin-bottom: 2rem;
    padding:0.125rem 1rem 2rem ;
    position: relative;
    a {
      display: block;

      /* Margin/padding tricks to make links cover the padding of the li */
      margin: -1rem -1rem -2rem ;
      padding: 1rem 1rem 2rem;

      &:hover,
      &:focus{
        background:  gesso-grayscale(gray-2);
      }

      &::after {
        /* Modern clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
        clear: both;
        content: "";
        display: table;
      }
    }

    &::before {
      /* Trick CSS to add the circle. */
      background: gesso-grayscale(gray-1);
      border: 1px solid gesso-grayscale(gray-4);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 0.75rem;
      left: -0.5rem;
      @include medium {
      left: -1.45rem;
      }
      position: absolute;
      top: 0.25rem;
      width: 0.75rem;
    }
    &::after {
      /* Modern clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
      clear: both;
      content: "";
      display: table;
    }
    &__withlink{
      &:hover{
        &::before {
          background: gesso-grayscale(gray-3);
          border: 1px solid gesso-grayscale(gray-4);
        }
      }
    }
  }

  .timeline-photo {

    border: 1px solid #ddd;
    float: right;
    margin: 0 0 0.7rem 0.7rem;
  }

  &.vertical-year,
  &.vertical-month {
    overflow: visible;
  }

  &.vertical-year,
  &.vertical-month ol {


    /* -2 margin-top + 2 padding-top to pull the line up above the first entry */
    margin-top: -2rem;
    padding-top: 2rem;
    width:100%;
    @include medium {
      width: calc(100% - 4rem);
    }
  }

  &.vertical-year ol,
  &.vertical-month ol ol {
    border-left: 1px solid gesso-grayscale(gray-4);
    /* -2 margin-top + 2 padding-top to pull the line up above the first entry */
    margin: 0;
    width: 100%;
    @include medium {
      margin: -1rem 0 0 2rem;
      padding: 1rem 1rem 0;
      width: calc(100% - 8rem);
    }
  }
}

/* Vertical timelines */

.vertical-timeline {
  font-family: gesso-font-family(secondary);
  font-size: rem(gesso-font-size(-1));
  font-weight: 200;

  p {
    font-family: gesso-font-family(secondary);
    font-size: rem(gesso-font-size(-1));
  }

  b, strong {
    font-family: gesso-font-family(book);
    font-weight: 500;
  }
}

.timeline {
  &-headline {
    font-size: rem(gesso-font-size(0));
    line-height: 1.25;
  }

  &-year,
  &-month {
    font-family: gesso-font-family(systemmedium);
    font-size:rem(gesso-font-size(-1));
  }
}
