{% set modifier_classes -%}
    uw-timeline vertical-timeline vertical-{{ timeline.style }}  {{ modifier_classes }}
{%- endset %}

<ol class="{{ modifier_classes }}">
    {% for year, years in timeline.items %}

        <li>
            <span class="timeline-year">{{ year }}</span>
            <ol>

                {% for month, months in years %}

                    {% if timeline.style == 'month' %}
                        <li>
                            {% set date = year ~ "-" ~ month ~ "-1" %}

                            <span class="timeline-month">{{ date|date("M") }}</span>
                            <ol>
                    {% endif %}

                    {% for days in months %}

                        {% for entry in days %}

                            <li class="timeline-info{% if entry.link %} timeline-info__withlink {% endif %}">
                                {% if entry.link %}
                                <a href="{{ entry.link }}">
                                {% endif %}
                                {% if entry.image %}
                                    <img src="{{ entry.image }}" alt=""  class="timeline-photo"/>
                                {%  endif %}
                                <div class="timeline-headline"><strong>{{ entry.headline }}</strong></div>
                                <p>{{ entry.content }}</p>

                                {% if entry.link %}
                                </a>
                                {% endif %}
                            </li>

                        {% endfor %}

                    {% endfor %}

                    {% if timeline.style == 'month' %}
                            </ol>
                        </li>
                    {% endif %}

                {% endfor %}
            </ol>
        </li>

    {% endfor %}
</ol>