{% set content_list = {
  '0': {
    'text': 'Expand all',
    'button_class': 'uw-exp-col-expand-all',
  },
  '1': {
    'text': 'Collapse all',
    'button_class': 'uw-exp-col-collapse-all',
  }
} %}

{% include '@components/tabs/tabs--buttons/tabs--buttons.twig' with {
  content_list: content_list,
  tabs_modifier_class: 'uw-exp-col',
  button_modifier_classes: 'uw-exp-col-button',
  uuid: uuid,
} %}