<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>binoculars</title>
<path d="M30 14h-2l-2-10h-2.5l0.5-4h-6l0.5 4h-5l0.5-4h-6l0.5 4h-2.5l-2 10h-2l-2 16v2h12v-18h2v-2h4v2h2v18h12v-2z"></path>
</svg>
