<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>bubble</title>
<path d="M26.125 2h-20.25c-3.231 0-5.875 2.644-5.875 5.875v22.125l6-6h20.125c3.231 0 5.875-2.644 5.875-5.875v-10.25c0-3.231-2.644-5.875-5.875-5.875zM28 7.875v0.375h-24v-0.375c0-0.042 0.002-0.084 0.005-0.125h23.99c0.003 0.041 0.005 0.083 0.005 0.125zM27.995 18.25h-23.995v-0.5h24v0.375c0 0.042-0.002 0.084-0.005 0.125zM4 20v-0.25h23.044c-0.273 0.158-0.588 0.25-0.919 0.25h-22.125zM4 19.25v-0.5h23.888c-0.066 0.18-0.16 0.349-0.275 0.5h-23.613zM4 17.25v-0.5h24v0.5h-24zM4 16.25v-0.5h24v0.5h-24zM4 15.25v-0.5h24v0.5h-24zM4 14.25v-0.5h24v0.5h-24zM4 13.25v-0.5h24v0.5h-24zM4 12.25v-0.5h24v0.5h-24zM4 11.25v-0.5h24v0.5h-24zM4 10.25v-0.5h24v0.5h-24zM4 9.25v-0.5h24v0.5h-24zM26.125 6c0.331 0 0.646 0.092 0.919 0.25h-22.089c0.274-0.158 0.588-0.25 0.919-0.25h20.25zM27.613 6.75c0.116 0.151 0.209 0.32 0.275 0.5h-23.776c0.066-0.18 0.16-0.349 0.275-0.5h23.226z"></path>
</svg>
