<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="37" height="32" viewBox="0 0 37 32">
<title>chevron</title>
<path d="M15.262 0.667l11.869 15.986-11.869 16.018h8.337l11.865-16.018-11.865-15.986zM0.004 0.667l11.865 15.986-11.865 16.018h8.34l11.858-16.018-11.858-15.986z"></path>
</svg>
