<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-83 174.2 444.8 444.8">
  <path fill="#fff" d="M113.7,267L-72.2,453.1C-79.4,460-83,468.5-83,478.8c0,10.3,3.6,18.8,10.8,25.7l21.4,21.7c7,7,15.6,10.6,25.7,10.6 c9.9,0,18.6-3.5,26-10.6l138.5-138.7l138.7,138.7c7,7,15.6,10.6,25.7,10.6c9.9,0,18.6-3.5,26-10.6l21.4-21.7 c7-7,10.6-15.6,10.6-25.7c0-10.1-3.5-18.7-10.6-25.7L165.4,267c-7.4-7-16.1-10.6-26-10.6C129.3,256.4,120.7,259.9,113.7,267 L113.7,267z"/>
</svg>
