<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>envelope</title>
<path d="M30 4.667h-28c-1.1 0-2 0.9-2 2v20c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-20c0-1.1-0.9-2-2-2zM28 8.667v1.438l-12 7.071-12-7.071v-1.438h24zM4 24.667v-11.080l12 7.071 12-7.071v11.080h-24z"></path>
</svg>
