<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>facebook-box</title>
<path d="M25.951 2.351h-19.936c-2.404 0-4.352 1.947-4.352 4.351v19.936c0 2.404 1.948 4.353 4.352 4.353h19.936c2.403 0 4.352-1.949 4.352-4.353v-19.936c0-2.404-1.949-4.351-4.352-4.351zM24.221 11.263l-1.899 0.001c-1.491 0-1.781 0.71-1.781 1.749v2.294h3.555l-0.463 3.591h-3.093v9.212h-3.708v-9.212h-3.101v-3.591h3.101v-2.649c0-3.075 1.876-4.747 4.618-4.747 1.315 0 2.442 0.097 2.77 0.142v3.21z"></path>
</svg>
