<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>facebook</title>
<path d="M22.311 17.806l0.672-5.215h-5.164v-3.332c0-1.509 0.421-2.54 2.585-2.54l2.759-0.001v-4.664c-0.477-0.065-2.113-0.206-4.024-0.206-3.982 0-6.708 2.429-6.708 6.895v3.847h-4.505v5.217h4.505v13.38h5.386v-13.38l4.493 0.001z"></path>
</svg>
