<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 32 32"  xml:space="preserve">
<path d="M22.4,4.8c-3,0-5.4,2.5-5.4,5.4c-0.1,3.1,2.4,5.4,5.4,5.4s5.4-2.5,5.4-5.4S25.4,4.8,22.4,4.8z M22.4,12.9
	c-1.5,0-2.7-1.2-2.7-2.7s1.2-2.7,2.7-2.7s2.7,1.2,2.7,2.7S23.9,12.9,22.4,12.9z"/>
  <rect x="4.1" y="8.9" width="13.1" height="2.8"/>
  <g>
    <path d="M9.7,25.2c3,0,5.4-2.5,5.4-5.4c0.1-3.1-2.4-5.4-5.4-5.4s-5.4,2.5-5.4,5.4S6.8,25.2,9.7,25.2z M9.7,17.1
		c1.5,0,2.7,1.2,2.7,2.7s-1.2,2.7-2.7,2.7S7,21.3,7,19.8S8.3,17.1,9.7,17.1z"/>
    <rect x="14.8" y="18.4" width="13.1" height="2.8"/>
  </g>
</svg>
