<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <title>Export this event to calendar</title>
  <path d="M21.9,17.8v1.3c0,0.3-0.2,0.5-0.5,0.5h-4v4c0,0.3-0.2,0.5-0.5,0.5h-1.3c-0.3,0-0.5-0.2-0.5-0.5v-4H11
	c-0.3,0-0.5-0.2-0.5-0.5v-1.3c0-0.3,0.2-0.5,0.5-0.5h4v-4c0-0.3,0.2-0.5,0.5-0.5h1.3c0.3,0,0.5,0.2,0.5,0.5v4h4
	C21.5,17.3,21.9,17.5,21.9,17.8z M27.6,8.5V27c0,1.4-1.1,2.5-2.5,2.5H6.8c-1.4,0-2.5-1.1-2.5-2.5V8.5C4.3,7.1,5.4,6,6.8,6h2.5V3.2
	c0-0.3,0.2-0.5,0.5-0.5h2.1c0.3,0,0.5,0.2,0.5,0.5v2.7h6.8V3.2c0-0.3,0.2-0.5,0.5-0.5h2.1c0.3,0,0.5,0.2,0.5,0.5v2.7h2.5
	C26.5,5.9,27.6,7.1,27.6,8.5z M25.2,26.5V10.9H6.8v15.6c0,0.2,0.2,0.3,0.3,0.3h17.8C25,27,25.2,26.7,25.2,26.5z"/>
</svg>
