<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>instagram</title>
<path d="M5.134 2.557h20.928c1.988 0 3.614 1.625 3.614 3.614v20.931c0 1.987-1.625 3.609-3.614 3.609h-20.928c-1.987 0-3.615-1.62-3.615-3.609v-20.931c0-1.988 1.629-3.614 3.615-3.614zM22.033 5.682c-0.7 0-1.271 0.576-1.271 1.272v3.033c0 0.697 0.571 1.269 1.271 1.269h3.182c0.7 0 1.267-0.572 1.267-1.269v-3.033c0-0.697-0.567-1.272-1.267-1.272h-3.182zM26.493 14.464h-2.477c0.237 0.767 0.365 1.574 0.365 2.415 0 4.683-3.92 8.481-8.756 8.481-4.834 0-8.753-3.797-8.753-8.481 0-0.842 0.129-1.648 0.363-2.415h-2.585v11.892c0 0.619 0.503 1.119 1.119 1.119h19.606c0.618 0 1.118-0.5 1.118-1.119v-11.892zM15.625 11.094c-3.122 0-5.657 2.453-5.657 5.479s2.535 5.481 5.657 5.481c3.123 0 5.658-2.454 5.658-5.481 0-3.025-2.535-5.479-5.658-5.479z"></path>
</svg>
