<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>instagram-box</title>
<path d="M18.629 13.87h1.885c0.415 0 0.751-0.339 0.751-0.752v-1.796c0-0.413-0.336-0.754-0.751-0.754h-1.885c-0.415 0-0.753 0.341-0.753 0.754v1.797c0 0.412 0.338 0.751 0.753 0.751zM15.819 13.919c1.852 0 3.353 1.453 3.353 3.246s-1.501 3.247-3.353 3.247c-1.851 0-3.352-1.453-3.352-3.247s1.501-3.246 3.352-3.246zM21.007 17.347c0 2.775-2.323 5.024-5.188 5.024s-5.187-2.249-5.187-5.024c0-0.499 0.077-0.977 0.216-1.431h-1.533v7.046c0 0.367 0.298 0.663 0.663 0.663h11.618c0.366 0 0.662-0.296 0.662-0.663v-7.046h-1.468c0.14 0.455 0.216 0.934 0.216 1.431zM19.617 14.012h1.884c0.415 0 0.751-0.338 0.751-0.751v-1.795c0-0.413-0.336-0.755-0.751-0.755h-1.884c-0.416 0-0.754 0.343-0.754 0.755v1.796c0 0.412 0.338 0.75 0.754 0.75zM25.787 2.357h-19.969c-2.408 0-4.359 1.951-4.359 4.361v19.968c0 2.406 1.951 4.359 4.359 4.359h19.969c2.408 0 4.359-1.953 4.359-4.359v-19.968c0-2.41-1.951-4.361-4.359-4.361zM24.146 23.403c0 1.177-0.963 2.14-2.141 2.14h-12.403c-1.177 0-2.142-0.961-2.142-2.139v-12.403c0-1.179 0.965-2.141 2.142-2.141h12.402c1.178 0 2.141 0.962 2.141 2.141v12.403h0.001z"></path>
</svg>
