<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>linkedin-box</title>
<path d="M25.513 3.020h-19.058c-2.297 0-4.161 1.861-4.161 4.161v19.056c0 2.296 1.864 4.16 4.161 4.16h19.058c2.297 0 4.16-1.864 4.16-4.16v-19.055c-0-2.3-1.863-4.162-4.16-4.162zM12.313 22.809h-2.883v-8.676h2.883v8.676zM10.87 12.948h-0.017c-0.969 0-1.594-0.665-1.594-1.497 0-0.852 0.646-1.498 1.63-1.498 0.988 0 1.594 0.647 1.613 1.498 0 0.833-0.626 1.497-1.632 1.497zM22.71 22.809h-2.884v-4.642c0-1.164-0.418-1.962-1.461-1.962-0.797 0-1.27 0.538-1.479 1.056-0.077 0.184-0.095 0.446-0.095 0.703v4.846h-2.883c0 0 0.038-7.86 0-8.677h2.883v1.229c0.385-0.591 1.068-1.432 2.599-1.432 1.896 0 3.319 1.239 3.319 3.905v4.974zM16.791 15.392v-0.030c-0.006 0.010-0.015 0.020-0.020 0.030h0.020z"></path>
</svg>
