<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<path d="M17.6,0.2L9.5,8.3L1.4,0.2L0,1.6l9.6,9.6L19,1.8l-1.7-1.7h0.3C17.6,0.1,17.6,0.2,17.6,0.2z"/>
</svg>
