<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 28.8 28.8">
<title>RSS</title>
  <path d="M10.2,21.7c0,1.7-1.4,3.1-3.1,3.1S4,23.5,4,21.7c0-1.7,1.4-3.1,3.1-3.1S10.2,20,10.2,21.7L10.2,21.7z M18.7,24
	c-0.4-7.5-6.4-13.5-13.9-13.9c-0.5,0-0.8,0.3-0.8,0.8v2.3C4,13.6,4.3,14,4.6,14c5.4,0.4,9.7,4.7,10.1,10.1c0,0.4,0.4,0.7,0.8,0.7
	h2.3C18.4,24.8,18.7,24.5,18.7,24L18.7,24z M25.6,24C25.2,12.7,16.2,3.6,4.8,3.2C4.3,3.2,4,3.5,4,3.9v2.3C4,6.7,4.3,7,4.7,7
	c9.2,0.4,16.7,7.8,17,17c0,0.4,0.4,0.8,0.8,0.8h2.3C25.3,24.8,25.6,24.5,25.6,24z"/>
</svg>

