<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>search</title>
<path d="M27.544 29.496l-7.951-11.68c-0.209-0.307-0.64-0.402-0.958-0.211l-1.004 0.604c-0.318 0.191-0.437 0.615-0.264 0.944l6.58 12.504c0.173 0.328 0.574 0.441 0.892 0.249l2.506-1.506c0.318-0.191 0.407-0.598 0.199-0.905zM18.52 16.629c3.006-1.915 3.137-6.908 0.297-11.367-2.415-3.791-6.087-5.797-8.98-5.138-0.665 0.13-1.515 0.485-2.371 1.030s-1.538 1.165-1.936 1.714c-1.82 2.344-1.553 6.519 0.861 10.309 2.841 4.459 7.42 6.452 10.428 4.536l1.702-1.084zM17.436 14.927c-1.984 1.263-5.483-0.53-7.641-3.919-2.159-3.387-2.306-7.316-0.321-8.581 1.983-1.264 5.482 0.531 7.64 3.919 2.158 3.387 2.305 7.317 0.322 8.581z"></path>
</svg>
