<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>si-security</title>
<path d="M12.428 19.467c1.856 0.005 2.827 1.215 3.206 2.946l10.075 0.029v-9.153c-0-1.258-1.013-2.277-2.268-2.29v-1.913c0-3.527-2.869-6.397-6.397-6.397s-6.397 2.869-6.397 6.397v1.913c-1.255 0.013-2.268 1.033-2.268 2.29v6.106c1.344-0.266 2.895 0.069 4.048 0.072zM17.81 18.248v2.927h-1.531v-2.927c-0.614-0.288-1.038-0.911-1.038-1.633 0-0.996 0.808-1.804 1.804-1.804s1.804 0.807 1.804 1.804c0 0.722-0.425 1.345-1.038 1.633zM12.885 9.085c0-2.294 1.866-4.16 4.16-4.16s4.16 1.866 4.16 4.16v1.912h-8.319v-1.912zM23.658 24.742l-0.918-0.293-0.578 0.539h1.257c0.111 0 0.221-0.008 0.328-0.024l-0.089-0.223zM8.464 23.312c0.145 0.522 0.47 0.968 0.904 1.269 0.009-0.056 0.015-0.113 0.015-0.172 0.002-0.55-0.396-1.005-0.919-1.097zM5.026 25.27c-0.019 6.525 4.4 4.963 6.917 4.97s3.42-2.207 3.428-4.94c0.008-2.734-0.883-4.953-3.399-4.961s-6.926-1.595-6.945 4.931zM8.926 25.282c-0.002 0.613-0.501 1.11-1.115 1.108s-1.11-0.501-1.108-1.114c0.002-0.614 0.501-1.11 1.114-1.108s1.11 0.5 1.108 1.115zM15.172 27.053c0.956 0.003 2.256 0.006 2.5 0.007 0.278 0.001 0.707-0.106 0.937-0.17l0.142-0.973 1.435 0.004 0.344 0.374 1.106-0.37 0.648-0.604 0.918 0.293 0.285 0.717 1.122-0.684 0.604-0.449c0 0 0.085 0.451 0.171 0.48s0.66 0.002 0.66 0.002l0.449 0.282 0.648-0.408 1.011-1.136-0.698-1.097-12.319-0.035c0.124 0.599 0.186 1.272 0.184 2.016-0.001 0.637-0.050 1.221-0.144 1.752z"></path>
</svg>
