<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>twitter-box</title>
<path d="M25.492 3.014h-19.010c-2.293 0-4.151 1.858-4.151 4.151v19.011c0 2.292 1.858 4.151 4.151 4.151h19.010c2.292 0 4.15-1.858 4.15-4.151v-19.011c0-2.292-1.857-4.151-4.15-4.151zM22.922 13.59c0.006 0.155 0.009 0.309 0.009 0.463 0 4.729-3.597 10.18-10.178 10.18-2.022 0-3.903-0.593-5.487-1.607 0.28 0.031 0.565 0.051 0.852 0.051 1.679 0 3.22-0.573 4.445-1.534-1.566-0.027-2.887-1.062-3.341-2.484 0.217 0.043 0.443 0.065 0.673 0.065 0.327 0 0.642-0.044 0.943-0.125-1.637-0.33-2.87-1.776-2.87-3.51v-0.045c0.484 0.266 1.034 0.431 1.62 0.447-0.958-0.641-1.59-1.736-1.59-2.977 0-0.656 0.177-1.27 0.485-1.801 1.765 2.168 4.401 3.591 7.374 3.741-0.062-0.264-0.094-0.535-0.094-0.815 0-1.976 1.604-3.579 3.58-3.579 1.029 0 1.96 0.435 2.613 1.132 0.815-0.162 1.579-0.46 2.271-0.871-0.265 0.835-0.834 1.537-1.572 1.979 0.721-0.086 1.412-0.278 2.054-0.562-0.482 0.718-1.087 1.35-1.785 1.853z"></path>
</svg>
