<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>twitter</title>
<path d="M30.668 7.497c-1.071 0.473-2.223 0.793-3.426 0.938 1.229-0.737 2.177-1.907 2.622-3.3-1.152 0.683-2.426 1.182-3.787 1.452-1.089-1.162-2.64-1.888-4.359-1.888-3.294 0-5.969 2.673-5.969 5.969 0 0.467 0.052 0.92 0.156 1.359-4.959-0.249-9.355-2.624-12.299-6.239-0.513 0.884-0.809 1.909-0.809 3.004 0 2.069 1.053 3.896 2.652 4.964-0.977-0.026-1.897-0.301-2.702-0.745v0.074c0 2.891 2.057 5.303 4.787 5.854-0.499 0.136-1.027 0.209-1.572 0.209-0.384 0-0.758-0.036-1.123-0.108 0.757 2.371 2.96 4.098 5.573 4.144-2.041 1.601-4.612 2.558-7.413 2.558-0.479 0-0.954-0.034-1.422-0.084 2.642 1.69 5.779 2.68 9.152 2.68 10.974 0 16.975-9.093 16.975-16.98 0-0.256-0.006-0.514-0.015-0.772 1.167-0.841 2.176-1.893 2.978-3.091z"></path>
</svg>
