// @file
// Styles for Footer Layout.

.uw-footer {
  background-color: #000;
  padding: 0;
  width: 100%;
  &__wrapper {
    @include uw-contained-width;
    display: grid;
    grid-template-columns: 100%;
    padding-top: gesso-spacing(sm);
    text-size-adjust: none;
    @include xs {
    grid-template-columns:50% 50%;
    }
    @include medium {
      grid-template-columns: 28% auto 14rem;
    }

    @include large {
      grid-template-columns: 28% auto 16rem;
    }

  }
  &__address {
    font-family: gesso-font-family(systemmedium);
    font-size: gesso-font-size(-1);
    -webkit-font-smoothing: antialiased;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: auto;
    margin-right: auto;
    padding: gesso-spacing(sm) 0 gesso-spacing(md);
    text-align:center;
    @include medium {
      font-size: gesso-font-size(-2);
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin:0;
      padding:0;
      text-align:left;
    }
    @include large {
      font-size: gesso-font-size(-1);
    }
  }

  &__menu {
    -webkit-font-smoothing: antialiased;
    grid-column: 1 / 3;
    padding-bottom: gesso-spacing(sm);
    @include xs {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    @include medium {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__social {
    //background:$test-color-2;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin:0 auto;
    max-width:13rem;
    text-align: center;
    width:100%;
    @include xs {
      grid-column: 2 / 3;
      grid-row: 2 / 3;

    }
    @include medium {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      margin:0;
      max-width:16rem;
      padding-left:gesso-spacing(sm);
      text-align: left;
    }
  }
  &__social-directory {
    text-align: center;
       @include medium {
      text-align: right;
    }

    a {
      font-family: gesso-font-family(system);
      font-size: gesso-font-size(-2);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
  &__territorial {
    a{
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    @include medium {
      grid-row: 3 / 4;
    }
  }
}
