.block-uw-cbl-image{
  .uw-image {
    display:flex;
    flex-flow: column;
    width:100%;
    img{
      display: block;
    }
    &__sized-image {
      &--center {
        align-self: center;
      }
      &--left {
        align-self: flex-start;
      }
      &--right {
        align-self: flex-end;
      }
    }
  }
}
