{% if image.type == 'full' %}
  {% set image_class = 'uw-image__full-width' %}
{% else %}
  {% set image_class = 'uw-image__sized-image uw-image__sized-image--' ~ image.alignment  %}
{% endif %}

<div class="uw-image">
  <div class="uw-image__wrapper {{ image_class }}">

    {% if image.type == 'full' %}
      {% include '@components/responsive-image/responsive-image.twig' with {
        'sources': image.image.sources,
        'img_element': image.image.img_element['#uri'],
        'alt': image.alt,
      } %}
    {% else %}
      <img src="{{ image.image.url }}" width="{{ image.image.width }}" height="{{ image.image.height }}" alt="{{ image.alt }}" />
    {% endif %}
    {% if image.caption %}
      <div class="uw-image__caption" {% if image.image.width %} style="width:{{ image.image.width }}px;"{% endif %}>
        {% include '@components/caption/caption.twig' with {
          'caption': image.caption
        } %}
      </div>
    {% endif %}
  </div>
</div>
