// @file
// Styles for an icon.
.uw-icon {
  align-items: center;
  display:inline-flex;
  height: 1.5rem;
  line-height:normal;
  width: 1.5rem;
  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  // Fixes delayed transitions in Chrome.
  * {
    transition: none;
  }
}
