// @file
// Styles for Content Layout.

// .l-content {}
.uw-main{
  &.layout.uw-contained-width{
    padding:0 0 1rem
  }
}

// Tabs in admin
.tabs{
  z-index: gesso-z-index(wrapper);
}
.is-collapse-enabled .tabs__trigger{
  z-index: gesso-z-index(content);
}
// Code for show hide revision/tabs
.uw-show-hide{
  background-color: rgb(255, 255, 255);
  bottom: 4rem;
  color: rgb(150, 23, 46);
  cursor: pointer;
  display:none;
  font-size: 2rem;
  height: auto;
  padding: 0;
  position: fixed;
  right:1rem;
  text-decoration: none;
  width: 2rem;
  z-index: gesso-z-index(overlay);
}
.block-local-tasks-block,
.uw-content-moderation{
  display:block;
}
// end.
