{% set main_classes = 'uw-main' %}
<button class="uw-show-hide"  id="revision-show-hide" title="Show/hide revision elements">±</button>
{% for class in classes %}
  {% set main_classes = main_classes ~ ' ' ~ class %}
{% endfor %}
<main id="main" class="{{ main_classes }}" role="main" tabindex="-1">
  {% block content %}
    Main content
  {% endblock %}
</main>
