{# Due to barlow being a fallback font from google this allows the fonts to be displayed in pattern lab #}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
</style>
{% for webfont in webfonts %}
  <div class="pattern-lab-font">
    <h3 class="pattern-lab-font__family" style="{{ webfont.style }}">{{ webfont.family_name }}</h3>
    {% for font in webfont.font %}
      <div class="pattern-lab-font__item">
        <div class="pattern-lab-font__preview-character" style="{{ font.font_preview_style }}">{{ font.font_preview_character }}</div>
        <div class="pattern-lab-font__preview" style='{{ font.font_preview_style}}'>{{ font.font_preview }}</div>
        <div class="pattern-lab-font__preview-meta">
          <div class="pattern-lab-font__name">{{ font.font_name }}</div>
          <div class="pattern-lab-font__weight"><span class="pattern-lab-font__label">Weight:</span> {{ font.font_weight }}</div>
          <div class="pattern-lab-font__style"><span class="pattern-lab-font__label">Style:</span> {{ font.font_style }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
  <hr>
{% endfor %}
