{% set button_modifier_classes -%}
  button--medium {{ modifier_classes }}
{%- endset %}

{% include '@components/button/button.twig' with {
  'url': url,
  'text': text,
  'modifier_classes': button_modifier_classes,
} %}
