$details-background-color: gesso-color(ui, generic, background-light) !default;
.uw-contact{
  .uw-details{
    background-color:inherit;
    border:0;
    border-radius: inherit;
    box-shadow:inherit;
    margin:0;
    transition:inherit;
    width:100%;

    &:hover {

      box-shadow:inherit;
      .details__summary{
        background-color: $details-background-color;
      }
    }
    &:focus-within {
      .details__summary{
        background-color: $details-background-color;
      }
      box-shadow:inherit;
    }
    &:first-child{
      margin-top: 0;
    }

    .details__summary{
      background-color:#fff;
      border-bottom: 1px solid  $details-background-color;
      padding-right: rem(gesso-spacing(xl));
      text-transform: inherit;
      white-space:normal;
    }
    .details__content{
      background:gesso-grayscale(gray-1);
    }
    &[open] >
    .details__summary {
      background-color: $details-background-color;
      color: gesso-brand(org-default,uw-black,'primary');

    }
  }
  &__h2{
    margin-bottom:0.25rem;
    text-decoration:none;
    text-transform: inherit;

    a{
      //color: gesso-brand(org-default,uw-black,'primary');
      font-weight:400;
      text-decoration:none;
      text-transform: inherit;
    }
  }
  &__position{
    font-family:gesso-font-family(primary);
    font-size:rem(gesso-font-size(2));
    font-weight:400;
    text-decoration:none;
    text-transform: inherit;
    width:100%;
  }
  &__content{
    display:grid;
    font-size:rem(gesso-font-size(0));
    grid-template-columns: 100%;
    margin: 0 0  rem(gesso-spacing(md)) 0;
  }
  .uw-contact__info{
    grid-column:1/2;
    grid-row: 1/2;
    width:100%;
  }
  &__with_image{
    .uw-contact__image{
      grid-column:1/2;
      grid-row: 1/2;
      @include medium {
        grid-column:1/2;
        grid-row: 1/2;
      }
      width:100%;
    }
    .uw-contact__content{
      display:grid;
      font-size:rem(gesso-font-size(0));
      gap:1rem;
      grid-template-columns: 100%;
      @include medium {
        grid-template-columns: 10rem 1fr;
      }
    }
    .uw-contact__info{
      grid-column: 1/2;
      grid-row: 2/3;
      @include medium {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }
}
// CSS for NODE VIEW
.node {

// &--type-uw-ct-profile
  &--type-uw-ct-contact{
    @include uw-contained-width();

  }
}
