.layout--uw-3-col {
  display: grid;
  gap:$grid-gap;
  &.even-split {
    grid-template-columns:100%;
    @include medium{
      grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr);
    }
  }
  &.larger-left {
    grid-template-columns:100%;
    @include medium{
      grid-template-columns:  minmax(0, 2fr)  minmax(0, 1fr)  minmax(0, 1fr);
    }
  }
  &.larger-middle {
    grid-template-columns:100%;
    @include medium{
      grid-template-columns:  minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
    }
  }
  &.larger-right {
    grid-template-columns:100%;
    @include medium{
      grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr) minmax(0, 2fr);
    }
  }
  &.legacy-38-38-24 {
    grid-template-columns:100%;
    @include medium{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 24%;
    }
  }
  &.legacy-24-38-38 {
    grid-template-columns:100%;
    @include medium{
      grid-template-columns: 24% minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  .layout__region{
    &--first {
      grid-column: 1 / 2;
      grid-row:1 / 2;
    }
    &--second {
      grid-column: 1 / 2;
      grid-row:2 / 3;
      @include medium{
        grid-column: 2 / 3;
        grid-row:1 / 2;
      }
    }
    &--third {
      grid-column: 1 / 2;
      grid-row:3 / 4;
      @include medium{
        grid-column: 3 / 4;
        grid-row:1 / 2;
      }
    }
  }
}
