$social-accounts: 'facebook', 'twitter', 'youtube', 'instagram', 'linkedin', 'snapchat';
.uw-footer{
  .ifdsu{
    height: 100%;
    width: 100%;
    &::before{
       content:'';
    }
  }
}
.uw-footer__wrapper {
  a{
    @each $social in $social-accounts {
      .fdsu-#{$social}::before {
        @include svg-background-color($uw-black,$social);
      }
    }
    &:hover,
    &:focus{
      @each $social in $social-accounts {
        .fdsu-#{$social}::before {
          @include svg-background-color($uw-gold,$social);
        }
      }
    }
  }
}
.uw-site-footer {
  a {
    @each $social in $social-accounts {
      .fdsu-#{$social}::before {
        @include svg-background-color($uw-local-site-footer-background-color,$social);
      }
    }
    &:hover,
    &:focus{
      @each $social in $social-accounts {
        .fdsu-#{$social}::before {
          @include svg-background-color($uw-white,$social);
        }
      }
    }
  }
}
