.uw-mailman {
  form{
    @include uw-contained-width-reset();
    width: 100%;
  }
  &__label {
    display: block;
    margin-bottom: rem(gesso-spacing(xs));
  }
  &__email {
    display:grid;
    gap:$form-gap;
    grid-template-columns: auto 6rem;
    @include medium{
      grid-template-columns: auto 9rem;
    }
  }
  &__servername {
    text-align: center;
  }
}
