<div id="uw-mailman-{{ uniqueid }}" class="uw-mailman">
  <form action="//{{ mailman.server }}/mailman/subscribe/{{ mailman.servername }}">
    <div class="uw-mailman__label">
      <label for="uw-mailman__input-{{ mailman.uniqueid }}" class="uw-mailman__label--email">Email address:</label>
    </div>
    <div class="uw-mailman__email">
      {% include '@base/02-html-elements/27-input/input.twig' with {
        'type': 'email',
        'name': 'email',
        'id': 'uw-mailman__input-' ~ mailman.uniqueid
      } %}
      {% include '@base/02-html-elements/27-input/input--submit.twig' with {
        'type': 'submit',
        'value': 'Subscribe',
        'classes': 'uw-input--submit button--medium'
      } %}
    </div>
  </form>
</div>
