{%  if pattern_lab %}
  {%  set faculty = faculty ? faculty : 'org-art' %}
{% endif %}

<div class="uw-site-container">
  {% block header %}
    {% include "@layouts/header/header.twig"%}
  {% endblock %}
  <div class="layout uw-contained-width">

  {% include '@components/page-title/page-title.twig' with {
    'page_title': termpage_title
  } %}
  {% block content %}
    <div class="view view-uw-view-blogs">

      {% include '@components/view/view-header/view-header.twig' with {
        'form_classes' : form_classes,
      }%}

      {% include '@components/view/view-filter/view-filter.twig' %}

      {% include '@components/view/view-content/view-content.twig' with {
        'lists': lists,
        'views': true,
      } %}

    </div>
  {% endblock %}
  </div>
  {% block footer %}
    {% include "@layouts/footer/footer.twig" with {
      'menu_name': footer_menu_name,
      'items': footer_menu
    }%}
  {% endblock %}
</div>
