.sliding-popup-bottom,
.sliding-popup-top{
    background: gesso-brand(org-default,uw-gold,primary);
    background: rgba(253, 213, 79, 0.98);
    box-shadow: 0 0 24px -5px rgba(0, 0, 0, 0.45);
    left: 2.5%;
    padding: 2rem;
    text-align: center;
    width: 95%;
    z-index: gesso-z-index(overlay);

    .eu-cookie-compliance-buttons {
      clear: both;
      float: none;
      max-width: 100%;
      button{
        max-width: 100%;
      }
    }
    .popup-content {
      display: inline-block;
      letter-spacing: inherit;
      margin: 0 auto;
      max-width: 90%;
      text-align: left;
      width: 100%;
      .eu-cookie-compliance-message {
        h1,
        h2,
        h3 {
          color: gesso-brand(org-default,uw-black,primary);
        }
        p {
          color: gesso-brand(org-default,uw-black,primary);
          font-family:gesso-font-family(systemmedium);
          font-size:rem(gesso-font-size(-2));
          line-height: 1.4;
          margin: 0 0 1rem;
        }
      }

    }
    .eu-cookie-compliance-banner h2 {
      border: 0 solid transparent;
      font-family:gesso-font-family(condensedbook);
      font-size: 1.42383rem;
      font-weight: 400;
      letter-spacing: inherit;
      line-height: 1.25;
      margin: 0.5rem 0;
      padding: 0;
    }
    button {
      background-color:gesso-brand(org-default,uw-black,primary);
      border: 2px solid transparent;
      color: gesso-brand(org-default,uw-gold,primary);
      cursor: pointer;
      font-weight: 400;
      line-height: 1.25;
      &:hover {
        background-color: transparent;
        border: 2px solid gesso-brand(org-default,uw-black,primary);
        color: #000;
        cursor: pointer;
      }
    }
    .agree-button {
      margin-top: 0.7rem;
    }
    @include small{
    left: 50%;
    padding: 1.2rem 0;
    transform: translate(-50%, -10%);
    width: 80%;
    .eu-cookie-compliance-message {
      float: left;
      max-width: 60%;
    }
    .eu-cookie-compliance-buttons {
      clear:inherit;
      float: right;
      max-width: 40%;
    }
    .eu-cookie-compliance-banner h2{
      font-size:1.80203rem;
    }
  }
}
.sliding-popup-bottom {
  bottom:0;
  position: fixed;
}
.sliding-popup-top {
  position: relative;
}
