
<div id="sliding-popup" class="sliding-popup-bottom">
    <div class="eu-cookie-compliance-banner eu-cookie-compliance-banner-info eu-cookie-compliance-banner--default">
        <div class="popup-content info eu-cookie-compliance-content">
            <div id="popup-text" class="eu-cookie-compliance-message">
               {{ cookie.text }}
            </div>
            <div id="popup-buttons" class="eu-cookie-compliance-buttons">
                <button type="button" class="agree-button eu-cookie-compliance-default-button">Accept all</button>
            </div>
        </div>
    </div>
</div>