.layout--uw-2-col {
  display: grid;
  gap:$grid-gap;
  grid-template-columns:100%;
  &.larger-left {
    @include medium{
      grid-template-columns: minmax(0, 2fr) 1fr;
    }
  }
  &.larger-right {
    @include medium{
      grid-template-columns:  1fr minmax(0, 2fr);
    }
  }
  &.even-split {
    grid-template-columns:100%;
    @include medium{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .layout__region{
    &--first {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &--second {
      grid-column: 1 / 2;
      grid-row: 2/ 3;
      @include medium{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
  }
}
