// @file
// Table styles.

caption {
  font-size: gesso-base-font-size();
  font-style:italic;
  padding: gesso-spacing(xs);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: rem(gesso-spacing(xs)) 0;
  max-width: 100%;
  width: 100%;

}

td {
  background-color: gesso-color(table, background);
  border: 1px solid gesso-color(table, border);
  padding: gesso-spacing(xs);
}

tfoot {
  td,
  th {
    background-color: gesso-color(table, background-foot);
  }
}

th {
  background-color: gesso-color(table, background-head);
  border: 1px solid gesso-color(table, border);
  font-style:italic;
  padding: gesso-spacing(xs);
  text-align: left;
  &[scope="row"] {
    background-color: gesso-color(table, background-head);
  }
}

thead {
  td,
  th {
    background-color: gesso-color(table, background-head);
  }

  @media print {
    display: table-header-group;
  }
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}
