{% import _self as menus %}

{% set menu_parent_hide = false %}

{{ menus.menu_links(items, attributes, 0, menu_name, menu_class, item_class, link_class) }}

{% macro menu_links(items, attributes, menu_level, menu_name, menu_class, item_class, link_class, parent) %}

  {% import _self as menus %}

  {% if items %}

    {% if menu_level == 0 %}

      {# double quotes around class using menu_name needed for interpolation #}
      {% set additional_classes = [
        'menu',
        "menu--#{menu_name}"
      ] %}

      {% if menu_class %}
        {% set additional_classes = additional_classes|merge(menu_class) %}
      {% endif %}

      {% set additional_attributes = {
        'class': additional_classes
      } %}
      <ul {{ add_attributes(additional_attributes) }}>

    {% else %}
      <ul class="menu menu--subnav">
    {% endif %}

    {% for item in items %}

      {% set item_classes = ['menu--item'] %}
      {% set link_classes = ['menu--link'] %}

      {% if item.active_trail %}
        {% set item_classes = item_classes|merge(['is-active-trail']) %}
      {% endif %}

      {% if item.active %}
        {% set link_classes = link_classes|merge(['active']) %}
      {% endif %}

      {% if item_class %}
        {% set item_classes = item_classes|merge(item_class) %}
      {% endif %}

      {% if link_class %}
        {% set link_classes = link_classes|merge(link_class) %}
      {% endif %}

      {# Check for submenu  #}
      {% if item.submenu %}

        {# Add class for indicating the item has a submenu  #}
        {% set item_classes = item_classes|merge(['has-submenu']) %}

        {# Check if we are in parent menu_level #}
        {% if menu_level == 0 %}

            {# Add the link class #}
            {% set link_classes =  link_classes|merge(['menu--link__sub']) %}

        {% endif %}
        {% if menu_level == 1 %}
          {% set item_classes = item_classes|merge(['sub-1']) %}
        {% endif %}
      {% endif %}

      {# Set the additional_item_attributes  #}
      {% set additional_item_attributes = {
        'class': item_classes
      } %}

      {# Set the additional_link_classes #}
      {% set link_attributes = {
        'class': link_classes
      } %}

      {# Check menu level 1 and parent and not have the hide parent flag
          Hide the Parent menu item from printing more than once
          this is the recursive check currently 2 deep
      #}
      {% if menu_level == 1 and parent and not menu_parent_hide  %}

        {% set menu_parent_hide = true %}

        <li class="menu--item menu--item__parent">

          <a href="{{ parent.url }}" class="menu--link-parent">

            <span class="link-text">
              {% if parent.title %}
                {{ parent.title }}
              {% elseif parent.text %}
                {{ parent.text }}
              {% endif %}
            </span>

          </a>

        </li>
      {% endif %}

      <li {{ add_attributes(additional_item_attributes) }}>

        <a

                {% if item.submenu and menu_level == 0 %}
                  tabindex="0"
                  aria-haspopup="true"
                  role="button"
                {% elseif item.submenu %}
                  href="{{ item.url }}"
                {% else %}
                  href="{{ item.url }}"
                {% endif %}
                {{ add_attributes(link_attributes) }}

        >

          <span class="link-text">
            {% if item.title %}
              {{ item.title }}
            {% elseif item.text %}
              {{ item.text }}
            {% endif %}
          </span>

        </a>

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% elseif item.submenu %}
          {% if menu_level == 0 %}
            {{ menus.menu_links(item.submenu, attributes, menu_level + 1, '', '', '', '', item) }}
          {% else %}
            {{ menus.menu_links(item.submenu, attributes, menu_level + 1) }}
          {% endif %}
        {% endif %}

      </li>

    {% endfor %}

    </ul>

  {% endif %}
{% endmacro %}
