// @file
$faculties: 'org-default', 'org-ahs', 'org-art', 'org-eng', 'org-env', 'org-mat', 'org-sci', 'org-school', 'org-stp', 'org-cgc', 'org-stj', 'org-ren';
$icon-font-family-small: gesso-font-family(condensedbook) !default;
$icon-font-family-normal: gesso-font-family(condensedbook) !default;
$icon-font-size-normal: rem(gesso-font-size(2)) !default;
$icon-font-size-small: rem(gesso-font-size(0)) !default;

.icon--button {
  align-items:center;
  background:none;
  border: 1px solid gesso-brand(org-default,uw-black,'primary');
  display: flex;
  flex-flow:row;
  font-family: $icon-font-family-small;
  font-size: $icon-font-size-normal;
  font-weight: gesso-font-weight(regular);
  gap:0.25rem;
  height:3rem;
  line-height:normal;
  padding:0 0.5rem;
  transition:background gesso-duration(short) gesso-easing(ease-in);
  .uw-icon {
    align-items: center;
    display:flex;
    line-height:normal;
    svg {
      fill: gesso-brand(org-default,uw-black,'primary');
    }

  }

  &.uw-icon-link {
    color: gesso-brand(org-default,uw-black,'primary');
    text-decoration:none;

    &:hover,
    &:focus {
      background: $button-background-color-hover;
      color: gesso-brand(org-default,uw-black,'primary') !important;
      .uw-icon {
        svg{
          fill: gesso-brand(org-default,uw-black,'primary');
        }
      }
    }
  }
}
