{% if icons %}

  {% for icon in icons %}

    {% if icon.url %}
      <a {% if icon.aria %} aria-{{ icon.aria_type_name }}="{{ icon.aria_type_value}}" {% endif %} {% if icon.data_type_name %} data-{{ icon.data_type_name }}="{{ icon.data_type_value }}"{% endif %} {% if icon.btn_id %} id="{{ icon.btn_id }}" {% endif %} href="{{ icon.url }}" class="uw-icon-link {{ icon.modifier_classes }}"  {% if icon.is_download %} download {% endif %}>
    {% endif %}
        {% include '@components/icon/icon.twig' with {
          name: icon.name,
          modifier_classes: icon.modifier_classes,
        }
        %}
    {%  if icon.text %}
      <span  {%  if icon.is_hidden %} class="off-screen" {% endif %}>
          {{ icon.text }}
      </span>
    {% endif %}

    {% if icon.url %}
      </a>
    {% endif %}

  {% endfor %}

{% else %}


  {% if url %}
    <a {% if aria %} aria-{{ aria_type_name }}="{{ aria_type_value}}" {% endif %} {% if data_type_name %} data-{{ data_type_name }}="{{ data_type_value }}"{% endif %} {% if btn_id %} id="{{ btn_id }}" {% endif %} href="{{ url }}" class="uw-icon-link {{ modifier_classes }}" {% if is_download %} download {% endif %}>
  {% endif %}
  {% include '@components/icon/icon.twig' with {
    name: name,
    icon_modifier_classes: icon_modifier_classes,
  }
  %}
  {%  if text %}
    <span  {%  if is_hidden %} class="off-screen" {% endif %}>
        {{ text }}
    </span>
  {% endif %}

  {% if url %}
    </a>
  {% endif %}

{% endif %}
