.uw-remote-video {
  height: 0;
  margin-bottom:2rem;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  position: relative;
  width: 100%;

  &__video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .media-oembed-content {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

    }
  }

  &__view {
    position: absolute;
    text-align:center;
    top:100%;
    width:100%;

    a {
      font-family: gesso-font-family(systemmedium);
      font-size:rem(gesso-font-size(0));
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
