<div class="uw-remote-video">
  <div class="uw-remote-video__video">
    {{ remote_video.video }}
  </div>
  <div class="uw-remote-video__view">
    {% if remote_video.view.type == 'Generic' %}
      <a href="{{ remote_video.view.url }}">View video at {{ remote_video.view.url }}</a>
    {% else %}
      <a href="{{ remote_video.view.url }}">View on {{ remote_video.view.type }}</a>
    {% endif %}
  </div>
</div>
