<div class="card__additional-info">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE,
  } %}
    {% block details_summary %}
      Additional Information
    {% endblock %}

    {% block details_content %}

      {% if additional_info.host %}
        <span class="uw-label">Host:</span>
        {% include '@components/links/links.twig' with {
          'links': additional_info.host
        } %}
      {% endif %}

      {% if additional_info.event_website %}
        <span class="uw-label">Event website:</span>
        {% include '@components/links/links.twig' with {
          'links': additional_info.event_website
        } %}
      {% endif %}

      {% if additional_info.cost %}
        <span class="uw-label">Cost:</span>
        {{ additional_info.cost }}
      {% endif %}

      {% if additional_info.tags %}
        {% for key,tag in additional_info.tags %}
          <span class="uw-label">{{ key }}:</span>
          {% include "@components/tag-list/tag-list.twig" with {
            items: tag
          } %}
        {% endfor %}
      {% endif %}

      {% if additional_info.info %}
        {{ additional_info.info }}
      {% endif %}

    {% endblock %}
  {% endembed %}
</div>
