<div class="card__banner--image">
  {% if image.link %}
  <a href="{{ image.link }}">
    {% endif %}
  <div class="card__banner--media">
    {% if listing_image.img_element %}
      {% include "@components/responsive-image/responsive-image.twig" with {
        sources: image.sources,
        img_element: listing_image.img_element,
        alt: listing_image.alt
      }%}
    {% else %}
      {% include "@components/responsive-image/responsive-image.twig" with {
        sources: image.sources,
        img_element: image.img_element,
        alt: image.alt
      }%}
    {% endif %}
  </div>
  {% if image.big_text or image.small_text %}
    <div class="card__banner--caption">
      {% if image.big_text %}
      <strong>
        <span class="card__banner--title">
          {{ image.big_text }}
        </span>
      {% endif %}
      </strong>
      {% if image.small_text %}
        <span class="card__banner--sub-title">
          {{ image.small_text }}
        </span>
      {% endif %}
    </div>
  {% endif %}
    {% if image.link %}
  </a>
  {% endif %}
</div>
