<div class="card__contact-info">
  {% embed '@components/details/details.twig'  with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      Contact Information
    {% endblock %}

    {% block details_content %}
      {% if contact_info.email %}
        <div class="card__contact-info--email">
          <a href="mailto:{{ contact_info.email }}">{{ contact_info.email }}</a>
        </div>
      {% endif %}
      {% if contact_info.phone %}
        <div class="card__contact-info--phone">
          {{ contact_info.phone }}
        </div>
      {% endif %}
      {% if contact_info.location %}
        <div class="card__contact-info--location">
          <span class="uw-label">Location:</span>
          {{ contact_info.location }}
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
