<div class="card__contact-for">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      Contact for
    {% endblock %}

    {% block details_content %}
      <div class="card__contact-for-content">
        {{ contact_for.contact }}
      </div>
    {% endblock %}
  {% endembed %}
</div>
