<div class="card__date">

  {% for d in date %}
    {% if date|length > 1 and loop.index0 == 0 %}
      <details class="uw-date-details">
        <summary role="button" aria-controls="edit-future-dates-collapsible" aria-expanded="false" aria-pressed="false" class="uw-date-details__summary">
    {% endif %}
    {% if modifier_classes != 'node--opportunity' %}
      <span class="uw-date">
    {% endif %}
      {% if d.all_day %}
        {% if d.start_date %}
          {% set ddate = d.start_date %}
        {% else %}
          {% set ddate = d.date %}
        {% endif %}
        {% include '@components/date/_date.twig' with {
          'date_format': 'long',
          'date': ddate,
        } %} (all day)
      {% elseif d.date_range %}
        {% include '@components/date/_date.twig' with {
          'date_format': 'long_with_time',
          'date': d.start_date,
        } %}
        -
        {% if d.same_day %}
          {% include '@components/date/_date.twig' with {
            'date_format': 'time_only',
            'date': d.end_date,
          } %}
        {% else %}
          {% include '@components/date/_date.twig' with {
            'date_format': 'long_with_time',
            'date': d.end_date,
          } %}
        {% endif %}

        {% include '@components/date/_date.twig' with {
          'date_format': 'timezone',
          'date': d.start_date,
        } %}

      {% else %}
        {% include '@components/date/_date.twig' with {
          'date_format': date_format,
          'date': d.date,
        } %}
      {% endif %}

      {% if date|length > 1 and loop.index0 == 0 %}
        </summary>
      {% endif %}

      {% if date|length > 1 and loop.last %}
        </details>
      {% endif %}

    {% if modifier_classes != 'node--opportunity' %}
      </span>
    {% endif %}

  {% endfor %}
</div>
