
{% if footer.service_information %}
  {% include '@components/card/card-elements/_service-information.twig' with {
    'info': footer.service_information
  } %}
{% endif %}

{% if footer.service_details %}
  {% include '@components/card/card-elements/_service-details.twig' with {
    'service_details': footer.service_details
  } %}
{% endif %}

{% if footer.service_hours %}
  {% include '@components/card/card-elements/_service-hours.twig' with {
    'service_hours': footer.service_hours
  } %}
{% endif %}

{% if footer.contact_info %}
  {% include '@components/card/card-elements/_contact-info.twig' with {
    'contact_info': footer.contact_info
  } %}
{% endif %}

{% if footer.contact_for %}
  {% include '@components/card/card-elements/_contact-for.twig' with {
    'contact_for': footer.contact_for
  } %}
{% endif %}

{% if footer.groups %}
  {% include '@components/card/card-elements/_groups.twig' with {
    'groups': footer.groups.groups
  } %}
{% endif %}

{% if footer.opportunity_dates %}
  {% include '@components/card/card-elements/_opportunity-dates.twig' with {
    'dates': footer.opportunity_dates
  } %}
{% endif %}

{% if footer.opportunity_details %}
  {% include '@components/card/card-elements/_opportunity-details.twig' with {
    'opportunity_details': footer.opportunity_details
  }%}
{% endif %}

{% if footer.links %}
  {% include '@components/card/card-elements/_links.twig' with {
    'links': footer.links
  }%}
{% endif %}

{% if footer.location_info %}
  {% include '@components/card/card-elements/_location-info.twig' with {
    'location_info': footer.location_info
  }%}
{% endif %}

{% if footer.additional_info %}
  {% include '@components/card/card-elements/_additional-info.twig' with {
    'additional_info': footer.additional_info
  } %}
{% endif %}

{% if footer.posted %}
  {% include '@components/label/label.twig' with {
    'label': 'Date posted'
  } %}
  {% include '@components/card/card-elements/_date.twig' with {
    'date_format': 'long',
    'date': footer.posted
  } %}
{% endif %}

{% if footer.deadline %}
  {% include '@components/label/label.twig' with {
    'label': 'Application deadline'
  } %}
  {% include '@components/card/card-elements/_date.twig' with {
    'date_format': 'long_with_time',
    'date': footer.deadline
  } %}
{% endif %}

{% if footer.opportunity_type %}
  {% include '@components/card/card-elements/_opportunity-type.twig' with {
    'opportunity_type': footer.opportunity_type
  } %}
{% endif %}

{% if footer.project_details %}
  {% include '@components/card/card-elements/_project-details.twig' with {
    'project_details': footer.project_details
  } %}
{% endif %}

{% if footer.timeline %}
  {% include '@components/card/card-elements/_timeline.twig' with {
    'timeline': footer.timeline
  } %}
{% endif %}

{% if footer.project_members %}
  {% include '@components/card/card-elements/_project-members.twig' with {
    'project_members': footer.project_members
  } %}
{% endif %}

{% if footer.tags %}
  {% include '@components/card/card-elements/_tags.twig' with {
    'tags': footer.tags,
  } %}
{% endif %}
