<div class="card__groups">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      Groups
    {% endblock %}

    {% block details_content %}
      <div class="card__groups-list">
        {% for group in groups %}
          {% if loop.index0 > 0 %}
            , {{ group.title }}
          {% else %}
            {{ group.title }}
          {% endif %}
        {% endfor %}
      </div>
    {% endblock %}
  {% endembed %}
</div>
