<div class="card__image">
  {% if image.type == 'listing_image' %}
      {% include '@components/card/card-elements/_listing-image.twig' with {
        'listing_image': image
      } %}
  {% endif %}

  {% if image.type == 'portrait' %}
    {% include "@components/responsive-image/responsive-image.twig" with {
      sources: image.sources,
      img_element: image.img_element,
      alt: image.alt
    }%}
  {% endif %}
</div>
