  {% if url %}
    <a href="{{ url }}">
  {% endif %}

  {% include "@components/responsive-image/responsive-image.twig" with {
    sources: listing_image.sources,
    img_element: listing_image.img_element,
    alt: listing_image.alt
  }%}

  {% if url %}
    </a>
  {% endif %}
