{% set address = location_info.address %}
{% set map = location_info.map %}
{% set map_link = location_info.map_link %}

<div class="card__location">
  {% embed '@components/details/details.twig'  with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      Location Information
    {% endblock %}

    {% block details_content %}
      {% if address %}
        <div class="card__address">
          <span class="uw-label">Location Address:</span>
          {% if address.organization %}
            {{ address.organization }}<br />
          {% endif %}
          {% if address.address_line1 %}
            {{ address.address_line1 }}<br />
          {% endif %}
          {% if address.address_line2 %}
            {{ address.address_line2 }}<br />
          {% endif %}
          {% if address.locality or address.administrative_area or address.country_code or address.postal_code %}
            {% if address.locality %}{{ address.locality }}{% if address.administrative_area %}, {% endif %}{% endif %}{% if address.administrative_area %}{{ address.administrative_area }}{% endif %}{% if address.country_code and (address.locality or address.administrative_area) %}, {% endif %}{% if address.country_code %}{{ address.country_code }}{% endif %}{% if address.postal_code and (address.locality or address.administrative_area or address.country_code) %}&nbsp; {% endif %}{% if address.postal_code %}{{ address.postal_code }}{% endif %}
          {% endif %}
        </div>
      {% endif %}
      {% if map %}
        <div class="card__map">
          <span class="uw-label">Location coordinates:</span>
          {{ map }}
        </div>
      {% endif %}
      {% if map_link %}
        <div class="card__map-link">
          <span class="uw-label"> Link to map:</span>
          <a href="{{ map_link.uri }}">{{ map_link.uri }}</a>
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
