<div class="card__media">

  {% if media.type == 'banner' %}
    {% include '@components/banners/banners.twig' with {
      'banners': media.media
    } only %}
  {% endif %}

  {% if media.type == 'image' %}
    {% include '@components/card/card-elements/_hero-image.twig' with {
      'hero_image': media.media,
      'header': header
    } %}
  {% endif %}

  {% if media.type == 'remote_video' %}
    {% include '@components/remote-video/remote-video.twig' with {
      'remote_video': media.media
    } %}
  {% endif %}
</div>
