{% include '@components/label/label.twig' with {
  'label': 'Rate of pay'
} %}
{% if rate_of_pay and rate_of_pay_type %}
  {{ rate_of_pay }} ({{ rate_of_pay_type[0].title }})
{% elseif rate_of_pay_type %}
  {{ rate_of_pay_type }}
{% else %}
  {{ rate_of_pay }}
{% endif %}

