<div class="card__service-details">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE
  } %}
    {% block details_summary %}
      Service Details
    {% endblock %}

    {% block details_content %}
      {% if service_details.popularity %}
        {% include '@components/label/label.twig' with {
          'label': 'Popularity'
        } %}
        {{ service_details.popularity }}
      {% endif %}

      {% if service_details.use_service %}
        {% include '@components/label/label.twig' with {
          'label': 'Who can use this service'
        } %}
        {% include "@components/tag-list/tag-list.twig" with {
          items: service_details.use_service
        } %}
      {% endif %}

      {% if service_details.whats_available %}
        {% include '@components/label/label.twig' with {
          'label': 'What\'s available'
        } %}
        {% for wa in service_details.whats_available %}
          {{ wa }}<br />
        {% endfor %}
      {% endif %}

      {% if service_details.request_service %}
        {% include '@components/label/label.twig' with {
          'label': 'How to request this service'
        } %}
        {{ service_details.request_service }}
      {% endif %}

      {% if service_details.minimum_notice %}
        {% include '@components/label/label.twig' with {
          'label': 'Minimum notice to use this service'
        } %}
        {{ service_details.minimum_notice }}
      {% endif %}

      {% if service_details.average_length %}
        {% include '@components/label/label.twig' with {
          'label': 'Average length of time to complete request'
        } %}
        {{ service_details.average_length }}
      {% endif %}

      {% if service_details.pricing_cost %}
        {% include '@components/label/label.twig' with {
          'label': 'Pricing/Cost'
        } %}
        {{ service_details.pricing_cost }}
      {% endif %}

      {% if service_details.support %}
        {% include '@components/label/label.twig' with {
          'label': 'Support for this service'
        } %}
        {{ service_details.support }}
      {% endif %}

    {% endblock %}
  {% endembed %}
</div>
