<div class="card__service-details">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE
  } %}
    {% block details_summary %}
      Service Hours
    {% endblock %}

    {% block details_content %}

      {% if service_hours.hours %}
        {{ service_hours.hours }}
      {% endif %}

      {% if service_hours.hours_notes %}
        {% include '@components/label/label.twig' with {
          'label': 'General notes about service hours'
        } %}
        {{ service_hours.hours_notes }}
      {% endif %}

    {% endblock %}
  {% endembed %}
</div>
