{% if header_level %}
  <h{{ header_level }} class="card__title">
{% else %}
  <div class="card__title">
    <strong>
{% endif %}


{% if url and type != 'node' %}
  <a href="{{ url }}">
{% endif %}

{{ title }}

{% if url and type != 'node' %}
  </a>
{% endif %}

{% if header_level %}
  </h{{ header_level }}>
{% else %}
    </strong>
  </div>
{% endif%}

{% if sub_title %}
  <span class="card__sub-title">{{ sub_title }}</span>
{% endif %}
