.uw-copy-text {
  overflow: auto;
  ul {
    overflow: hidden;
  }
  .media {
    &.align-left {
      padding-right: 1rem;
    }
    &.align-center {
      padding-left:0;
      padding-right:0;
      text-align: center;
      img{
        display: block;
        margin: 0 auto;
      }
    }
    &.align-right {
      padding-left: 1rem;
    }
  }

  &__wrapper.uw-contained-width {
    @include uw-contained-width;
    padding: 1rem 0;
  }
}
