$menu-horizontal-bg: gesso-brand(org-default,uw-black,lvl4);
$menu-horizontal-drop-bg: #f7f7f7;

.uw-horizontal-nav.uw-horizontal-nav--header {
  background:$menu-horizontal-bg;
  max-width:inherit;
  width:inherit;

  .uw-horizontal-nav--wrapper{
    background: $menu-horizontal-bg;
    display:block;
    max-width:inherit;
    padding:0;
    position:relative;


  }
  .uw-horizontal-nav--home{
    display:none;
    grid-column: none;
    padding:0;

  }
  .uw-horizontal-nav--menu {
    width:inherit;
    .menu {
      border:1px solid #fff;
      height:auto;
      position:relative;
      width:6rem;
      a{
        color: gesso-brand(org-default,uw-white,lvl1);
        outline:none;
        outline-offset: unset;
        width:100%;
        &:hover{
          color: gesso-brand(org-default,uw-black,lvl4);
        }
      }
      &.menu--subnav{
        a{
          color: gesso-brand(org-default,uw-black,lvl4);
          outline:none;
          outline-offset: unset;
          width:100%;
        }
      }
      &--horizontal {

        > .menu--item{
          background: $menu-horizontal-bg;
          border-bottom:0 solid transparent;
          width:100%;

          &.has-submenu {

            > a{

              padding-right:gesso-spacing(md);
              position:relative;

              &::after {
                @include svg-background(mobile-arrow-down-w);
                background-position:center center; // LTR
                background-repeat: no-repeat;
                background-size: contain;
                display:block;
                height:0.6rem;
                position:absolute;
                text-align: center;
                width:0.6rem;
              }
              &:hover,
              &:focus{
                &::after {
                  @include svg-background(mobile-arrow-down);
                }
              }
            }
            &.submenu-active{
              > a{
                &::after {
                  @include svg-background(mobile-arrow-down);
                }
              }
            }
          }
          .no-scroll & {
            &[aria-expanded="true"]{
              > a{
                border-left:inherit;
                display:inline-block;
                height:inherit;
                overflow:inherit;
                width:inherit;
                z-index: gesso-z-index(overlay);
                span{
                  display:block;
                }
                &::after {
                  //transform: scale(0.75, 0.75) rotate(270deg);
                }
              }
            }
          }
        }
      }
      &--subnav {
        display: none;
      }
      .submenu-active .menu--subnav{
        background: $menu-horizontal-drop-bg;
        border-width:0;
        column-count: 1;
        display:inherit;
        height:auto;
        left:inherit;
        min-height:auto;
        min-width:13rem;
        padding:1rem 0.5rem;
        right:0;
        top:inherit;
        width:auto;

        .menu--item{
          max-width:inherit;
          &__parent{
            display:none;
          }
          a{
            .no-scroll &{
              border-color:transparent;
              &:hover{
                border-color:#e6e6e6;
              }
            }
          }
        }
        .menu--subnav{
          border:0 solid #fff;
        }
      }
    }
  }
}
