{% set submenu = [] %}

{% set submenu = submenu|merge([
  {
    'title': 'Admissions',
    'url': 'https://uwaterloo.ca/admissions/',
    'in_active_trail': false
  },
  {
    'title': 'About Waterloo',
    'url': 'https://uwaterloo.ca/about/',
    'in_active_trail': false
  },
  {
    'title': 'Faculties & Academics',
    'url': 'https://uwaterloo.ca/faculties-academics/',
    'in_active_trail': false
  },
  {
    'title': 'Offices & Services',
    'url': 'https://uwaterloo.ca/offices-services/',
    'in_active_trail': false
  },
  {
    'title': 'Support Waterloo',
    'url': 'https://uwaterloo.ca/support/',
    'in_active_trail': false
  },
  {
    'title': 'COVID-19',
    'url': 'https://uwaterloo.ca/coronavirus/',
    'in_active_trail': false
  },
]) %}

{% set items = [] %}
{% set items = items|merge([
  {
    'title': 'Jump to',
    'url': '#',
    'in_active_trail': 'false',
    'submenu': submenu
  }
]) %}

<div class="uw-header-menu">
  {% include "@components/menu/menu--horizontal/menu--horizontal.twig" with {
    'items': items,
    'modifier_classes': 'header',
    'menu_name': 'horizontal',
    'include_home': false,
  }%}
</div>

