:root {
  --banner-transition-speed: 400ms;
}
.uw-carousel{
  &__banner{
    .animated {
      animation-duration: var(--banner-transition-speed) !important;
    }
    // Used to control the display of the play-pause
    &[data-autoplay="1"]{
      .uw-owl-nav__banner-control-wrap{
          display:block;
        }
      &.banner-single{
        .uw-owl-nav__banner-control-wrap{
          display:none;
        }
      }
    }

    &[data-autoplay="0"]{
      .uw-owl-nav__banner-control-wrap{
        display:none;
      }
    }
    .uw-owl-nav__banner-control-wrap {
      bottom:1.5rem;
      display:none;
      font-size: gesso-font-size(3);
      left: 0.5rem;
      order: 4;
      position: absolute;
      z-index: gesso-z-index(content);

      .uw-owl-nav__banner-control {
        @include button-reset();
        box-sizing: border-box;
        display: block;
        height: 2rem;
        overflow: hidden;
        position: relative;
        width: 2rem;
        &.uw-play{
          display:none;
        }
        .uw-icon{
          display: block;
          height: 2rem;
          width: 2rem;
        }

      }
    }
    .owl-stage-outer {
      margin-bottom: 0;
      overflow: hidden;
    }
    .owl-carousel{
      .uw-owl-nav__dots{
        align-items: flex-start;
        background:gesso-color(button, default, background);
        border-bottom:1px solid gesso-color(button, default, background);
        display:flex;
        &.disabled{
          display:none;
        }
        gap:1px;
        order:3;
        .owl-dot{
          @include button-reset();
          background-color: gesso-color(button, default, background-hover);
          color: gesso-color(button,secondary,text);
          height:0.8rem;
          margin:0;
          padding:0;
          width:100%;
          &:hover,
          &:focus {
            background-color: gesso-color(button, default, background);
            color: gesso-color(button,default,text);
          }
          &.active{
            background-color: $uw-black;
          }
        }
      }
      .uw-owl-nav__prevnext{
        // Replace with display: flex; when theming
        // other banners.styles
        display:none;
        &.disabled{
          display:none;
        }
        flex-flow: column;
        opacity:0;
        position:absolute;
        top:calc(50% - 6rem);
        transition: opacity 350ms ease-in-out 250ms;
        width:100% !important;
        z-index: 1;
        .owl-prev,
        .owl-next{
          @include button-reset();
          background:rgba(0,0,0,0.5);
          height:6.5rem;
          position:absolute;
          vertical-align: middle !important;
          width:3rem;

          &::after{
            display:block;
            font-family: gesso-font-family(system);
            font-size: gesso-font-size(12);
          }
        }
        .owl-prev{
          align-self: flex-start;
          padding-left:1rem !important;
          &::after{
            content:"\2039";
          }
        }
        .owl-next{
          align-self: flex-end;
          padding-left:1rem !important;
          right:0;
          &::after{
            content:"\203A";
          }
        }
      }
      &:hover{
        .uw-owl-nav__prevnext{
          opacity:1;
          transition: opacity 350ms ease-in-out 250ms;
        }
      }
    }
    // CSS classes set by the types of banner
    // to allow for 4 different styles.
    &-full-overlay{
      //
    }
    &-full-width{
     //
    }
    &-split{
    //
    }
    &-inset{
      //
    }
  }
}
.no-js {
  .uw-carousel{
    &__banner {
      &[data-autoplay="1"] {
        .uw-owl-nav__banner-control-wrap {
          display: none;
        }
      }
    }
  }
  &.js{
    .uw-carousel{
      &__banner {
        &[data-autoplay="1"] {
          .uw-owl-nav__banner-control-wrap {
            display: inherit;
          }
          &.banner-single{
            .uw-owl-nav__banner-control-wrap{
              display:none;
            }
          }
        }
      }
    }
  }
  .uw-owl-nav__dots-js {
    align-items: flex-start;
    background: gesso-color(button, default, background);
    border-bottom: 1px solid gesso-color(button, default, background);
    display: flex;
    gap: 1px;
    order: 3;

    .owl-dot {
      @include button-reset();
      background-color: gesso-color(button, default, background-hover);
      color: gesso-color(button, secondary, text);
      height: 0.8rem;
      margin: 0;
      padding: 0;
      width: 100%;

      &:hover,
      &:focus {
        background-color: gesso-color(button, default, background);
        color: gesso-color(button, default, text);
      }

      &.active {
        background-color: $uw-black;
      }
    }
  }
   .card__banner:target ~ .card__banner:last-of-type,
   .card__banner {
    display: none;
  }
  &.js{
    .card__banner:target ~ .card__banner:last-of-type,
    .card__banner {
      display: inherit;
    }
  }
  /* :last-child works, but .page:last-child will not */
    .card__banner:last-of-type,
    .card__banner:target {
    display: block;
  }
  &.js{
    .card__banner:last-of-type,
    .card__banner:target {
      display: inherit;
    }
  }
}
