{# Get count wether to set carousel or not.  #}
{% set banner_count =  banners.images|length %}

{% if banner_count > 1 %}
  {% embed '@layouts/carousel/carousel.twig' with {
    'carousel_type': 'banner',
    'autoplay' : banners.autoplay,
    'style' : banners.style,
  } %}

  {% block content %}
    {% include '@components/card/card--banner/card--banner.twig' with {
      'banners': banners,
    } %}
  {% endblock %}

  {% endembed %}
  <noscript>
    <div class="uw-owl-nav__dots-js">
      {% for image in banners.images %}
        <a href="#banner{{ loop.index }}-{{ banners.uuid }}" role="button" class="owl-dot"></a>
      {% endfor %}
    </div>
  </noscript>
{% else %}
  {% block content %}
    {% include '@components/card/card--banner/card--banner.twig' with {
      'banners': banners,
    } %}
  {% endblock %}
{% endif %}


