// @file
// Styles for form fieldsets.

$fieldset-border-color: gesso-color(form, border);
$fieldset-legend-offset: rem(gesso-line-height(base) * gesso-base-font-size()) !default;
$fieldset-background-color: gesso-color(form, fieldset, fieldset-background) !default;
$fieldset-legend-background-color: gesso-color(form, border) !default;
fieldset,
.fieldset {
  background:transparent;
  border: $fieldset-border-color solid 1px;
  clear: both;
  margin-bottom: rem(gesso-spacing(md));
  padding: rem(gesso-spacing(sm));
  position: relative;
  legend {
    border: 0;
    box-sizing: border-box;
    font-family: $form-label-font-family;
    font-size: gesso-font-size(2);
    font-weight:  gesso-font-weight(regular);
    margin: rem(gesso-spacing(xs)) 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    white-space: normal;
  }
  /* stylelint-disable-next-line selector-no-qualifying-type */
  &.webform-type-fieldset{
    background:$fieldset-background-color;
    padding:rem(gesso-spacing(sm));
    > legend{

      border-radius: 2px;
      font-family: $form-legend-font-family;
      margin: 1rem 0;
      min-width:0;
      padding:0;
      position: relative;
      top:0;
    }
  }
  //top: $fieldset-legend-offset; // Offsets the negative margin of legends.
  &:hover {
    > legend {
      background-color: transparent;
    }
  }
  .fieldset-invisible{
    clear: both;
    &:hover {
      > legend {
        margin-bottom: 0.7rem;
        padding-top: 1rem;

      }
    }

    > legend {
      font-weight:400;
      margin-bottom: 0.7rem;
      padding-top: 1rem;

    }
  }
  .fieldset-wrapper {
    .webform-container-inline {
      .fieldset-invisible {
        display: inline-block;
      }
    }
  }
}
.captcha {
  margin: rem(gesso-spacing(md)) 0;
}

.layout-builder-configure-section {
  fieldset {
    background-color: initial;
  }
}
