// @file
// IMG element styles.

img {
  border: 0;
  font-style: italic; // Makes alt text stand out from surrounding text.
  max-width: 100%;

  @media print {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
}
.media--type-uw-mt-image{
  img{
    height: auto;
  }
}
