// @file
// Styles for Cards.

$card-accent-border-color: gesso-color(ui, generic, accent) !default;
$card-link-color: gesso-color(text, on-light) !default;
$card-link-color-hover: gesso-color(ui, generic, text-dark) !default;
$card-meta-color: gesso-color(ui, generic, text-dark) !default;
$card-padding: rem(gesso-spacing(sm)) !default;

.card {
  width: 100%;

  .views-row & {
    height: 100%;
  }

  .uw-label {
    display: block;
    margin-top: 1rem;
  }

  &__catalog-tags {
    padding-bottom: rem(gesso-spacing(sm));
  }
}

// if card--show-hover class is present then show "
.card--show-hover{
  border-bottom: 3px solid $card-accent-border-color;
  box-shadow: gesso-box-shadow(1);
  padding: $card-padding;
  transition: box-shadow gesso-duration(short) gesso-easing(ease-in-out);

  &:hover,
  &:focus-within {
    box-shadow: gesso-box-shadow(3);
  }
}

.card__media {

}

.card__image{
  margin-bottom: rem(gesso-spacing(sm));
  img{
    display: block;
  }
  a {
    background: #000;
    display:block;
    img{
      -webkit-filter: opacity(100%);
      filter: opacity(100%);
      transition:filter gesso-duration(shortest) gesso-easing(ease-in);
    }
    &:hover,
    &:focus{
      img{
        -webkit-filter: opacity(62%);
        filter: opacity(62%);
        transition:filter gesso-duration(shortest) gesso-easing(ease-in);
      }
    }
  }
}

.card__featured-image {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 45rem;
  justify-items: center;
  min-height: 44rem;
  position: relative;
}
.card__header{
  @include uw-no-breakout();
  margin-bottom: rem(gesso-spacing(xs));
  width: 100%;
  .card__node--event & {
    display:grid;
    grid-template-columns:1fr auto;
      .card__author{
        grid-column: 1/2;
      }
      .card__date{
        grid-column: 1/2;
      }
      .card__title{
        grid-column: 1/2;
      }
      .view-interact{
        background-color: $uw-white;
        grid-column: 2/3;
        grid-row:2/3;
        margin:0;
        padding:1rem 1rem 0 0 ;
        .uw-node__without-image & {
          grid-column: 2/3;
          grid-row:inherit;
          margin-bottom:1rem;
          padding:0;
        }
      }
  }
}
.card__date {
  font-size: rem(gesso-font-size(0));
  margin-bottom: rem(gesso-spacing(sm));
  position:relative;
}

.card__title {
  margin:0 0 rem(gesso-spacing(xs)) 0;
  padding:0;
  width: 100%;
  a {
    @include link-reverse(
        $card-link-color,
        $card-link-color-hover
    );
  }
}

.card__author{
  @include uw-no-breakout();
  font-family: gesso-font-family(systemmedium);
  font-size: gesso-font-size(-1);
  margin-top: 0;
  padding: 0 0 gesso-spacing(xs) 0;

  a {
    @include link(
        $card-link-color,
        $card-link-color-hover
    );
  }
}

// body
.card__body {
  width: 100%;
}

.card__content {
  margin-bottom: rem(gesso-spacing(md));
  width: 100%;
  &:empty{
    margin-bottom:0;
  }
}


.card__position {
  color: $uw-black;
  font-size: 1.26562rem;
}

// footer
.card__footer {
  width: 100%;
}

.card__tags{
  margin:0;
  padding:0;
  width: 100%;
}

.card__readmore {
  text-align: right;
}

.card__social{
  max-width:20rem;
  width: 100%;
}

.card__project{
 &-members--content{
  @include uw-flex-grid();
   .card__project-member{
     @include flex(1 1 auto);
     @include flex-grow(1);
     width: 45%;
   }
   @include medium{
     .card__project-member{
       @include flex(1 1 auto);
       @include flex-grow(1);
       width: 20%;
     }
   }
 }
}


// Have not worked on card feature.
.card--feature {
  .card__body {
    padding-top: $card-padding;
  }

  .card__media {
    margin-bottom: 0;
  }

  @include breakpoint(gesso-breakpoint(md)) {
    flex-direction: row;

    .card__body {
      max-width: 600px;
      padding: $card-padding 2vw 0;
    }

    .card__media {
      order: initial;
    }
  }
}
