{% import '@base/macros/uw.macro.twig' as macros %}

{% if show_header is null %}
  {% set show_header = 'yes' %}
{% endif %}

{% if type == 'teaser' %}
  {% set show_title = 'yes' %}
{% elseif media and media.type == 'image' %}
  {% set show_title = 'no' %}
  {% set show_header = 'no' %}
{% else %}
  {% set show_title = 'no' %}
{% endif %}

{% if show_image is null %}
  {% set show_image = 'yes' %}
{% endif %}

<article class="card{% if type %} card__{{ type }} {% endif %}{% if modifier_classes %} card__{{ modifier_classes }}{% endif %}{% if show_hover %} card--show-hover{% endif %}" {% if type == 'banner' %} id="{{ type }}{{ loop.index }}-{{ banners.uuid }}"{% endif %}>
  {% if media %}
    {% include '@components/card/card-elements/_media.twig' with {
      'media': media,
      'header': header,
    } %}
  {% endif %}

  {% if image and show_image == 'yes' and bundle != 'uw_ct_profile' %}
    {% include '@components/card/card-elements/_image.twig' with {
      'image': image
    } %}
  {% endif %}



  {% if header and show_header == 'yes' %}
    {% include '@components/card/card-elements/_header.twig' with {
      'header': header,
      'show_title': show_title,
      'type': type,
      'image': image,
      'bundle': bundle
    } %}
  {% endif %}

  {% if content or banner %}
    <div class="card__body">
      {% if banner %}
        {% include '@components/card/card-elements/_banner.twig' with {
          'banner': banner,
        } %}
      {% endif %}

      {% if content %}
        {% include '@components/card/card-elements/_content.twig' with {
          'content': content,
        } %}
      {% endif %}
    </div>
  {% endif %}

  {% if footer %}
    <div class="card__footer">

      {% include '@components/card/card-elements/_footer-elements.twig' with {
        'footer': footer
      } %}

      {% if read_more and url %}
        <div class="card__readmore">
          {{ macros.readmore(url, title) }}
        </div>
      {% endif %}

      {%  if social_media %}
        <div class="card__social {{ social_media_placement }}">
          {% include "@components/menu/menu--social/menu--social.twig" %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if tags %}
    {% include '@components/card/card-elements/_tags.twig' with {
      'tags': tags
    } %}
  {% endif %}

</article>
