{% import '@base/macros/uw.macro.twig' as macros %}
<ul class="tag-list {{ modifier_classes }}">
  {% for item in items %}
    <li class="tag-list__item {%  if item.faculty %}{{ item.faculty }}{%  endif %}">
       {{ macros.tag(item.url, item.title, tag_type) }}
    </li>
  {% endfor %}
</ul>
