// @file
// Styles for Grid Layout.

$grid-gutter: gesso-get-map(gutter-width);

.l-grid {
  @include flex-grid(1, $grid-gutter, 0);

  @supports (display:grid) {
    @include css-fixed-grid(1);
  }
}

.l-grid--2col {
  @include flex-grid(1, $grid-gutter, 0);

  @supports (display: grid) {
    @include css-fixed-grid(1);
  }

  @include breakpoint(600px) {
    > * {
      @include set-flex-column(2, $grid-gutter, 333px);
    }

    @supports (display: grid) {
      @include set-css-fixed-columns(2, $grid-gutter, true);
    }
  }
}

.l-grid--3col {
  @include flex-grid(1, $grid-gutter, 0);

  @supports (display: grid) {
    @include css-fixed-grid(1);
  }

  @include breakpoint(760px) {
   > * {
     @include set-flex-column(3, $grid-gutter, 333px);
   }

    @supports (display: grid) {
      @include set-css-fixed-columns(3, $grid-gutter, true);
    }
  }
}

.l-grid--4col {
  @include flex-grid(1, $grid-gutter, 0);

  @supports (display: grid) {
    @include css-fixed-grid(1);
  }

  @include breakpoint(600px 800px) {
    > * {
      @include set-flex-column(2, $grid-gutter, 333px);
    }

    @supports (display: grid) {
      @include set-css-fixed-columns(2, $grid-gutter, true);
    }
  }

  @include breakpoint(801px) {
    > * {
      @include set-flex-column(4, $grid-gutter, 0);
    }

    @supports (display: grid) {
      @include set-css-fixed-columns(4, $grid-gutter, true);
    }
  }
}

.l-grid--6col {
  @include flex-grid(1, $grid-gutter, 0);

  @supports (display: grid) {
    @include css-fixed-grid(1);
  }

  @include breakpoint(600px 999px) {
    > * {
      @include set-flex-column(3, $grid-gutter, 0);
    }

    @supports (display: grid) {
      @include set-css-fixed-columns(3, $grid-gutter, true);
    }
  }

  @include breakpoint(1000px) {
    > * {
      @include set-flex-column(6, $grid-gutter, 0);
    }

    @supports (display: grid) {
      @include set-css-fixed-columns(6, $grid-gutter, true);
    }
  }
}
