{% set content_list = [] %}
{% for type, list in lists %}
  {% set content_list = content_list|merge([type]) %}
{% endfor %}

{% set button_modifier_classes -%}
  button  button--large  {{ modifier_classes }}
{%- endset %}

{% embed '@components/tabs/_tabs.twig' with {
  'tab_type': 'content',
  'content_list': content_list,
  'button_modifier_classes': button_modifier_classes,
} %}

  {% for type, list in lists %}
    {% for info in list %}

      {% if loop.parent.loop.index == 1 %}
        {% block content_area_1 %}
          {% include '@components/multi-type-list/_multi-tab-list-include-content.twig' with {
            'type': type,
            'lists': lists,
          } %}
          {% if view_all %}
            <div class="uw-multi-type-list__button">
              {% include '@components/button/button--large/button--large.twig' with {
                'url': view_all[type].url,
                'text': view_all[type].text,
              } %}
            </div>
          {% endif %}
        {% endblock %}
      {% elseif loop.parent.loop.index == 2 %}
        {% block content_area_2 %}
          {% include '@components/multi-type-list/_multi-tab-list-include-content.twig' with {
            'type': type,
            'lists': lists,
            'view_all': view_all,
          } %}
          {% if view_all %}
            <div class="uw-multi-type-list__button">
              {% include '@components/button/button--large/button--large.twig' with {
                'url': view_all[type].url,
                'text': view_all[type].text,
              } %}
            </div>
          {% endif %}
        {% endblock %}
      {% elseif loop.parent.loop.index == 3 %}
        {% block content_area_3 %}
          {% include '@components/multi-type-list/_multi-tab-list-include-content.twig' with {
            'type': type,
            'lists': lists,
            'view_all': view_all,
          } %}
          {% if view_all %}
            <div class="uw-multi-type-list__button">
              {% include '@components/button/button--large/button--large.twig' with {
                'url': view_all[type].url,
                'text': view_all[type].text,
              } %}
            </div>
          {% endif %}
        {% endblock %}
      {% endif %}

    {% endfor %}

  {% endfor %}

{% endembed %}