.layout--uw-4-col {
  display: grid;
  gap:$grid-gap;
  grid-template-columns:100%;
  &.even-split {
    @include small{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    @include large {
      grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-left {
    @include small{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include large {
      grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-second {
    @include small{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include large {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  &.larger-third {
    @include small{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include large {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
    }
  }
  &.larger-right {
    @include small{
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include large {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr);
    }
  }
  &.legacy-23-27-27-23 {
    @include small{
      grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
    }
    @include large {
      grid-template-columns: minmax(0, 0.8fr) minmax(0, 1.1fr) minmax(0,  1.1fr) minmax(0, 0.8fr);
    }
  }
  .layout__region{

    &--first {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &--second {
      grid-column: 1 / 2;
      @include small{
        grid-column: 2 / 3;
      }
      @include large{
        grid-column: 2 / 3;
      }
    }
    &--third {
      @include small {
        grid-column: 1 / 2;
      }
      @include large{
        grid-column: 3 / 4;
        grid-row:1 / 2;
      }
    }
    &--fourth {
      @include small{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      }
      @include large{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }
    }
  }
}
