// @file
// Styles for UW Tabs.

.uw-tabs {
  margin:gesso-spacing(sm) auto;

  &.catalog {

    @include medium {
      padding: 0;
    }
  }

  width: 100%;

  .hide-js{
    display:none;
    html:not(.js) &{
      border-bottom:2px solid $button-background-color-hover;
      display:block;
      margin-bottom: gesso-spacing(xs);
      padding-bottom: gesso-spacing(xs);
    }
  }
}

//buttons wrapper
.uw-tab {
  @include flexbox();

  @supports (scrollbar-width: none) {
    scrollbar-width: none;
  }

  overflow-y: scroll;

  @include medium {
    overflow-y: initial;
  }

  html:not(.js) &{
    display:none;
  }

  a {
    white-space: nowrap;
  }
}

.uw-tab::-webkit-scrollbar {
  display: none;
}

// button
.uw-tablinks {
  border-bottom: 0.4rem solid #fff;
  font-weight:inherit;
  margin:0 0 0 0.15rem;
  max-width: inherit;
  padding: 1rem 2rem;
  @include medium{
    border-bottom: 0.4rem solid #fff;
    font-weight:inherit;
    margin:0 0 0 0.15rem;
    max-width: inherit;
    padding: 1rem 2rem;
  }
  &[aria-selected="true"] {
    background: $button-background-color-hover;
    border-bottom: 0.4rem solid $button-text-color-hover;
    color: $button-text-color-hover;
    &:hover{
      border-bottom: 0.4rem solid #ddd;
    }
  }

  &:hover{
    border-bottom: 0.4rem solid #fff;
  }
}

.uw-tabcontent[role="tabpanel"] {
  @include uw-flex-grid();
  padding-top: gesso-spacing(md);

  &[hidden] {
    display:none;
  }
}

html:not(.js) .uw-tabcontent[role="tabpanel"][hidden]{
 @include flexbox();
}

.uw-tabcontent[role="tabpanel"] .card{
  @include uw-flex-grid-item();
}


.block-local-tasks-block{
  nav nav ul li a {
    font-family: gesso-font-family(systemmedium);
  }
}

.uw-tablinks {
  &.active {
    border-bottom: 0.4rem solid #4e4e4e;

  }
}
