.uw-whos-online-block {
  h3 {
    font-size: 15px;
    margin: 0 0 0 -5px;
  }

  span {
    display: inline;

    &:last-child {
      display: inline;
      font-size: 80%;
      font-weight: bold;
    }
  }

  button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;

    &:focus {
      border-bottom: 1px dotted #000;
      margin-bottom: -1px;
    }
  }
}
