<div class="uw-whos-online-block">
  {% if privileged or others %}
    <div class="uw_privileged">
      <h3><span>&#9662;</span> Privileged users <span>({{ privileged|length }})</span></h3>
      <ul>
        {% if privileged %}
          {% for name in privileged %}
            <li>{{ name }}</li>
          {% endfor %}
        {% else %}
          {{ 'No online users.'|t }}
        {% endif %}
      </ul>
    </div>
    <div class="uw_other">
      <h3><span>&#9662;</span> Other users <span>({{ others|length }})</span></h3>
      <ul>
        {% if others %}
          {% for name in others %}
            <li>{{ name }}</li>
          {% endfor %}
        {% else %}
          <li>None</li>
        {% endif %}
      </ul>
    </div>
  {% else %}
    {{ 'No online users.'|t }}
  {% endif %}
</div>
