.uw-profiles {
  .uw-profile {
    padding-bottom: 1rem;

    &__infobar {
      display: block;
    }

    &__image {
      display: inline-block;
      padding-right: 1rem;
      vertical-align: top;
    }

    &__personal {
      display: inline-block;
    }

    &__title {
      color: #80001f;
      font-weight: 400;

      h2 {
        a {
          color: gesso-brand('org-school', 'lvl4');
          text-decoration: none;
        }
        padding: 0;
      }
    }

    &__position {
      line-height: 0;
    }
  }
}
