<div class="uw-profiles">
  {% embed '@components/content-grid-list/content-grid-list.twig' %}
    {% block content %}
      {% for profile in profiles %}
        {% include '@components/card/card--teaser/_card--teaser.twig' with {
          'teaser': profile,
          'type': 'teaser',
        } %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
