// BreakPoint hint

.breakpoint {
  background-color: rgba(ForestGreen, 0.7);
  color: gesso-brand('org-default', uw-white, lvl1);
  display: block;
  font-family:gesso-font-family(systemmedium);
  font-size: 1rem;
  padding: 0.6rem;
  position: fixed;
  top: 7rem;
  width: auto;
  z-index: gesso-z-index(overlay);
  &::before {
    content: "no break- Phone up";
  }


  @include xs {
    &::before {
      content: "xs";
    }
    background-color: rgba(DarkOrange, 0.7);
  }

  @include small {
    &::before {
      content: "small";
    }
    background-color: rgba(FireBrick, 0.7);
  }
  @include medium {
    &::before {
      content: "medium";
    }
    background-color: rgba(Yellow , 0.7);
    color: gesso-brand('org-default', uw-black, lvl4);
  }

  @include large {
    &::before {
      content: "large";
    }
    background-color: rgba(blue, 0.7);
    color: gesso-brand('org-default', uw-white, lvl1);

  }
  @include xl {
    &::before {
      content: "xl";
    }
    background-color: rgba(CadetBlue, 0.7);
    color: gesso-brand('org-default', uw-white, lvl1);

  }
  @include xxl {
    &::before {
      content: "xxl";
    }
    background-color: rgba(Coral , 0.7);
    color: gesso-brand('org-default', uw-white, lvl1);

  }
  @include onek {
    &::before {
      content: "onek - 1K";
    }
    background-color: rgba(Aquamarine  , 0.7);
    color: gesso-brand('org-default', uw-black, lvl4);

  }

  @include twok {
    &::before {
      content: "twok - 2K";
    }
    background-color: rgba(MediumSlateBlue , 0.7);

  }

}
