.view {
  // With Filters
  &.with-filters {
    .view-content {
      //@include uw-flex-grid();
      //grid-column:1/2;
      //grid-row:2/3;
      margin-top:1rem;
      width:100%;
      &--message {
        margin-top:1rem;
      }

      @include medium{
        margin-top:3rem;
        &--message {
          margin-top:3rem;
        }
      }
    }
    &.view-uw-view-contacts {
      .view-content { gap:0;}
    }
  }
}
