// @file
// Styles for the Toolbar module.

/* stylelint-disable-next-line selector-no-qualifying-type */
ul.toolbar-menu {
  font-size:rem(gesso-font-size(-2));

  li {
    margin-bottom: 0;
    padding-left: 0;
  }
}
/* stylelint-disable-next-line selector-no-qualifying-type */
.org-default .toolbar .toolbar-bar .toolbar-item {
    color: $uw-white;
    &:hover,
    &:focus {
      color: $uw-white;
    }
  }
