    <script type="application/json" data-drupal-selector="drupal-settings-json">{}</script>
    <script src="../../../../core/ready.min.js?v=1.0.8"></script>
    <script src="../../../../core/jquery.min.js?v=2.2.4"></script>
    <script src="../../../../core/jquery.once.min.js?v=2.1.1"></script>
    <script src="../../../../core/drupalSettingsLoader.js?v=8.3.7"></script>
    <script src="../../../../core/drupal.js?v=8.3.7"></script>
    <script src="../../../../core/drupal.init.js?v=8.3.7"></script>
    <script src="../../../js/overrides/collapse.js?{{ cacheBuster }}"></script>
    <script src="../../../js/overrides/dropbutton.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/common.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/primary-menu.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/mobile-menu.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/scripts.min.js?{{ cacheBuster }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/component_scripts.min.js"></script>
    <script src="../../../source/_patterns/04-components/whos-online/whos-online.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
  </body>
</html>
