// @file
// HTML styles.

html {
  box-sizing: border-box;
  min-height: 100%;
  text-size-adjust: 100%;
}
.no-scroll {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
